<%= javascript_include_tag "payroll_logs/classes" %>
<%= javascript_include_tag "payroll_logs/new_payroll_logs" %>
<%= javascript_include_tag "payroll_logs/new_payroll_logs_functions" %>
<%= javascript_include_tag "payroll_logs/new_index_tabs" %>

<%= form_for @payroll_log, :validate => true, :html => { :class => 'form-horizontal row-border', 
  :data => {:toggle => 'validator', :model_name => PayrollLog.model_name, :reference_id => @payroll_log.id} } do |f| %>
	
	<div class="form-group">
    <div class="col-sm-11 col-md-offset-1">
    	<h2><b><%= f.label :Empleados %></b></h2>
    </div>
  </div>

	<!-- E M P L O Y E E S -->
  <div class="form-group">
    <div class="col-sm-8 col-md-offset-2">
      <div class="checkbox icheck">
        <label>
          <input type="checkbox" id="emplotee_select_all"> Seleccionar/Deseleccionar
        </label>
      </div>

      <div id="options_employees" class="checkbox icheck">
        <label>
          <%= radio_button_tag 'select_method', 'all', true, class: 'align-checkbox', :checked => true %>
          Todos
        </label>
        <label>
          <%= radio_button_tag 'select_method', 'boss', false, class: 'align-checkbox' %>
          Jefe Inmediatos
        </label>
        <label>
          <%= radio_button_tag 'select_method', 'department', false, class: 'align-checkbox' %>
          Por Departamento
        </label>
      </div>

      <div class="" id="list_departments" style="border-top:0px;">
        <div class="col-sm-5" style="width: 46%; padding-bottom: 10px;padding-left: 1px;">
          <% p = @department.empty? ? "No existen Departamentos" : "Por favor selecciona" %>
          <%= collection_select("departments", "employees", @department, :id, :name, 
              {:prompt => p}, {:class => 'form-control'}) %>
        </div>
      </div>

      <div class="" id="list_superior" style="border-top:0px;">
        <div class="col-sm-5" style="width: 46%; padding-bottom: 10px;padding-left: 1px;">
          <% p = @superior.empty? ? "No existen Jefes" : "Por favor selecciona" %>
            <%= collection_select("superiors", "employees", @superior, :id, :full_name,
              {:prompt => p}, {:class => 'form-control'}) %>
        </div>
      </div>

      <%= select("payroll_logs", "employee_ids", 
        options_for_select( @employees.map {|p| ["#{p.entity.surname} #{p.entity.name}", p.id, 
          { 'data-id' => dom_id(p), 'data-sup' => p.employee_id, 'data-dep' => p.department_id } ]} ), 
        { include_blank: false }, {:multiple => true}) %>
    </div>
  </div>
  <!-- E M P L O Y E E S -->
	
	<div class="form-group">
    <div class="col-sm-11 col-md-offset-1">
    	<h2><b><%= f.label 'Labores' %></b></h2>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :payroll_date, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-3" id="dp3">
      <div class="input-group form-group_">
        <%= f.text_field :payroll_date, :class => 'form-control', 
        :value => Time.now.to_date - 1.days, :required => true  %>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
    <div class="col-sm-3">
    	<div class="input-group">
      	<input id="last_fingering" type="button" value="Ultima digitacion" class="btn btn-primary" style="margin-bottom: 16px;" >
    	</div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">

      <%= link_to_add_fields("", f, :payroll_histories, "right add-payroll-log addFields") %>
      
      <div class="panel-body">
        <table id="products_items" class="table table-hover table-bordered table-striped" cellspacing="0">
          <thead>
            <tr>
              <th id="th_employees">Empleados</th>
              <th id="th_cc">Centro De Costo</th>
              <th id="th_task">Labor</th>
              <th id="th_time">Cant. Trabajada</th>
              <th id="th_performace">Rendimiento</th>
              <th id="th_payment_type">Tipo de pago</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
				<%= f.submit nil, :class => 'btn btn-primary', :tabindex => '-1' %>
				<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
				            payrolls_path, :class => 'btn-default btn', :tabindex => '-1' %>
				<%= f.check_box :continue_editing, {:checked=>true} %>
				<%= label_tag 'continue-editing', 'Continuar editando al actualizar', class: 'checkbox-label' %>
      </div>
    </div>
  </div>

<% end %>


<input type="hidden" id="delete_employee_to_payment_payroll_logs_path" value="<%= delete_employee_to_payment_payroll_logs_path %>">
<input type="hidden" id="search_employee_payroll_logs_path" value="<%= search_employee_payroll_logs_path %>">
<input type="hidden" id="search_cost_payroll_logs_path" value="<%= search_cost_payroll_logs_path %>">
<input type="hidden" id="search_task_payroll_logs_path" value="<%= search_task_payroll_logs_path %>">
<input type="hidden" id="get_history_json_payroll_logs_path" value="<%= get_history_json_payroll_logs_path %>">
<input type="hidden" id="get_employees_payroll_logs_path" value="<%= get_employees_payroll_logs_path %>">

<!--
<input type="hidden" id="load_em_employees_path" value="<%= load_em_employees_path %>">
<input type="hidden" id="load_cc_tasks_path" value="<%= load_cc_tasks_path %>">
<input type="hidden" id="load_cc_centro_de_costos_path" value="<%= load_cc_costs_centers_path %>">
<input type="hidden" id="load_payrolls_payrolls_path" value="<%= load_payrolls_payrolls_path %>">
<input type="hidden" id="the_company_id" value="<%= @payroll_log.payroll.company_id %>">
-->
