<%- model_class = PayrollLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
  <h3> 
	<%= @payroll_log.payroll.payroll_type.description %> del 
	<%= @payroll_log.payroll.start_date %> al 
	<%= @payroll_log.payroll.end_date %>
  </h3>
</div>
<%= render :partial => 'form' %>

 <div class="accordion" id="accordion">
	<% @count = 0 %>
	<% @result.each do |e| %>
	<div class="accordion-group">
		<div class="accordion-heading">
 			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= @count %>">
 				<%= e[0][1] %>
 			</a>
 		</div>
		<div id="collapse<%= @count %>" class="accordion-body collapse">
 			<div class="accordion-inner">
				<table class="table table-hover table-bordered table-striped" id="employee_table_<%= e[0][0] %>">
					<thead>
						<td>Fecha</td>
						<td>Labor</td>
						<td>Cantidad</td>
						<td>Centro de Costos</td>
						<td>Tipo de Pago</td>
						<td>Accion</td>
					</thead>
					<tbody>
					<% e[1].each do |h| %>
						<tr>
							<td><%= @payroll_log.payroll_date %></td>
							<td><%= h.task.ntask %></td>
							<td><%= h.time_worked %></td>
							<td><%= h.centro_de_costo.nombre_cc %></td>
							<td><%= h.payment_type %></td>
							<td>delete</td>
						</tr>
						<% end %>
					</tbody>
				</table>
 			</div>
 		</div>
	</div>
	<% @count += 1 %>
	<% end %>
</div>

<div id="kenneth"></div>