<%- model_class = PayrollLog -%>

<div class="page-heading">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
						:default => "Edit #{model_class.model_name.human}") %> |
			<%= @payroll_log.payroll.payroll_type.description %> del 
			<%= @payroll_log.payroll.start_date %> al 
			<%= @payroll_log.payroll.end_date %>
	</h1>
	<div class="options">
    <div class="btn-toolbar">
      Cant. de empleados: <label id="employee_counter"><%= @result.count %></label> <p></p>
      Acumulado: <label id="payroll_total"><%= number_with_precision(@payroll_log.payroll_total, :precision => 2, :separator => '.', :delimiter => ',') %></label>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">
  	<div class="panel panel-primary" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

      <div class="panel-heading"></div>

      <div class="panel-body panel-no-padding">
				<%= render :partial => 'form' %>

				<div class="form-group">
			    <div class="col-sm-11 col-md-offset-1">
			    	<h2><b><label>Detalle Empleados</label></b></h2>
			    </div>
			  </div>

				<div class="form-group">
          <div class="col-sm-12">
            <div class="accordion-group" id="accordion">
							<% @count = 0 %>
							<% @total = 0 %>
							<% @result.each do |e| %>
								<div class="panel accordion-item">
									<a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsea<%= @count %>" aria-expanded="false">
										<h2><%= e[0][1] %></h2>
									</a>
									<div id="collapsea<%= @count %>" class="collapse" aria-expanded="false" style="height: 0px;">
										<div class="accordion-body">
											<table class="table table-hover table-bordered table-striped" id="employee_table_<%= e[0][0] %>">
												<thead>
													<td>Fecha</td>
													<td>Código</td>
													<td>Labor</td>
													<td>Costo</td>
													<td>Unidad</td>
													<td>Cant. Trabajada</td>
													<td>Código</td>
													<td>Centro de Costos</td>
													<td>Rendimiento</td>
													<td>Unidad</td>
													<td>Tipo de Pago</td>
													<td>Total</td>
													<td>Acción</td>													
												</thead>
												<tbody>
													<% e[1].each do |h| %>
														<tr id="tr_<%= h.id %>_<%= e[0][0] %>">
															<td><%= h.payroll_date %></td>
															<td><%= h.task.itask %></td>
															<td><%= h.task.ntask %></td>
															<td><%= number_with_precision(h.task.mlaborcost, :precision => 2, :separator => '.', :delimiter => ',') %></td>
															<td><%= h.task.nunidad %></td>
															<td><%= h.time_worked %></td>
															<td><%= h.costs_center.icost_center %></td>
															<td><%= h.costs_center.name_cc %></td>
															<td id="performance_<%= h.id %>"><%= h.performance %></td>
															<td><%= h.task.unit_performance %></td>
															<td><%= h.payment_type.present? ? h.payment_type.name.to_s : '' %></td>
															<td><%= number_with_precision(h.total.to_f, :precision => 2, :separator => '.', :delimiter => ',') %></td>
															<% @total += h.total.to_f %>
															<td>
																<button type="button" class="btn btn-xs btn-danger-alt"><i class="fa fa-trash-o"></i></button>
																<input type="hidden" name="identificador" id="payroll_history_id" value="<%= h.id %>">
																<input type="hidden" id="employee_id" value="<%= e[0][0] %>">
																<input type="hidden" id="new" value="false"/>
															</td>
														</tr>
													<% end %>
														<tr class="employee_count" id="total_<%= e[0][0] %>">
															<td colspan="11" class="align_right">Total:</td>
															<td colspan="3">
																<%= number_with_precision(@total, :precision => 2, :separator => '.', :delimiter => ',') %>
															</td>
														</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<% @total = 0 %>
								<% @count += 1 %>
							<% end %>
						</div>
          </div>
        </div>

				<p style="clear:both;">&nbsp;</p>

      </div>
    </div>
  </div>
</div>
