<%- model_class = Employee -%>
<%- model_class_entity = Entity -%>
<div id="employees">
 <%= will_paginate :class =>'pagination pagination-centered' %>
  <table class="table table-striped" id="employee-data">
    <thead>
      <tr>
        <th><%= model_class_entity.human_attribute_name(:entityid) %></th>
        <th><%= model_class_entity.human_attribute_name(:name) %></th>
        <th><%= model_class_entity.human_attribute_name(:surname) %></th>
      </tr>
    </thead>
    <tbody>
      <% unless @employees.empty?  %>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= link_to employee.entity.entityid, employee_path(employee) %></td>
            <td>
              <%= link_to employee.entity.name, "#modal#{employee.entity.id}", "data-toggle" => "modal"  %>
            </td>
            <td>
              <%= link_to employee.entity.surname, "#modal#{employee.entity.id}", "data-toggle" => "modal"  %>
            </td>
            <div id="modal<%= employee.entity.id %>" class="modal hide fade" rode="dialog" arial-labelledby="ModalLabel" arial-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3><%=t '.actions', :default => t("helpers.actions") %></h3>
              </div>
              <div class="modal-body">
                <% if can? :update, Employee %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_employee_path(employee), :class => 'btn btn-mini' %>
                <% end %>

                <% if can? :update, DetailPersonnelAction %>
                <%= link_to t('.personnel_action', :default => t("helpers.links.personnel_action")),
                          detail_personnel_actions_path, :class => 'btn btn-mini' %>
                <% end %> 
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" arial-hidden="true">Close</button>
              </div>
            </div>
          </tr>
        <% end %>
      <% else %>
        <div class="alert alert-block alert-error">
          <%= t("notice.no_results") %>
        </div>
      <% end %>
    </tbody>
  </table>
</div>