<script type="text/javascript">
	var cantons = [];
	var district = [];
  <% @canton.each do |canton| %>
		cantons.push(new Array(<%= canton.province_id %>, '<%=h canton.name %>', <%= canton.id %>));
  <% end %>
  <% @district.each do |district| %>
		district.push(new Array(<%= district.canton_id %>, '<%=h district.name %>', <%= district.id %>));
  <% end %>
</script>

<%= javascript_include_tag 'resources' %>
<%= javascript_include_tag 'employees/dynamic_fields' %>
<%= javascript_include_tag 'employees/employee' %>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

    <% if @employee.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><%= pluralize(@employee.errors.count, "error") %> no permitieron guardar este empleado </h3>
        <% @employee.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <br>
      </div>
    <% end %>
    
    <div class="tab-container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Personal</a></li>
        <li><a href="#tab2" data-toggle="tab"><%= t("tabs.contact") %></a></li>
        <li><a href="#tab3" data-toggle="tab">Laboral</a></li>
      </ul>
      <%= form_for @employee, :validate => true, :html => { :class => 'form-horizontal', :multipart => true, 
        :data => {:toggle => 'validator', :model_name => Employee.model_name, :reference_id => @employee.id} } do |f| %>
        
        <div class="tab-content">
          <div class="tab-pane" id="tab2">
            <h2>Teléfonos</h2>
            <hr>
            <%= f.fields_for :entity do |builder| %>
              <%= builder.fields_for :telephones do |phone| %>
                <%= render 'forms/telephone_form', :f => phone %>
              <% end %>
              
              <%= link_to_add_fields("Agregar otro teléfono", builder, :telephones, 'add-fields-telephone') %>           
              <%= hidden_field 'count_phones', 'employees', :value => "1", :class => "hidden_fields"  %>

              <h2>Emails</h2>
              <hr>
              <%= builder.fields_for :emails do |email| %>
                <%= render 'forms/email_form', :f => email %>
              <% end %>
              <%= link_to_add_fields("Agregar otro email", builder, :emails, 'add-fields-email') %>
              <%= hidden_field 'count_emails', 'employees', :value => "1", :class => "hidden_fields" %>

              <h2>Dirección</h2>
              <hr>
              <%= builder.fields_for :address do |address| %>
                <%= render 'forms/address_form', :f => address %>
              <% end %>
          </div>

          <div class="tab-pane active" id="tab1">
            <h2>Datos Personales</h2>
            <hr>
              <%= render 'forms/entity_form', :f => builder %>
            <% end %>
            
            <div class="form-group">
              <%= f.label :gender, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <span class="input-group-addon">G</span>
                  <%= f.select(:gender, translate_enum(:gender), {:include_blank => false}, {:class => 'form-control', :disabled => 'true'}) %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :birthday, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <%= f.text_field :birthday, :class => 'form-control', :disabled => 'true' %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :marital_status, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <span class="input-group-addon">EC</span>
                  <%= f.select( :marital_status, translate_enum(:marital_status), {:include_blank => false}, {:class => 'form-control'}) %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :number_of_dependents, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <span class="input-group-addon">D</span>
                  <%= f.number_field :number_of_dependents, :class => 'form-control', :min => '0' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :spouse, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <span class="input-group-addon">C</span>
                  <%= f.text_field :spouse, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <% if @employee.photo.photo_url %>
              <%= f.label :photo, :class => 'col-sm-2 control-label' %>
              <%= image_tag(@employee.photo.photo_url, :class => 'img-thumbnail', :id => 'photo')  %>
            <% end %>
          </div>
          
          <div class="tab-pane" id="tab3">
            <h2>Datos Laborales</h2>
            <hr>
            
            <div class="form-group">
              <%= f.label :number_employee, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <span class="input-group-addon">N</span>
                  <%= f.text_field :number_employee, :class => 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <%= f.label :join_date, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <%= f.text_field :join_date, :class => 'form-control' %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :social_insurance, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :social_insurance, :class => 'form-control',  :required => true,
                    :data => {:parsley_maxlength => 20, :parsley_minlength => 6} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :account_bncr, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :account_bncr, :class => 'form-control', :required => true, 
                  :data => {:parsley_minlength => 6, :parsley_maxlength=> 20} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :occupation_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <%=  f.hidden_field :occupation_id %>
                  <%= text_field_tag 'load_occupation', nil, :class => 'form-control', :for => :occupation_id %>
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :position_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <%= f.hidden_field :position_id  %>
                  <%= text_field_tag 'load_position', nil, :class => 'form-control', :for => :position_id  %>
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :employee_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <%= f.hidden_field :employee_id %>
                  <%= text_field_tag 'load_employee',nil, :class => 'form-control 
                                      search-image-employee', :for=>:employee_id %>
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :department_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <%= f.hidden_field :department_id %>
                  <%= text_field_tag 'load_department', nil, :class => 'form-control', :for => :department_id %>
                  
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :payment_frequency_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.collection_select(:payment_frequency_id, @payment_frequency, :id, :name, 
                      options = {:prompt => true}, html_options = {:class => 'form-control'}) %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :means_of_payment_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.collection_select(:means_of_payment_id, @mean_of_payment, :id, :name, 
                      options = {:prompt => true}, html_options = {:class => 'form-control'}) %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :payroll_type_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.collection_select(:payroll_type_id, @payroll_type, :id, :description, 
                    options = {:prompt => true}, html_options = {:class => 'form-control'}) %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :payment_unit_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.collection_select(:payment_unit_id, @payment_unit, :id, :description,
                      options = {:prompt => true}, html_options = {:class => 'form-control'}) %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :price_defined_work, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.check_box :price_defined_work %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :wage_payment, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :wage_payment, :class => 'form-control' %>
              </div>
            </div>
            
            <div class="form-group">
              <%= f.label :currency_id, :class => 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.collection_select(:currency_id, @currencies, :id, :name, 
                  options = {:prompt => false}, html_options = {:class => 'form-control' }) %>
              </div>
            </div>
          </div>
          
        </div>    

        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
            <%= f.submit nil, :class => 'btn-primary btn' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        employees_path, :class => 'btn-default btn' %>
            </div>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>

