<%- model_class = Employee -%>
<%- model_class_entity = Entity -%>
<%= javascript_include_tag 'employees/script' %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %>
  <button id="sync-fb" class="btn btn-primary pull-right">
    <i class='icon-refresh'></i>
  </button></h1>
</div>

<!-- search -->
<legend>  
  <%= form_tag :search_employees, :id => "search_form", :class => "form-search", :method => "get" do %>
    <div class="control-group search">
      <%= text_field_tag :search_id, params[:search_id], :class => "search-query",
       :placeholder => model_class.human_attribute_name(:id) %>

      <%= text_field_tag :search_name, params[:search_name], :class => "search-query",
       :placeholder => model_class.human_attribute_name(:name) %>

      <%= text_field_tag :search_surname, params[:search_surname], :class => "search-query",
       :placeholder => model_class.human_attribute_name(:surname) %>
    </div>

    <div class="control-group search">
      <%= select_tag(:search_department, options_from_collection_for_select(@all_departments, :id, :name), 
      {:prompt => 'Departamento'}) %>

      <%= select_tag(:search_entities, options_for_select(@employees.map {|s| [s.entity.name, s.id] }),
      {:prompt => 'Jefe Inmediato'}) %>


      <button class="btn" id="clear" type="button">Limpiar</button>
    </div>
  <% end %>
</legend>
<!-- search -->

<%= render "employees" %>