<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:entity_id) %>:</strong></dt>
  <dd><%= @employee.entity_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @employee.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
  <dd><%= @employee.birthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:marital_status) %>:</strong></dt>
  <dd><%= @employee.marital_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number_of_dependents) %>:</strong></dt>
  <dd><%= @employee.number_of_dependents %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spouse) %>:</strong></dt>
  <dd><%= @employee.spouse %></dd>
  <dt><strong><%= model_class.human_attribute_name(:join_date) %>:</strong></dt>
  <dd><%= @employee.join_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:social_insurance) %>:</strong></dt>
  <dd><%= @employee.social_insurance %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department_id) %>:</strong></dt>
  <dd><%= @employee.department_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:occupation_id) %>:</strong></dt>
  <dd><%= @employee.occupation_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seller) %>:</strong></dt>
  <dd><%= @employee.seller %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_method_id) %>:</strong></dt>
  <dd><%= @employee.payment_method_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_frequency_id) %>:</strong></dt>
  <dd><%= @employee.payment_frequency_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:means_of_payment_id) %>:</strong></dt>
  <dd><%= @employee.means_of_payment_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:wage_payment) %>:</strong></dt>
  <dd><%= @employee.wage_payment %></dd>
	<dd><%= image_tag @employee.photo.photo_url(:thumb).to_s if @employee.photo %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
