<%- model_class = Position -%>

<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <div class="options">
    <div class="btn-toolbar">
      <% if can? :create, Position %>
        <%= link_to new_position_path, :class => 'btn btn-primary pull-right' do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  
  <%= render "/layouts/message" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-heading"></div>

        <div class="panel-body panel-no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:position) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @positions.each do |position| %>
                <tr>
                  <td><%= link_to position.position, position_path(position) %></td>
                  <td>
                    <% if can? :update, Position %>
                      <%= link_to edit_position_path(position), :class => 'btn btn-xs btn-success-alt' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    <% end %>
                    
                    <% if can? :destroy, Position %>
                      <%= link_to position_path(position), :method => :delete, :confirm => t('.confirm', 
                                  :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                  :class => 'btn btn-xs btn-danger-alt' do %>
                        <i class="fa fa-trash-o"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
