<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, 'Correo' %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, 'Contraseña' %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, 'Confirmar contraseña' %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, 'Contraseña actual' %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit nil, :class => 'btn btn-primary' %></div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿No está contento? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>


 <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn'  %>
