<%= javascript_include_tag "purchase_order/purchase_order" %>
<%= form_for @purchase_order, :validate => true, :html => { :class => 'form-horizontal new_purchase_order well' } do |f| %>
  <div class="warp_block_1 left">
    <div class="contentWidget" >
        <div class="labelCellTable">
          <%= f.label :vendor_id %>
        </div>
        <div class="contentCellTable">
          <%= f.hidden_field :vendor_id %>
            <%= text_field_tag "vendor_text", @vendor, :class => 'text_field required' %> <%= link_to('', '#newVendor', class: "icon-plus btn_plus right", 'data-toggle' => 'modal')  %>
        </div>
    </div>
       <div class="contentWidget  " >
        <div class="labelCellTable">
          <%= f.label :delivery_date %>
        </div>
        <div class="contentCellTable">
          <%= f.text_field :delivery_date, :class => 'text_field', :readonly => true, :value => Time.now.to_date.to_s %>
        </div>
      </div>

     <div class="contentWidget  " >
        <div class="labelCellTable">
          <%= f.label :shipping_type %>
        </div>
        <div class="contentCellTable">
          <%= f.select :shipping_type,['Patito1','Patito2'],{}, :class => 'text_field' %>
        </div>
      </div>
  </div>

  <div class="warp_block_2 right">
    <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :reference_info %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :reference_info,:class => 'text_field' %>
      </div>
    </div>

    <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :currency %>
      </div>
      <div class="contentCellTable">
        <%= f.select :currency,['Colones','Dolares'],{},:class => 'text_field' %>
      </div>
    </div>
  </div>
 <div class="clear_fix "></div>
	<div id="message-products"></div>
  <div class="new_product_field control-group">
    <div class="add_field_fake"></div>
    
    <div id="container_new_item">
      <%= link_to_add_fields("", f, :items_purchase_order,"icon-plus btn_plus right") %>
    </div>
    <table id="products_items" class=" table table-hover table-bordered table-striped">
      <tr class="header_items">
        <td class="header_code">Código</td>
        <td class="header_description">Descripción</td>
        <td class="header_quantiy">Cantidad</td>
        <td class="header_costunit">Costo Unit</td>
        <td class="header_costTotal">Costo Total</td>
      </tr>
      <!-- FIELDS FOR SEARCHED PRODUCTS -->
      <%if @search %>
        <%= f.fields_for :items_purchase_order, @search do |items| %>
          <%= render 'forms/items_purchase_order_form', :f => items %>
        <% end %>
      <% end %>
      <!-- END OF FIELDS FOR SEARCHED PRODUCTS -->
      <%= f.fields_for :items_purchase_order do |items| %>
          <%= render 'forms/items_purchase_order_form', :f => items %>
      <% end %>
    </table>
  </div>
  <div class="clear_fix top_space_15"></div>

  <div class="warp_block_3 left ">
     <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :observation %>
      </div>
      <div class="contentCellTable">
        <%= f.text_area :observation, :class => 'text_area',:rows=>5 %>
      </div>
    </div>
  </div>
  <div class="warp_block_4 right">
     <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :subtotal %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :subtotal, :class => 'text_field subtotal' , :readonly => "readonly"%>
      </div>
     </div>

     <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :taxes %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :taxes, :class => 'text_field' , :readonly => "readonly"%>
      </div>
     </div>
    <div class="contentWidget" >
        <div class="labelCellTable">
          <%= f.label :total %>
        </div>
        <div class="contentCellTable">
          <%= f.text_field :total, :class => 'text_field total', :readonly => "readonly" %>
        </div>
    </div>

  </div>




  <div class="clear_fix"></div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                purchase_orders_path, :class => 'btn' %>
  </div>
<% end %>

<!-- Modal -->
<div id="newVendor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_for @new_vendor, :validate => true, :url => createvendor_purchase_orders_path(@new_vendor), :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Crear Proveedor</h3>
  </div>
  <div class="modal-body">
		<%= f.fields_for :entity do |ent| %>
			<%= render 'forms/entity_form', :f => ent %>
		<% end %>
  </div>
  <div class="modal-footer">
    <button class="btn closeVendor" data-dismiss="modal" aria-hidden="true">Close</button>
		<%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
	<% end %>
</div>
