<%= javascript_include_tag "purchase_order/purchase_orders" %>
<%- model_class = ItemsPurchaseOrder -%>
<%- model_payment = PurchaseOrderPayment -%>
<%= form_for @purchase_order, :validate => true, 
  :html => { :class => 'form-horizontal new_purchase_order well' } do |f| %>
  <div class="warp_block_1 left">
    <div class="contentWidget" >
        <div class="labelCellTable">
          <%= f.label :vendor_id %>
        </div>
        <div class="contentCellTable">
          <%= f.hidden_field :vendor_id %>
          <%= f.text_field :vendor_name, :class => 'text_field vendor_name' %> 
          <%= link_to('', '#newVendor', class: "icon-plus btn_plus right", 'data-toggle' => 'modal')  %>
        </div>
    </div>
       <div class="contentWidget" >
        <div class="labelCellTable">
          <%= f.label :delivery_date %>
        </div>
        <div class="contentCellTable">
          <%= f.text_field :delivery_date, :class => 'text_field' %>
        </div>
      </div>

     <div class="contentWidget" >
        <div class="labelCellTable">
          <%= f.label :shipping_type %>
        </div>
        <div class="contentCellTable">
          <%= f.collection_select :shipping_type,  @shipping_types, :id, :name %>
        </div>
      </div>
  </div>

  <div class="warp_block_2 right">
    <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :document_number %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :document_number,
          :class => 'text_field', 
          :readonly => @purchase_order.document_number ? true : false,
          :placeholder => @document_number ? "Auto" : ""
        %>
      </div>
    </div>
    <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :reference_info %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :reference_info,:class => 'text_field' %>
      </div>
    </div>
    <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :document_date %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :document_date, :class => 'text_field current_date', :type => :date %>
      </div>
    </div>
    <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :currency %>
      </div>
      <div class="contentCellTable">
        <%= f.select :currency,['Colones','Dolares'],{},:class => 'text_field' %>
      </div>
    </div>
    <div>
      <br>
      Registrar Anticipo <%= check_box_tag "order_payment" %>
    </div>
  </div>

 <div class="clear_fix "></div>
	<div id="message-products"></div>
  <div class="new_product_field control-group">
    <div class="add_field_fake"></div>
    
<!--     <div id="container_new_item">
      
    </div> -->
    <table id="products_items" class="table table-hover table-striped">
      <tr class="header_items">
        <td>
          <%= model_class.human_attribute_name(:warehouse_id) %>
        </td>
        <td class="header_code">
          <%= model_class.human_attribute_name(:product) %>
        </td>
        <td class="header_description">
          <%= model_class.human_attribute_name(:description) %>
        </td>
        <td class="header_quantiy">
          <%= model_class.human_attribute_name(:quantity) %>
        </td>
        <td class="header_costunit">
          <%= model_class.human_attribute_name(:cost_unit) %>
        </td>
        <td>
          <%= model_class.human_attribute_name(:discount) %>
        </td>
        <td class="header_tax">
          <%= model_class.human_attribute_name(:tax) %>
        </td>
        <td class="header_costTotal">
          <%= model_class.human_attribute_name(:cost_total) %>
        </td>
        <td>
          <%= link_to_add_fields("", f, :items_purchase_order,"add_fields btn btn-mini btn-success icon-plus btn_plus add_items") %>
        </td>
      </tr>

      <%if params[:search] %>
        <%= f.fields_for :items_purchase_order, @cart_items, :validate => false do |items| %>
          <%= render 'forms/items_purchase_order_form', :f => items %>
        <% end %>
      <% end %>

      <%= f.fields_for :items_purchase_order, :validate => true do |items| %>
          <%= render 'forms/items_purchase_order_form', :f => items %>
      <% end %>
    </table>
  </div>
  <div class ="purchase_order_payments hide">
    <%= link_to_add_fields("", f, :purchase_order_payments,"hide add_payment") %>
    <table id="order_payment_table" class="table table-condensed">
      <thead class="header_items">
        <th><%= model_payment.human_attribute_name(:payment_option_id) %></th>
        <th><%= model_payment.human_attribute_name(:payment_type_id) %></th>
        <th><%= model_payment.human_attribute_name(:number) %></th>
        <th><%= model_payment.human_attribute_name(:amount) %></th>
      </thead>
      <%= f.fields_for :purchase_order_payments, :validate => true do |items| %>
          <%= render 'forms/purchase_order_payment_form', :f => items %>
      <% end %>
    </table>
  </div>
  <div class="clear_fix top_space_15"></div>
  <div class="warp_block_3 left ">
     <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :observation %>
      </div>
      <div class="contentCellTable">
        <%= f.text_area :observation, :class => 'text_area',:rows=>5 %>
      </div>
    </div>
  </div>
  <div class="warp_block_4 right">
     <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :subtotal %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :subtotal, :class => 'text_field subtotal', :readonly => true %>
      </div>
     </div>

     <div class="contentWidget" >
      <div class="labelCellTable">
        <%= f.label :taxes %>
      </div>
      <div class="contentCellTable">
        <%= f.text_field :taxes, :class => 'text_field' , :readonly => true %>
      </div>
     </div>
    <div class="contentWidget" >
        <div class="labelCellTable">
          <%= f.label :total %>
        </div>
        <div class="contentCellTable">
          <%= f.text_field :total, :class => 'text_field total', :readonly => true %>
        </div>
    </div>
  </div>
  <div class="clear_fix"></div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
    Imprimir PDF después de guardar <%= check_box_tag "print_pdf", :class => "pull-right" %>
  </div>
<% end %>

<div id="newVendor" class="modal hide fade" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_for @new_vendor, :validate => true, 
    :url => create_vendor_purchase_orders_path(@new_vendor), 
    :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Crear Proveedor</h3>
  </div>
  <div class="modal-body">
		<%= f.fields_for :entity do |ent| %>
			<%= render 'forms/entity_form', :f => ent %>
		<% end %>
  </div>
  <div class="modal-footer">
    <button class="btn closeVendor" data-dismiss="modal" aria-hidden="true">Close</button>
		<%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
	<% end %>
</div>
