$("#messages").html('<div class="flash notice"><%= escape_javascript(flash.discard(:notice)) %></div>');
//$("#id_<%= @product_pricing.id %>").closest("tr").replaceWith("<%= escape_javascript(render(:partial => @product_pricing)) %>");
//$("#myModal<%= @product_pricing.id %>").html("<%= escape_javascript(render(:partial =>'modal', :object => @product_pricing)) %>");
