<%- model_class = PurchaseOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:vendor_id) %></th>
      <th><%= model_class.human_attribute_name(:reference_info) %></th>
      <th><%= model_class.human_attribute_name(:currency) %></th>
      <th><%= model_class.human_attribute_name(:observation) %></th>
      <th><%= model_class.human_attribute_name(:subtotal) %></th>
      <th><%= model_class.human_attribute_name(:taxes) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:delivery_date) %></th>
      <th><%= model_class.human_attribute_name(:shipping_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_orders.each do |purchase_order| %>
      <tr>
        <td><%= link_to purchase_order.id, purchase_order_path(purchase_order) %></td>
        <td><%= purchase_order.vendor.entity.name if purchase_order.vendor %></td>
        <td><%= purchase_order.reference_info %></td>
        <td><%= purchase_order.currency %></td>
        <td><%= purchase_order.observation %></td>
        <td><%= purchase_order.subtotal %></td>
        <td><%= purchase_order.taxes %></td>
        <td><%= purchase_order.total %></td>
        <td><%= purchase_order.delivery_date %></td>
        <td><%= purchase_order.shipping_type %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_purchase_order_path(purchase_order), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      purchase_order_path(purchase_order),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_purchase_order_path,
            :class => 'btn btn-primary' %>
