<%- model_class = Occupation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @occupation.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inss_code) %>:</strong></dt>
  <dd><%= @occupation.inss_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_code) %>:</strong></dt>
  <dd><%= @occupation.other_code %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              occupations_path, :class => 'btn'  %>
  <% if can? :update, Occupation %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_occupation_path(@occupation), :class => 'btn' %>
  <% end %>

  <% if can? :destroy, Occupation %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                occupation_path(@occupation),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger' %>
  <% end %>
</div>
