<h1>Listing people</h1>

<table>
  <tr>
    <th>Id person</th>
    <th>Name</th>
    <th>First surname</th>
    <th>Second surname</th>
    <th>Birthdate</th>
    <th>Fb person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.id_person %></td>
    <td><%= person.name %></td>
    <td><%= person.first_surname %></td>
    <td><%= person.second_surname %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.fb_person %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
