<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id_person) %>:</strong></dt>
  <dd><%= @person.id_person %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @person.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_surname) %>:</strong></dt>
  <dd><%= @person.first_surname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:second_surname) %>:</strong></dt>
  <dd><%= @person.second_surname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
  <dd><%= @person.birthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipoid) %>:</strong></dt>
  <dd><%= @person.tipoid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @person.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:marital_status) %>:</strong></dt>
  <dd><%= @person.marital_status %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
