<p id="notice"><%= notice %></p>

<p>
  <b>Id person:</b>
  <%= @person.id_person %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>First surname:</b>
  <%= @person.first_surname %>
</p>

<p>
  <b>Second surname:</b>
  <%= @person.second_surname %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @person.birthdate %>
</p>

<p>
  <b>Fb person:</b>
  <%= @person.fb_person %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
