<%= javascript_include_tag "invoices/invoices" %>
<% model_subclass = InvoiceItem %>
<%= form_for @invoice, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <div>
    <div class="thumbnail pull-left">
      <div class="control-group">
        <%= f.label :customer_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :customer_name, :class => 'text_field' %>
          <%= f.hidden_field :customer_id %>

          <%= f.hidden_field :current_user, 
            :value => current_user ? current_user.email : CONSTANTS[:no_user] %>
          <%= f.hidden_field :default_company, 
            :value => session[:company_id] ? session[:company_id] : default_company %>
            
        </div>
      </div>
    </div>

    <div class="thumbnail pull-right">
      <div class="control-group">
        <%= f.label :document_number, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :document_number, :class => 'text_field', :readonly => @document_number ? true : false,
            :placeholder => @document_number ? "Auto" : ""  %>
        </div>
        <%= f.label :document_date, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :document_date, :class => 'date_select current_date' %>
        </div>
        <%= f.label :currency, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :currency, :class => 'text_field' %>
        </div>
        <%= f.label :price_list, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :price_list, :class => 'text_field' %>
        </div>
        <%= f.label :payment_term, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :payment_term, :class => 'text_field' %>
        </div>
        <%= f.label :due_date, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :due_date, :class => 'date_select' %>
        </div>
        <%= f.label :quotation_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :quotation_id, :class => 'number_field' %>
        </div>
        <%= f.label :closed, :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :closed, :class => 'check_box' %>
        </div>
      </div>
    </div>
    <div class="thumbnail">
      <table class="table invoice_items">
        <thead>
          <th class="span2">
            <%= model_subclass.human_attribute_name(:warehouse_id) %>
          </th>
          <th class="span1">
            <%= model_subclass.human_attribute_name(:code) %>
          </th>
          <th class="span8">
            <%= model_subclass.human_attribute_name(:description) %>
          </th>
          <th class="span1">
            <%= model_subclass.human_attribute_name(:ordered_quantity) %>
          </th>
          <th class="span1">
            <%= model_subclass.human_attribute_name(:available_quantity) %>
          </th>
          <th class="span1">
            <%= model_subclass.human_attribute_name(:quantity_sale) %>
          </th>
          <th class="span2">
            <%= model_subclass.human_attribute_name(:unit_price) %>
          </th>
          <th class="span2">
            <%= model_subclass.human_attribute_name(:discount) %>
          </th>
          <th class="span2">
            <%= model_subclass.human_attribute_name(:tax) %>
          </th>
          <th class="span3">
            <%= model_subclass.human_attribute_name(:total) %>
          </th>
          <th class="span1">
            <%= link_to_add_fields("", f, :invoice_items,"btn icon-plus add_item") %>
          </th>
        </thead>
        <tbody>
          <%= f.fields_for :invoice_items, :validate => true do |items| %>
            <%= render 'forms/invoice_item_form', :f => items %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="thumbnail pull-right">
      <div class="control-group">
        <%= f.label :sub_total_free, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :sub_total_free, :class => 'text_field',:readonly => true %>
        </div>
        <%= f.label :sub_total_taxed, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :sub_total_taxed, :class => 'text_field', :readonly => true %>
        </div>
        <%= f.label :discount_total, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :discount_total, :class => 'text_field', :readonly => true %>
        </div>
        <%= f.label :tax_total, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :tax_total, :class => 'text_field', :readonly => true %>
        </div>
        <%= f.label :total, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :total, :class => 'text_field', :readonly => true %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn' %>
  </div>
<% end %>
