<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :iactivity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iactivity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :itask, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :itask, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ntask, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ntask, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iaccount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :iaccount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mlaborcost, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mlaborcost, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>
