<%- model_class = Task -%>

<div class="panel-heading"></div>

<div class="panel-body panel-no-padding" id="list_tasks">
  
  <table class="table table-striped" id="task-data">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:nactivity) %></th>
        <th><%= model_class.human_attribute_name(:itask) %></th>
        <th><%= model_class.human_attribute_name(:ntask) %></th>
        <th><%= model_class.human_attribute_name(:nunidad) %></th>
        <th>
          <%= select_tag :currency, options_from_collection_for_select(@currencies, :id, :name), 
            prompt: "Filtrar por moneda" %><br>
          <%= model_class.human_attribute_name(:currency_id) %>
        </th>
        <th><%= model_class.human_attribute_name(:cost) %></th>
        <% if can? :update, Task %>
          <th>
            <%= button_tag "Actualizar Costo", class: "btn btn-primary", id: "update_costs",  
              disabled: true, data: { update_all: false } %><br>
            <%= check_box_tag :select_all  %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.nactivity %></td>
          <td><%= task.itask %></td>
          <td><%= task.ntask %></td>
          <td><%= task.nunidad %></td>
          <td><%= task.currency.try :name %></td>
          <td><%= task.currency.try :symbol%><%= task.cost %></td>
          <td>
            <% if can? :update, Task %>
              <%= check_box_tag :update_cost, task.id %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-right">    
    <%= will_paginate @task %>
  </div>
</div>

<%= render "modals" %>
