<%- model_class = Task -%>
<%= javascript_include_tag 'tasks/script' %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %>
  <button id="task-fb" class="btn btn-primary pull-right">
    <i class='icon-refresh'></i>
  </button></h1>
</div>

<!-- search -->
<legend>  
  <%= form_tag :search_tasks, :id => "search_form", :class => "form-search", :method => "get" do %>
    <div class="control-group search">
      <%= text_field_tag :search_code, params[:search_code], :class => "search-query",
       :placeholder => model_class.human_attribute_name(:itask) %>

      <%= text_field_tag :search_desc, params[:search_desc], :class => "search-query",
       :placeholder => model_class.human_attribute_name(:ntask) %>
      
      <button class="btn" id="clear" type="button">Limpiar</button>
    </div>
  <% end %>
</legend>
<!-- search -->
<div id="list_tasks">
  <%= render "tasks" %>
</div>
