<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt>
    <strong><%= model_class.human_attribute_name(:itask) %>:</strong>
  </dt>
  <dd><%= @task.itask %></dd>
  <dt>
    <strong><%= model_class.human_attribute_name(:ntask) %>:</strong>
  </dt>
  <dd><%= @task.ntask %></dd>
  <dt>
    <strong><%= model_class.human_attribute_name(:iaccount) %>:</strong>
  </dt>
  <dd><%= @task.iaccount %></dd>
  <dt>
    <strong><%= model_class.human_attribute_name(:mlaborcost) %>:</strong>
  </dt>
  <dd><%= @task.mlaborcost %></dd>
  <dt>
    <strong><%= model_class.human_attribute_name(:nunidad) %>:</strong>
  </dt>
  <dd><%= @task.nunidad %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              tasks_path, :class => 'btn' %>
</div>
