<script type="text/javascript">
  var cuenta_credito = [];
  <%  @credit_account.each do |cc| %>
    cuenta_credito.push(new Array(
      <%= cc.iaccount.blank? ? 0 : cc.iaccount %>, 
      '<%=h cc.naccount %>', 
      <%= cc.ifather.blank? ? 0 : cc.ifather %>, 
      <%= cc.id %>, 
      <%= cc.iaccount %>
    ));
  <% end %>

  var employees = [];
  <% @employees.each do |e| %>
    employees.push({
      id: <%= e.id %>,
      number_employee: <%= e.number_employee ? e.number_employee : 'null' %>,
      full_name: '<%= "#{e.entity.surname} #{e.entity.name}" %>'
    });
  <% end %>

</script>

<%= javascript_include_tag 'resources' %>
<%= javascript_include_tag 'deductions/deductions' %>
<%= javascript_include_tag 'ledgerAccount/treeview' %>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

    <% if @deduction.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><%= pluralize(@deduction.errors.count, "error") %> no permitieron guardar esta deducción </h3>
        <% @deduction.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <br>
      </div>
    <% end %>
    
    <div class="panel panel-primary" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

      <div class="panel-heading"></div>

      <div class="panel-body panel-no-padding">
        <%= form_for @deduction, :html => { :class => 'form-horizontal row-border',  
          :data => {:model_name => Deduction.model_name,
          :reference_id => @deduction.id, :company => true} } do |f| %>

          <div class="form-group">
            <%= f.label :description, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.text_field :description, :class => 'form-control', :required => true, :data => { :parsley_maxlength =>  30} %>
              <div class="help-block with-errors"></div>
              <%= f.hidden_field :company_id, :value => current_user.company_id %>
        
              <div>
                <%= f.label :active, "Activa", :class => "control-label col-sm-3" %>
                <label class="checkbox icheck">
                  <%= check_box_tag "deduction[active]",1 ,  f.object.active? %>
                </label>
             </div>
        
            </div>
            
            <%= f.label :ledger_account_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <div class="input-group form-group_">
                <%= f.hidden_field :ledger_account_id, :required => true %>
                <%= text_field_tag 'deduction_ledger_account', nil, :class => 'form-control', 
                  :for => :ledger_account_id, :required => true, 
                  :data => {:parsley_errors_container => "#deduction_ledger_account_error"} %>
                <div class="help-block with-errors"></div>
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <div id="deduction_ledger_account_error"></div>
            </div>
            <div class="col-sm-1">
              <a data-toggle="modal" href="#myModal" class="btn btn-default-alt" title="Ver lista de cuentas contables">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :deduction_type, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.select(:deduction_type, translate_enum(:deduction_types), {:include_blank => false}, { :class => 'form-control' }) %>
            </div>
            <div id="deduction_payrolls">
              <%= label_tag 'Planilla a Aplicar', nil, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group form-group_">
                  <%= text_field_tag 'deduction_payroll', f.object.payrolls.first.try(:payroll_type).try(:description),  :class => 'form-control'%>
                  <div class="help-block with-errors"></div>
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <a  id="unicPayroll" data-toggle="modal" href="#myModalPayroll" class="btn btn-default-alt">
                <i class="fa fa-bars"></i>
              </a>
            </div>            
            <div class="payrolls-all">
              <%= hidden_field_tag 'deduction[payroll_ids][]' %>
              <div class="payrolls-margin" id="payrolls-to-save"> 
                <%= hidden_field_tag 'deduction[payroll_ids][]', f.object.payrolls.first.try(:id) %> 
              </div>
            </div>
            <div id="amount_exhaust_controls">
              <%= f.label :amount_exhaust, :class => 'col-sm-1 control-label' %>
              <div class="col-sm-3 form-group_">
                <%= f.text_field :amount_exhaust, :class => 'form-control', 
                 :value => number_to_currency(f.object.amount_exhaust, unit: "", delimeter: "") %>
                 <div class="help-block with-errors"></div>
              </div>
              
              <div class="col-sm-6 pull-right">
                <%= f.label :currency_id, "Moneda para Monto a Agotar", :class => "col-sm-2  control-label" %>
                <div class="col-sm-6 form-group_">
                  <%= f.collection_select :amount_exhaust_currency_id, @currencies, :id, :name,
                      options = {:prompt => false}, html_options = {:class => "form-control" } %>
                </div>
               </div>
               
            </div>
          </div>
          
          <!-- Para que muestre la descripcion de la planilla UNICA seleccionada -->

          <div class="form-group">
            <%= f.label :calculation_type, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.select(:calculation_type, translate_enum(:calculation_type), {:include_blank => false}, { :class => 'form-control' }) %>
            </div>
            <div class="col-sm-2 control-label">
              <%= f.label :deduction_value, :class => 'deduction_value'  %>
            </div>
            <div class="col-sm-3">
              <%= f.text_field :deduction_value, :value => number_to_currency(f.object.deduction_value, unit: "", delimiter: ""),
                :class => 'form-control', :required => true %>
              <div class="help-block with-errors"></div>
              <div class="individual-check">
                <%= f.label :individual, :class => 'col-sm-5 control-label' %>
                <div class="col-sm-3">
                  <label class="checkbox icheck">
                    <%= f.check_box :individual, :class => 'form-control' %>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-1 percentage-col">
              <label class="percentage">%</label>
            </div>
            
            <div class="col-sm-6 pull-right" id="deduction_currency">
              <%= f.label :deduction_currency_id, "Moneda para Deducción", :class => "col-sm-2  control-label" %>
              <div class="col-sm-6 form-group_">
                <%= f.collection_select :deduction_currency_id, @currencies, :id, :name,
                    options = {:prompt => false}, html_options = {:class => "form-control" } %>
              </div>
            </div>
            
          </div>
          
          <div class="form-group">
            <%= f.label :creditor_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <div class="input-group form-group_">
                <%= f.hidden_field :creditor_id %>
                <%= text_field_tag :load_creditor, nil,  :class => 'form-control',
                  :for => :creditor_id, :data => {:parsley_errors_container => "#creditor_errors"} %>
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
              </div>
              <div id="creditor_errors"></div>
            
              <div class="beneficiary-check">
                <%= f.label :pay_to_employee, :class => 'control-label col-sm-5' %>
                <div class="col-sm-3">
                  <label class="checkbox icheck" id="div_deduction_pay_to_employee">
                    <%= f.check_box :pay_to_employee %>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <a data-toggle="modal" href="#creditors_modal" class="btn btn-default-alt" title="Ver lista de acreedores">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            
            <div class="col-sm-6 pull-right maximum_deduction">
              <%= f.label :maximum_deduction, "Deducción Máxima", :class => "col-sm-2 control-label" %>
              <div class="col-sm-6 form-group_">
                <%= f.text_field :maximum_deduction, 
                  :value => number_to_currency(f.object.maximum_deduction, unit: "", delimiter: ""),
                  :class => "form-control",
                  :data => {:parsley_errors_container => "#maximum_deduction_errors"} %>
                </div><span id="maximum_deduction_currency_symbol"></span>
                <div id="maximum_deduction_errors"></div>
            </div>
            
            <div class="col-sm-6 pull-right maximum_deduction">
              <%= f.label :maximum_deduction_currency_id, "Moneda", :class => "col-sm-2  control-label" %>
              <div class="col-sm-6">
                <%= f.collection_select :maximum_deduction_currency_id, @currencies, :id, :name,
                options = {:prompt => false}, html_options = {:class => "form-control"  } %>
              </div>
            </div>

          </div>
          
          <% @currencies.each do |currency| %>
            <%= hidden_field_tag currency.name, currency.symbol, html_options: { disabled: "true" } %>
          <% end %>
          
          
          <!-- P A Y R O L L    T Y P E S -->
          <div class="form-group">
            <%= f.label :payroll_types, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <div class="checkbox icheck">
              
                <label>
                  <input type="checkbox" id="payroll_select_all"> Seleccionar/Deseleccionar
                </label>
              </div>
              <%= select("deduction", "payroll_type_ids", options_for_select( @payroll_types.map {|p| [p.description, p.id]}, 
                  @deduction.payroll_type_ids.map {|j|j} ), { include_blank: false }, 
                  {:class => 'form-control', :required => true, :multiple => true, :data => {:error => "Debe elegir un tipo de planilla"}, 
                    :selected => @deduction.payroll_type_ids}) %>
            </div>
            
          </div>

          <!-- E M P L O Y E E S   L I S T  -->
          <div class="form-group" id="employee_items_one">
            <%= f.label :Empleados, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" id="emplotee_select_all"> Seleccionar/Deseleccionar
                </label>
              </div>
              
              <div class="checkbox icheck">
                <label>
                  <%= radio_button_tag 'select_method', 'all', true, class: 'align-checkbox', :checked => true %>
                  Todos
                </label>
                <label>
                  <%= radio_button_tag 'select_method', 'boss', false, class: 'align-checkbox' %>
                  Jefe Inmediato
                </label>
                <label>
                  <%= radio_button_tag 'select_method', 'department', false, class: 'align-checkbox' %>
                  Por Departamento
                </label>
              </div>
              
              <div class="" id="list-departments" style="border-top:0px;">
                <div class="col-sm-5" style="width: 46%; padding-bottom: 10px;padding-left: 1px;">
                  <% p = @department.empty? ? "No existen departamentos todavía" : "Por favor selecciona" %>
                  <%= collection_select("departments", "employees", @department, :id, :name, 
                      {:prompt => p}, {:class => 'form-control'}) %>
                </div>
              </div>

              <div class="" id="list-superior" style="border-top:0px;">
                <div class="col-sm-5" style="width: 46%; padding-bottom: 10px;padding-left: 1px;">
                  <% p = @superior.empty? ? "No existen jefes todavía" : "Por favor selecciona" %>
                    <%= collection_select("superiors", "employees", @superior, :id, :full_name,
                      {:prompt => p}, {:class => 'form-control'}) %>
                </div>
              </div>
            
              <%= select("deduction", "employee_ids",   
                options_for_select( @employees.map {|p| ["#{p.entity.surname} #{p.entity.name}", p.id, 
                { 'data-id' => dom_id(p), 'data-sup' => p.employee_id, 'data-dep' => p.department_id } ]}, @employee_ids.map {|j|j} ), 
                { include_blank: false }, {:multiple => true, :selected => @employee_ids, :required => true}) %>
            </div>
          </div>

          <!-- E M P L O Y E E S   L I S T   D E T A I L -->
          <div class="form-group" id="div-message" style="display:none;">
            <div class="col-sm-12">

              <div class="alert alert-dismissable">
                <i class="fa fa-fw"></i>
                <label id="message"></label>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
              </div>

            </div>
          </div>
          
          <div class="form-group" id="employee_items_two">
            <label class="col-sm-2 control-label">Detalle de Aplicación Individual</label>
            <div class="col-sm-8">
              <table id="employee_items" class="table table-responsive">
                <thead>
                  <tr class="header_items">
                    <td class="header_employee" width='80%'>Empleado</td>
                    <td class="header_calculation">Valor</td>
                    <td class="">
                      <%= link_to_add_fields("", f, :deduction_employees, "") %>
                    </td>
                  </tr>
                </thead>
                <tbody class="table-bordered">
                  <%= f.fields_for :deduction_employees do |de| %>
                    <%= render 'forms/deduction_employee_form', :f => de %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.submit nil, :class => 'btn-primary btn', :id => "member_submit" %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  deductions_path, :class => 'btn-default btn' %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="search_employee_payroll_logs_path" value="<%= search_employee_payroll_logs_path %>">
<input type="hidden" id="load_em_employees_path" value="<%= load_em_employees_path %>">

<!--Employee Modal-->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="myModalLabel" class="modal-title">Seleccione un Empleado</h2>
      </div>
      <div class="modal-body">
        <!-- search -->
        <div class="panel-body">
          <%= form_tag :search_employee_payroll_logs, :id => "search_employee_form", :class => "form-inline", :method => "get" do %>
            <div class="row control-group search">

              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag :search_name_employee_modal, params[:search_name_employee], :class => "form-control",
                  :placeholder => 'Nombre' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- search -->
        <div id="search_employee_results"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Ledger account Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="myModalLabel" class="modal-title">Seleccione la cuenta de crédito</h2>
      </div>
      <div class="modal-body">
        <div id="list"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= render "shared/creditors_modal" %>
<%= render "shared/payrolls_modal" %>
