<%= form_for(@deduction) do |f| %>
  <% if @deduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deduction.errors.count, "error") %> prohibited this deduction from being saved:</h2>

      <ul>
      <% @deduction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :employee %><br />
    <%= f.text_field :employee %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :calculation_method %><br />
    <%= f.text_field :calculation_method %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
