<script type="text/javascript">
  var cuenta_credito = [];
  <%  @credit_account.each do |cc| %>
    cuenta_credito.push(new Array(<%= cc.iaccount.blank? ? 0 : cc.iaccount %>, '<%=h cc.naccount %>', <%= cc.ifather.blank? ? 0 : cc.ifather %>, <%= cc.id %>, <%= cc.iaccount %>));
  <% end %>
</script>

<%= javascript_include_tag 'resources' %>
<%= javascript_include_tag 'deductions/deductions' %>
<%= javascript_include_tag 'ledgerAccount/treeview' %>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

    <% if @deduction.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><%= pluralize(@deduction.errors.count, "error") %> prohibited this deduction from being saved:</h3>
        <% @deduction.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <br>
      </div>
    <% end %>
    
    <div class="panel panel-primary" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

      <div class="panel-heading"></div>

      <div class="panel-body panel-no-padding">
        <%= form_for @deduction, :html => { :class => 'form-horizontal row-border', 
          :data => {:toggle => 'validator', :model_name => Deduction.model_name, 
          :reference_id => @deduction.id, :company => true} } do |f| %>

          <div class="form-group">
            <%= f.label :description, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.text_field :description, :class => 'form-control', :required => true %>
              <div class="help-block with-errors"></div>
              <%= f.hidden_field :company_id, :value => current_user.company_id %>
            </div>
            <%= f.label :ledger_account_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <div class="input-group form-group_">
                <%= f.hidden_field :ledger_account_id, :required => true %>
                <%= text_field_tag 'deduction_ledger_account', nil, :class => 'form-control', 
                    :for => :ledger_account_id, :required => true %>
                <div class="help-block with-errors"></div>
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
            <div class="col-sm-1">
              <a data-toggle="modal" href="#myModal" class="btn btn-default-alt" title="Ver lista de cuentas contables">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :deduction_type, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.select(:deduction_type, translate_enum(:deduction_type), {:include_blank => false}, { :class => 'form-control' }) %>
            </div>
            <div id="deduction_payrolls">
              <%= label_tag 'Planilla a Aplicar', nil, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <div class="input-group form-group_">
                  <%= text_field_tag 'deduction_payroll', nil, :class => 'form-control'%>
                  <div class="help-block with-errors"></div>
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <a  id="unicPayroll" data-toggle="modal" href="#myModalPayroll" class="btn btn-default-alt">
                <i class="fa fa-bars"></i>
              </a>
            </div>            
            <div class="payrolls-all">
              <%= hidden_field_tag 'deduction[payroll_ids][]', nil %>
              <div class="payrolls-margin" id="payrolls-to-save"></div>
            </div>
            <div id="amount_exhaust_controls">
              <%= f.label :amount_exhaust, :class => 'col-sm-1 control-label' %>
              <div class="col-sm-3 form-group_">
                <%= f.text_field :amount_exhaust, :class => 'form-control', 
                    :value => number_with_precision(f.object.amount_exhaust, 
                    delimiter: ',', separator: '.', precision: 2) %>
              
                 <div class="help-block with-errors"></div>
              </div>
              
              <div class="col-sm-6 pull-right">
                <%= f.label :currency_id, "Moneda para Monto a Agotar", :class => "col-sm-2  control-label" %>
                <div class="col-sm-6 form-group_">
                  <%= f.collection_select :currency_id, @currencies, :id, :name,
                      options = {:prompt => false}, html_options = {:class => "form-control" } %>
                </div>
               </div>
               
            </div>
          </div>
          
          <!-- Para que muestre la descripcion de la planilla UNICA seleccionada -->

          <div class="form-group">
            <%= f.label :calculation_type, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.select(:calculation_type, translate_enum(:calculation_type), {:include_blank => false}, { :class => 'form-control' }) %>
            </div>
            <div class="col-sm-2 control-label">
              <%= f.label :deduction_value, :class => ' custom_calculation'  %>
            </div>
            <div class="col-sm-3">
              <%= f.text_field :custom_calculation, :class => 'form-control custom_calculation', 
                  :value => number_with_precision(f.object.custom_calculation, delimiter: ',', 
                  separator: '.', precision: 2) %>
              <div class="individual-check">
                <%= f.label :individual, :class => 'col-sm-5 control-label' %>
                <div class="col-sm-3">
                  <label class="checkbox icheck">
                    <%= f.check_box :individual, :class => 'form-control' %>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-1 percentage-col">
              <label class="percentage">%</label>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :beneficiary_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :beneficiary_id, :class => 'form-control' %>
              <div class="beneficiary-check">
                <%= f.label :is_beneficiary, :class => 'control-label col-sm-5' %>
                <div class="col-sm-3">
                  <label class="checkbox icheck" id="div_deduction_is_beneficiary">
                    <%= f.check_box :is_beneficiary %>
                  </label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-3">
              <div class="text-center">
                <%= f.label :active, "Activo" %>
                <%= f.check_box  :active %>
              </div>
            </div>
          </div>
          
          <!-- P A Y R O L L    T Y P E S -->
          <div class="form-group">
            <%= f.label :payroll_types, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" id="payroll_select_all"> Seleccionar/Deseleccionar
                </label>
              </div>
              <%= select("deduction", "payroll_type_ids", options_for_select( @payroll_types.map {|p| [p.description, p.id]}, 
                  @deduction.payroll_type_ids.map {|j|j} ), { include_blank: false }, 
                  {:class => 'form-control required', :multiple => true, :selected => @deduction.payroll_type_ids}) %>
            </div>
          </div>

          <!-- E M P L O Y E E S   L I S T  -->
          <div class="form-group" id="employee_items_one">
            <%= f.label :Empleados, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" id="emplotee_select_all"> Seleccionar/Deseleccionar
                </label>
              </div>
              <%= select("deduction", "employee_ids", options_for_select( @employees.map {|p| ["#{p.entity.surname} #{p.entity.name}", p.id]}, 
                  @employee_ids.map {|j|j} ), { include_blank: false }, {:multiple => true, :selected => @employee_ids}) %>
              <%= hidden_field_tag 'employee_ids', nil %>
            </div>
          </div>

          <!-- E M P L O Y E E S   L I S T   D E T A I L -->
          <div class="form-group" id="div-message" style="display:none;">
            <div class="col-sm-12">

              <div class="alert alert-dismissable">
                <i class="fa fa-fw"></i>
                <label id="message"></label>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
              </div>

            </div>
          </div>
          
          <div class="form-group" id="employee_items_two">
            <label class="col-sm-2 control-label">Agregar Empleados</label>
            <div class="col-sm-8">
              <table id="employee_items" class="table table-responsive">
                <thead>
                  <tr class="header_items">
                    <td class="header_employee" width='80%'>Empleado</td>
                    <td class="header_calculation">Valor</td>
                    <td class="">
                      Agregar <%= link_to_add_fields("", f, :deduction_employees, "") %>
                    </td>
                  </tr>
                </thead>
                <tbody class="table-bordered">
                  <%= f.fields_for :deduction_employees do |de| %>
                    <%= render 'forms/deduction_employee_form', :f => de %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.submit nil, :class => 'btn-primary btn', :id => "member_submit" %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  deductions_path, :class => 'btn-default btn' %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="search_employee_payroll_logs_path" value="<%= search_employee_payroll_logs_path %>">
<input type="hidden" id="search_employee_by_id_path" value="<%= search_employee_by_id_employees_path %>">
<input type="hidden" id="search_employee_by_code_path" value="<%= search_employee_by_code_employees_path %>">
<input type="hidden" id="search_employee_by_name_path" value="<%= search_employee_by_name_employees_path %>">
<input type="hidden" id="load_em_employees_path" value="<%= load_em_employees_path %>">

<!--Employee Modal-->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="myModalLabel" class="modal-title">Seleccione un Empleado</h2>
      </div>
      <div class="modal-body">
        <!-- search -->
        <div class="panel-body">
          <%= form_tag :search_employee_payroll_logs, :id => "search_employee_form", :class => "form-inline", :method => "get" do %>
            <div class="row control-group search">

              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag :search_name_employee_modal, params[:search_name_employee], :class => "form-control",
                  :placeholder => 'Nombre' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- search -->
        <div id="search_employee_results"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Payroll logs Modal -->
<div class="modal fade" id="myModalPayroll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="myModalLabel" class="modal-title">Seleccione la planilla</h2>
      </div>
      
      <div id="loading"> 
        <h5>
          <p align="center">
            <i class="fa fa-spinner fa-spin"></i>
            Espere un momento mientras se cargan las planillas disponibles.
          </p>
        </h5>
      </div>

      <div id="error">
        <h5>
          <p align="center">Imposible cargar las planillas</p>
        </h5>
          <p align="center"><a href='#'>Click Aqui</a> para volver a intentarlo<p>
      </div>

      <div class="modal-body">
        <table class="table table-striped" id="activas">
          <thead>
            <tr>
              <th>id</th>
              <th>Tipo de planilla</th>
              <th>Desde</th>
              <th>Hasta</th>
              <th>Fecha de pago</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Ledger account Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 id="myModalLabel" class="modal-title">Seleccione la cuenta de crédito</h2>
      </div>
      <div class="modal-body">
        <div id="list"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
