<%- model_class = Deduction -%>

<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>

  <div class="options">
    <div class="btn-toolbar">
      <% if can? :create, Deduction %>
        <%= link_to new_deduction_path, :class => 'btn btn-primary pu' do %>
          <i class="fa fa-plus"></i>
        <% end %>
        
        <div class="dropdown pull-right">
            <a  data-target="#"  data-toggle="dropdown" class="btn btn-primary">
              <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu">
              <li><%= link_to  "Configurar Tabla IR", ir_tables_path %></li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>  
</div>

<div class="container-fluid">

  <%= render "/layouts/message" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-heading"></div>

        <div class="panel-body panel-no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:description) %></th>
                <th>
                  <%= select_tag(:deduction_type, options_for_select(translate_enum(:deduction_type)), :class => "form-control") %>
                  <%= model_class.human_attribute_name(:deduction_type) %>
                </th>
                <th>
                  <%= select_tag(:calculation_type, options_for_select(translate_enum(:calculation_type)), :class => "form-control") %>
                  <%= model_class.human_attribute_name(:calculation_type) %>
                </th>
                <th><%= model_class.human_attribute_name(:deduction_value) %></th>
                <th>
                  <%= select_tag(:state, options_for_select([["Si", :active], ["No", :completed]]), :class => "form-control") %>
                  <%= model_class.human_attribute_name(:state) %>
                </th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <%= render "deductions_list" %>
            </tbody>
          </table>
            <div id="deductions_pagination" class="pull-right">
             <%= render "pagination" %>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "deductions/deductions_index" %>
