<%- model_class = PaymentOption -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @payment_option.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:related_account) %>:</strong></dt>
  <dd><%= @payment_option.related_account %></dd>
  <dt><strong><%= model_class.human_attribute_name(:use_expenses) %>:</strong></dt>
  <dd><%= @payment_option.use_expenses %></dd>
  <dt><strong><%= model_class.human_attribute_name(:use_incomes) %>:</strong></dt>
  <dd><%= @payment_option.use_incomes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:require_transaction) %>:</strong></dt>
  <dd><%= @payment_option.require_transaction %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              payment_options_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_payment_option_path(@payment_option), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              payment_option_path(@payment_option),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
