<div class="page-heading">
  <h1>Monedas</h1>
</div>

<div class="container-fluid">
  <%= render "/layouts/messages" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
          <div class="panel-body panel-no-padding">
            <table class="table table-bordered mb0">
               <thead>
                 <tr>
                   <th>Tipo</th>
                   <th>Nombre</th>
                   <th>Simbolo</th>
                   <th>Acciones</th>
                 </tr>
               </thead>
               <tbody>
                 <% @currencies.each do |currency|%>
                   <tr>
                    <td><%= t("activerecord.models.currency.#{currency.currency_type}") %></td>
                    <td><%= currency.name %></td>
                    <td><%= currency.symbol %></td>
                    <td>
                      <%= link_to edit_currency_path(currency), class: 'btn btn-xs btn-success-alt' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    </td>
                   </tr>
                  <% end%>
               </tbody>
            </table>
          </div>  
      </div>
    </div>
  </div>
</div>
