<%= javascript_include_tag "discount_profile/discount_profile" %>
<%- model_subclass = DiscountProfileItem -%>
<%= form_for @discount_profile, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="thumbnail pull-left">
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.enum_select :category, :include_blank => false %>
      </div>
    </div>
  </div>

  <div class="well">
    <table class="table table_items">
      <thead>
        <tr>
          <th class="span1"><%= model_subclass.human_attribute_name(:item_type) %></th>
          <th class="span3"><%= model_subclass.human_attribute_name(:name) %></th>
          <th class="span1"><%= model_subclass.human_attribute_name(:discount) %></th>
          <th class="span1"><%= link_to_add_fields("", f, :discount_profile_items,"icon-plus add_item") %></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :discount_profile_items, :validate => true do |items| %>
          <%= render 'forms/discount_profile_item_form', :f => items %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                discount_profiles_path, :class => 'btn' %>
  </div>
  
<% end %>
