<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    
    <%= 
      # puts "------------------------"
      # puts "DATA"
      # puts @data
      # puts "YAML"
      # puts @data.to_yaml
      # puts "------------------------"
    %>


    <%
      @header = []
      @count = 1
      @order_by = 'Agrupado por '
      @total = {
        'nombre' => 'Gran Total',
        'total_unid_ord' => 0,
        'valor_total_ord' => 0,
        'total_unid_extra' => 0,
        'valor_total_extra' => 0,
        'total_unid_doble' => 0,
        'valor_total_doble' => 0,
        'total' => 0
      }
      
      if @order == 'employee'
        @order_by += 'Empleados'
        @header << 'Labor'
        @header << 'Centro de Costo'
      end

      if @order == 'task'
        @order_by += 'Tareas'
        @header << 'Nombre'
        @header << 'Centro de Costo'
      end
      
      if @order == 'centro_costo'
        @order_by += 'Centro de Costo'
        @header << 'Nombre'
        @header << 'Labor'
      end

      if @order == 'no_order'
        @order_by = 'Sin Agrupar'
        @header << 'Nombre'
        @header << 'Labor'
        @header << 'Centro de Costo'
        @count = 2

        # Order the data correctly
        ###########################
        dt = []; da = {}

        @data.each do |d|
          d.each do |e|
            dt << e
          end
        end
        da["nombre"] = ""
        da["info"] = dt
        @data = []
        @data << da
      end

      @header << 'Tot Uni Ord'
      @header << 'Val tot Ord'
      @header << 'Tot Uni Ext'
      @header << 'Val tot Ext'
      @header << 'Tot Uni Dob'
      @header << 'Val tot Dob'
      @header << 'Gran Total'
      string = "Planilla #{@name_payrolls} del #{@start_date} al #{@end_date}"
    %>

    <Table>
      
      <Row>
        <Cell><Data ss:Type="String">Agro Vicces S.A.</Data></Cell>
        <Cell><Data ss:Type="String">Reporte de Labores Por Tipo de Pago</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= @order_by %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= string %></Data></Cell>
      </Row>
      <Row></Row>
      <Row></Row>

      <% @data.each do |d| %>
        
        <Row>
          <Cell><Data ss:Type="String"><%= "#{d['nombre']}" %></Data></Cell>
        </Row>
        
        <Row></Row>
        
        <Row>
          <% @header.each do |h| %>
            <Cell><Data ss:Type="String"><%= "#{h}" %></Data></Cell>
          <% end %>
        </Row>

        <% count = 0 %>
        <% d['info'].each do |a| %>
          <% count += 1 %>

          <Row>
            <% if @order == 'employee' || @order == 'task' %>
              <Cell><Data ss:Type="String"><%= a['nombre'] %></Data></Cell>
              <Cell><Data ss:Type="String"><%= a['cc'] %></Data></Cell>
            <% end %>

            <% if @order == 'centro_costo' %>
              <Cell><Data ss:Type="String"><%= a['nombre'] %></Data></Cell>
              <Cell><Data ss:Type="String"><%= a['task'] %></Data></Cell>
            <% end %>

            <% if @order == 'no_order' %>
              <Cell><Data ss:Type="String"><%= a['nombre'] %></Data></Cell>
              <Cell><Data ss:Type="String"><%= a['tarea'] %></Data></Cell>
              <Cell><Data ss:Type="String"><%= a['cc'] %></Data></Cell>
            <% end %>

            <Cell><Data ss:Type="Number"><%= a['total_unid_ord'] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a['valor_total_ord'] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a['total_unid_extra'] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a['valor_total_extra'] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a['total_unid_doble'] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a['valor_total_doble'] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a['total'] %></Data></Cell>
            
            <% if d['info'].count == count %>
              <% @total['total_unid_ord'] += a['total_unid_ord'] %>
              <% @total['valor_total_ord'] += a['valor_total_ord'] %>
              <% @total['total_unid_extra'] += a['total_unid_extra'] %>
              <% @total['valor_total_extra'] += a['valor_total_extra'] %>
              <% @total['total_unid_doble'] += a['total_unid_doble'] %>
              <% @total['valor_total_doble'] += a['valor_total_doble'] %>
              <% @total['total'] += a['total'] %>
            <% end %>
          </Row>

        <% end %>
        
        <Row></Row>
        <Row></Row>

      <% end %>
      
      <Row></Row>
      <Row></Row>

      <Row>
        <% (1..@count).each do %>
          <Cell><Data ss:Type="String"></Data></Cell>        
        <% end  %>

        <Cell><Data ss:Type="String"><%= @total['nombre'] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @total['total_unid_ord'] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @total['valor_total_ord'] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @total['total_unid_extra'] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @total['valor_total_extra'] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @total['total_unid_doble'] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @total['valor_total_doble'] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @total['total'] %></Data></Cell>
      </Row>
    </Table>


  </Worksheet>

</Workbook>