<%- model_class = User -%>

<div class="panel-heading"></div>

<div class="panel-body panel-no-padding" id="list_users">
  
  <table class="table table-striped" id="task-data">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:username) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:email) %></th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <% unless @users.empty?  %>
        <% @users.each do |user| %>
            <tr>
              <td><%= "#{user.username}" %></td>
              <td><%= "#{user.name}" %></td>
              <td><%= "#{user.email}" %></td>
              <td><input type="button" id="<%= user.id %>" value="Cargar" ></td>
            </tr>
        <% end %>
      <% else %>
      <tr>
        <td colspan="4">
          <div class="alert alert-dismissable alert-info">
            <i class="fa fa-fw fa-info-circle"></i>
            <strong>Información!</strong>
            <%= t("notice.no_results") %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-right">    
    <%= will_paginate @task %>
  </div>
</div>
