<div class="container" id="login-form">
	
	<%= devise_error_messages! %>

	<a href="<%=root_path %>" class="login-logo">
		<%= image_tag('img/login-logo.png') %>
	</a>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>¿Olvidó su contraseña?</h2></div>
				<div class="panel-body">

					<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: "form-horizontal", :method => :post }) do |f| %>

						<div class="form-group">
	                        <div class="col-xs-12">
	                        	<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-user"></i>
									</span>
									<%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
								</div>
	                        </div>
						</div>

						<div class="form-group">
							<div class="col-xs-12">
								<%= render "devise/shared/links" %>
							</div>
						</div>

						<div class="panel-footer">
							<div class="clearfix">
								<%= f.submit "Enviarme las instrucciones al correo", :class => 'btn btn-primary pull-right' %>
							</div>
						</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
