<%= javascript_include_tag 'payroll/dinamic_fields' %>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

    <% if @payroll.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><%= pluralize(@payroll.errors.count, "error") %> no permitieron guardar esta planilla:</h3>
        <% @payroll.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <br>
      </div>
    <% end %>

    <div class="panel panel-primary" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

      <div class="panel-heading"></div>

      <div class="panel-body panel-no-padding">
        <%= form_for @payroll, :html => { :class => 'form-horizontal row-border', 
          :data => {:company => true, :parsley_validate => ""} } do |f| %>
          <div class="form-group">
            <%= f.label :payroll_type_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.collection_select(:payroll_type_id, @payroll_types, :id, :description, 
                options = {:prompt => true}, html_options = {:class => 'form-control', :required => true }) %>
              <%= f.hidden_field :company_id, :value => current_user.company_id %>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :currency_id, :class => "col-sm-2 control-label" %>
            <div class="col-sm-3">
              <%= f.collection_select(:currency_id, @currencies, :id, :name, 
                options = {:prompt => false}, html_options = {:class => 'form-control', :required => true }) %>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :start_date, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <div class="input-group">
                <%= f.text_field :start_date, :class => 'form-control', :required => true, 
                  :data => {:parsley_start_date_validation => "",  :parsley_errors_container => "#start_date_errors"} %>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
              <div id="start_date_errors"></div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :end_date, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <div class="input-group">
                <%= f.text_field :end_date, :class => 'form-control', :required => true,
                 :data => {:parsley_errors_container => "#end_date_errors"}   %>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
              <div id="end_date_errors"></div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :payment_date, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <div class="input-group">
                <%= f.text_field :payment_date, :class => 'form-control', :required => true,
                 :data => {:parsley_payment_date_validation => "",  :parsley_errors_container => "#payment_date_errors" } %>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
              <div id="payment_date_errors"></div>
            </div>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.submit :class => 'btn-primary btn' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  cantons_path, :class => 'btn-default btn' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
