<%- model_class = Payroll -%>
<%= javascript_include_tag 'payroll/payroll' %>
<%= javascript_include_tag 'resources' %>

<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <div class="options">
    <div class="btn-toolbar">
      <% if can? :create, Payroll %>
        <%= link_to new_payroll_path, :class => 'btn btn-primary pull-right' do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

   <!-- error div -->
    <input id="get_activas_payrolls_path" type="hidden" value="<%= get_activas_payrolls_path %>">
    <input id="get_inactivas_payrolls_path" type="hidden" value="<%= get_inactivas_payrolls_path %>">

    <div class="tab-container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"><%= t("tabs.iniciadas") %></a></li>
        <li><a href="#tab2" data-toggle="tab"><%= t("tabs.cerradas") %></a></li>
      </ul>

      <div class="tab-content">
        <%= render "/layouts/message" %>
        <div class="tab-pane active" id="tab1" data-url="<%= payroll_logs_path %>">
          <input id="payrolls_path" type="hidden" value="<%= payrolls_path %>">
          <h2>Planillas Iniciadas</h2>
          <hr>

          <table class="table table-bordered" id="activas" data-url="<%= get_inactivas_payrolls_path %>">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:payroll_type_id) %></th>
                <th><%= model_class.human_attribute_name(:start_date) %></th>
                <th><%= model_class.human_attribute_name(:end_date) %></th>
                <th><%= model_class.human_attribute_name(:payment_date) %></th>
                <th>Acumulado</th>
                <th><%= model_class.human_attribute_name(:state) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          
          <div id="payroll_total"></div>
          <input type="hidden" id="close_payroll_payrolls_path" value="<%= close_payroll_payrolls_path %>">
          
           <% if can? :close_payroll, Payroll %>
              <button id="cerrar" class="btn"> Cerrar Seleccionadas</button>
            <% end %>
        </div>

        <div class="tab-pane" id="tab2">
          <h2>Planillas Cerradas</h2>
          <hr>
          <table class="table table-bordered" id="inactivas">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:payroll_type_id) %></th>
                <th><%= model_class.human_attribute_name(:start_date) %></th>
                <th><%= model_class.human_attribute_name(:end_date) %></th>
                <th><%= model_class.human_attribute_name(:payment_date) %></th>
                <th>Total</th>
                <th>Abrir</th>
                <th><%= model_class.human_attribute_name(:num_oper) %></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <% if can? :close_payroll, Payroll %>
            <button id="seleccion" class="btn"> Reabrir Seleccionadas</button>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- *********************************************************************************************** -->
<input type="hidden" id="payroll_destroy" value="<%= (can? :destroy, Payroll) ? '1' : '0' %>">
<input type="hidden" id="payroll_update" value="<%= (can? :update, Payroll) ? '1' : '0' %>">
<input type="hidden" id="send_to_firebird" value="<%= (can? :send_to_firebird, Payroll) ? '1' : '0' %>">

<!-- *********************************************************************************************** -->
<!-- Modals -->
<!-- *********************************************************************************************** -->

<div id="payrollModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close delete-accounts" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mensaje</h3>
  </div>
  <div class="modal-body">
    <div id="results_close_payroll">
      <table id="table_results_close_payroll" style="display:none;" class="table table-hover">
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Salario Total</th>
            <th>Deducciones Totales</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn delete-accounts" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<div id="close_payroll_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
        <h4 class="modal-title">Introduzca la tasa de cambio</h4>
      </div>
      
      <div class="modal-body">
        <%= form_tag "#", :data => {:parsley_validate => true} do %>
          
          <div class="form-group">
            <%= label_tag :exchange_rate, "Tasa de cambio", :class=> "control-label" %>
            <%= text_field_tag :exchange_rate, '', :class =>  "form-control", :min => 1,
              :data => { :parsley_type => "number", :parsley_required => true } %>
          </div>
          
          <%= button_tag "Cancelar", :class => "btn btn-default", :type => :button, data: {dismiss: "modal"} %>
          <%= button_tag "Cerrar planilla", :class => "btn btn-primary" %>
          
        <% end %>
      </div>
      
    </div>
  </div>
</div>

<div id="close_payroll_errors_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Errores al cerrar la planilla</h4>
      </div>
      
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Empleado</th>
              <th>Salario Total</th>
              <th>Deducciones Totales</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        
        <%= button_tag "Cerrar", :class => "btn btn-default", :type => :button, data: {dismiss: "modal"} %>
      </div>
      
    </div>
  </div>
</div>
