<%= javascript_include_tag "purchases/purchases" %>
<%- model_subclass = PurchaseItem -%>
<%- model_payment = PurchasePaymentOption -%>
<%= form_for @purchase, :validate => true, 
  :html => { :class => 'form-horizontal' } do |f| %>

  <div class="thumbnail pull-left">
    <div class="control-group">
        <%= f.label :vendor_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :vendor_name, :class => 'text_field', :value => @vendor %>
        <%= f.hidden_field :vendor_id %>
      </div>
    </div>
  </div>
  <div class="thumbnail pull-right">
    <div class="control-group">
      <%= f.label :document_number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :document_number,
          :class => @auto_increment ? "auto text_field" : "text_field", 
          :readonly => @auto_increment ? true : false,
          :placeholder =>  @purchase.document_number ? "" : "auto"
        %>
      </div>
      <%= f.label :purchase_type, :class => 'control-label' %>
      <div class="controls">
          <%= f.select :purchase_type, translate_enum(:purchase_type) %>
        <%= f.hidden_field :current_user, :value => current_user ? current_user.email : "NO USER" %>
        <%= f.hidden_field :default_company, :value => session[:company_id] ? session[:company_id] : default_company %>
       
      </div>
      <%= f.label :currency, :class => 'control-label' %>    
      <div class="controls">
        <%= f.select :currency,['Colones','Dolares'],{},:class => 'text_field' %>
      </div>
      <%= f.label :purchase_date, :class => 'control-label' %> 
      <div class="controls">
        <%= f.text_field :purchase_date,:class => 'text_field datetime current_date', :type => "date"%>
      <!-- ,:readonly => true, :value => Time.now.to_date.to_s -->
      </div>
    </div>
  </div>
  
  <div class="well">
    <table class="table table_items">
      <thead>
          <th class="span2"><%= model_subclass.human_attribute_name(:warehouse_id) %></th>
          <th class="span1"><%= model_subclass.human_attribute_name(:product_id) %></th>
          <th class="span8"><%= model_subclass.human_attribute_name(:description) %></th>
          <th class="span1"><%= model_subclass.human_attribute_name(:quantity) %></th>
          <th class="span2"><%= model_subclass.human_attribute_name(:cost_unit) %></th>
          <th class="span2"><%= model_subclass.human_attribute_name(:discount) %></th>
          <th class="span2"><%= model_subclass.human_attribute_name(:tax) %></th>
          <th class="span3"><%= model_subclass.human_attribute_name(:cost_total) %></th>
          <th class="span1"> <%= link_to_add_fields("", f, :purchase_items,"add_fields btn btn-mini btn-success icon-plus add_item") %></th>
      </thead>
      <tbody>
        <%= f.fields_for :purchase_items, :validate => true do |items| %>
          <%= render 'forms/purchase_item_form', :f => items %>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="thumbnail pull-right"> 
    <div class="control-group">
      <%= f.label :subtotal, :class => 'control-label' %>    
      <div class="controls">
        <%= f.text_field :subtotal, :class => 'text_field subtotal', :readonly => true %>
      </div>
    </div>

     <div class="control-group" >
        <%= f.label :taxes, :class => 'control-label'  %>
      
      <div class="controls">
        <%= f.text_field :taxes, :class => 'text_field', :readonly => true %>
      </div>
     </div>
      
      <div class="control-group" >
        
          <%= f.label :total, :class => 'control-label' %>
        
        <div class="controls">
          <%= f.text_field :total, :class => 'text_field total', :readonly => true %>
        </div>
    </div>
  </div>
  <div class="thumbnail pull-right hide imported"> 
    <div class="control-group">
      <%= f.label :isc_tax, :class => 'control-label' %>    
      <div class="controls">
        <%= f.text_field :isc_tax, :class => 'text_field subtotal'%>
      </div>
    </div>
     <div class="control-group" >
        <%= f.label :dai_tax, :class => 'control-label'  %>
      <div class="controls">
        <%= f.text_field :dai_tax, :class => 'text_field' %>
      </div>
     </div>
  </div>

  <div class="well">
    <table class="table payment_options">
      <thead>
        <tr>
          <th class="span1"><%= model_payment.human_attribute_name(:payment_option_id) %></th>
          <th class="span1"><%= model_payment.human_attribute_name(:payment_type_id) %></th>
          <th class="span3"><%= model_payment.human_attribute_name(:number) %></th>
          <th class="span3"><%= model_payment.human_attribute_name(:amount) %></th>
          <th class="span3"> <%= link_to_add_fields("", f, :purchase_payment_options,"add_fields btn btn-mini btn-success icon-plus add_payment") %></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :purchase_payment_options, :validate => true do |items| %>
          <%= render 'forms/purchase_payment_option_form', :f => items %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn' %>
  </div>

<% end %>
