<%- model_class = Purchase -%>
<div id="purchases" class="dataTables_wrapper" role="grid">
  <%= will_paginate :class =>'pagination pagination-centered' %>
  <table id="example" class="table table-bordered" aria-describedby="example_info">
    <thead>
      <tr role="row">
        <th><%= model_class.human_attribute_name(:purchase_date) %></th>
        <th><%= model_class.human_attribute_name(:vendor_id) %></th>
        <th><%= model_class.human_attribute_name(:document_number) %></th>        
        <th><%= model_class.human_attribute_name(:total) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
      <% unless @purchases.empty? %>
        <% @purchases.each do |purchase| %>
          <tr>            
            <td><%= purchase.purchase_date %></td>
            <td><%= purchase.vendor.entity.name %></td>
            <td><%= link_to purchase.document_number, purchase_path(purchase) %></td>
            <td><%= purchase.total %></td>
            <td><%= link_to t('.pdf', :default => t("helpers.links.PDF")), purchase_path(purchase, :format => :pdf), :class => 'btn btn-mini btn-success' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_path(purchase), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), purchase_path(purchase), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="5"><p class="info">Ninguna compra encontrada</p></td></tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>