<%- model_class = Purchase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:document_number) %>:</strong></dt>
  <dd><%= @purchase.document_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vendor_id) %>:</strong></dt>
  <dd><%= @purchase.vendor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchase_date) %>:</strong></dt>
  <dd><%= @purchase.purchase_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:completed) %>:</strong></dt>
  <dd><%= @purchase.completed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @purchase.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subtotal) %>:</strong></dt>
  <dd><%= @purchase.subtotal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taxes) %>:</strong></dt>
  <dd><%= @purchase.taxes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @purchase.total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchase_type) %>:</strong></dt>
  <dd><%= @purchase.purchase_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dai_tax) %>:</strong></dt>
  <dd><%= @purchase.dai_tax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isc_tax) %>:</strong></dt>
  <dd><%= @purchase.isc_tax %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              purchases_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_purchase_path(@purchase), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              purchase_path(@purchase),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
