<%= form_for @canton, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :province_id, :class => 'control-label' %>
    <div class="controls">
			<%= collection_select(:canton, :province_id, @province, :id, :name , :prompt => true) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cantons_path, :class => 'btn' %>
  </div>
<% end %>
