<script type="text/javascript">
  var costs_centers = [];
  <% @costs_centers.each do |cc| %>
    costs_centers.push(new Array(
          '<%= cc.icost_center.blank? ? 0 : cc.icost_center %>', 
          '<%= cc.name_cc %>', 
          '<%= cc.icc_father.blank? ? 0 : cc.icc_father %>', 
          <%= cc.id %>)
    );
  <% end %>
</script>
<%= javascript_include_tag 'employees/employee' %>
<%= javascript_include_tag 'departments/department' %>
<%= javascript_include_tag 'centro_costos/treeview' %>
<%= javascript_include_tag 'utils/modal' %>

<%= form_for @department, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :employee_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :employee_id %>
      <%= text_field_tag 'load_employee',nil, :class => 'text_field required 
                          search-image-employee', :for=>:employee_id %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :costs_center_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :costs_center_id %>
      <%= text_field_tag 'load_costs_centers',nil, :class => 'text_field required 
                          search-image-employee', :for=>:costs_center_id %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                departments_path, :class => 'btn' %>
  </div>
<% end %>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Seleccione un Centro de Costos</h3>
  </div>
  <div class="modal-body">
    <div id="list"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>
