<%= javascript_include_tag "customers/customers" %>

<div class="tabbable">
  <ul class="nav nav-tabs customer_tabs">
    <li class="active">
        <a href="#tab1" data-toggle="tab"><%=t("tabs.general")%></a>
    </li>
    <li class="">
      <a href="#tab2" data-toggle="tab"><%=t("tabs.contact")%></a>
    </li>
    <li class="">
      <a href="#tab3" data-toggle="tab"><%=t("tabs.conditions")%></a>
    </li>
  </ul>

  <%= form_for @customer, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="tab-content">
    
    <%= f.fields_for :entity, :validate => true do |ent| %>
    <div class="tab-pane active" id="tab1">
      <%= render 'forms/entity_form', :f => ent %>
      
      <div class="control-group">
          <%= f.label :asigned_seller, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :asigned_seller, :class => 'text_field' %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :customer_profile_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :customer_profile_id, :class => 'number_field' %>
        </div>
      </div>

      <%= ent.fields_for :addresses do |add| %>              
        <%= render 'forms/address_form', :f => add %>
      <% end %>
      <h3>Teléfonos <%= link_to_add_fields("Agregar teléfono", ent, :telephones, "add_fields btn btn-mini btn-success add_telephone") %></h3>
      <div id="telephones">
        <%= ent.fields_for :telephones, :validate => true do |pho| %>
            <%= render 'forms/telephone_form', :f => pho %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <h2>Información de contacto <%= link_to_add_fields("Agregar contacto", ent, :contacts, "add_fields btn btn-mini btn-success add_contact") %></h2>
      <div id="contacts">
      <%= ent.fields_for :contacts, :validate => true do |cont| %>
          <%= render 'forms/contact_form', :f => cont %>
      <% end %>
      </div>
    </div>

<!-- Render Entity's contacts information into partial to reuse code -->
    <div class="tab-pane" id="tab3">  
      <h2>Cuentas Bancarias <%= link_to_add_fields("Agregar cuenta", ent, :bank_accounts, "add_fields btn btn-mini btn-success  add_bank_account") %></h2>
      <div id="bank_accounts">
      <%= ent.fields_for :bank_accounts, :validate => true do |cont| %>
            <%= render 'forms/bank_account_form', :f => cont %>
          <% end %>
        </div>
    </div>
    <% end -%>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  customers_path, :class => 'btn' %>
    </div>
   </div>
  </div>
  
  <% end %>
