<%- model_class = DocumentNumber -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:document_type) %></th>
      <th><%= model_class.human_attribute_name(:number_type) %></th>
      <th><%= model_class.human_attribute_name(:start_number) %></th>
      <th><%= model_class.human_attribute_name(:mask) %></th>
      <th><%= model_class.human_attribute_name(:terminal_restriction) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @document_numbers.each do |document_number| %>
      <tr>
        <td><%= document_number.description %></td>
        <td><%= document_number.document_type %></td>
        <td><%= document_number.number_type %></td>
        <td><%= document_number.start_number %></td>
        <td><%= document_number.mask %></td>
        <td><%= document_number.terminal_restriction %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_document_number_path(document_number), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      document_number_path(document_number),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_document_number_path,
            :class => 'btn btn-primary' %>
