<ul class="thumbnails">
<!--Employee information -->    
    
<!-- Vendors information -->
    <li class="span2">
        <div class="thumbnail">
            <a href=<%=vendors_path %>><%= image_tag ("vendor.png" ) %></a>
        <div class='btn-group'>

            <a href=<%=vendors_path %> class='btn btn-success btn-success'>
                
                <%= I18n.t('.activerecord.models.vendors') %>
            </a>
            <button class="btn btn-success btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href=<%= new_vendor_path %>>
                        <i class='icon-pencil'></i>  Nuevo</a>
                    </li>
                <li>
                    <a href=<%= vendors_path %>>
                        <i class='icon-list-alt'></i> Lista</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Información</a></li>
            </ul>
        </div>
        </div>
    </li>
<!--Customer's information -->
    <li class="span2">
        <div class="thumbnail">
            <a href=<%= customers_path %>><%= image_tag ("customer.png" ) %></a>
            <div class='btn-group'>

                <a href=<%= customers_path %> class='btn btn-success'>
                   
                    <%= I18n.t('.activerecord.models.customer').pluralize %>
                </a>
                <button class="btn btn-success btn-success dropdown-toggle btn-navbar" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href=<%= new_customer_path %>>
                            <i class='icon-pencil'></i>  Nuevo</a>
                        </li>
                    <li>
                        <a href=<%= customers_path %>>
                            <i class='icon-list-alt'></i> Lista</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Información</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
