<ul class="thumbnails">
  <li class="span2">
      <div class="thumbnail">
          <a href=<%=vendors_path %>><%= image_tag ("vendor.png" ) %></a>
      

          <a href=<%=vendors_path %> class='btn btn-success btn-success btn-block'>
              
              <%= I18n.t('.activerecord.models.vendors') %>
          </a>
      
      </div>
  </li>
  <li class="span2">
      <div class="thumbnail">
          <a href=<%= customers_path %>><%= image_tag ("customer.png" ) %></a>

              <a href=<%= customers_path %> class='btn btn-success btn-block'>
                 
                  <%= I18n.t('.activerecord.models.customer').pluralize %>
              </a>
          </div>

  </li>
</ul>
