<ul class="thumbnails">
    <li class="span2">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
     
        <div class='btn-group'>
            <a href=<%=warehouses_path %> class='btn'>
                <i class='icon-picture'></i>        
                <%= I18n.t('.activerecord.models.warehouse').pluralize %>
            </a>
            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href=<%=new_warehouse_path%>><i class='icon-pencil'></i>  Nuevo</a></li>
                <li><a href=<%=warehouses_path %> ><i class='icon-list-alt'></i> Lista</a></li>
              
                <li class="divider"></li>
                <li><a href="#">Información</a></li>
            </ul>
        </div>        
    </div>
    </li>
    <li class="span2">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
     
        <div class='btn-group'>
            <a href=<%=products_path %> class='btn'>
                <i class='icon-picture'></i>        
                <%= I18n.t('.activerecord.models.product').pluralize %>
            </a>
            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href=<%=new_product_path%>><i class='icon-pencil'></i>  Nuevo</a></li>
                <li><a href=<%=products_path %> ><i class='icon-list-alt'></i> Lista</a></li>
              
                <li class="divider"></li>
                <li><a href="#">Información</a></li>
            </ul>
        </div>        
    </div>
    </li>
    <li class="span2">
      <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">


    <div class='btn-group'>
     <a href=<%=categories_path %> class='btn '><i class='icon-picture'></i><%= I18n.t('.activerecord.models.category').pluralize %></a>
    <button class="btn  dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href=<%=new_category_path%>><i class='icon-pencil'></i>  Nuevo</a></li>
      <li><a href=<%=categories_path %> ><i class='icon-list-alt'></i> Lista</a></li>
      
      <li class="divider"></li>
      <li><a href="#">Información</a></li>
    </ul>
    </div>
    </div
  </li>
  
  <li class="span2">
              <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
        <div class='btn-group'>
        <a href=<%=sublines_path %> class='btn '><i class='icon-picture'></i> <%= I18n.t('.activerecord.models.subline').pluralize %></a>
        <button class="btn  dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href=<%=new_subline_path%>>
              <i class='icon-pencil'></i>  Nuevo
            </a>
          </li>
          <li>
            <a href=<%=sublines_path %>>
              <i class='icon-list-alt'></i> Lista
            </a>
          </li>              
          <li class="divider"></li>
          <li><a href="#">Información</a></li>
        </ul>
        </div>
      </div>
  </li>



  <li class="span2">
    <div>
      <a href=<%=warehouses_path %>>
      <%= image_tag ("bodega.jpg" ) %> 
      
        <div class='btn-group'>
        <a href=<%=sublines_path %> class='btn'><%= I18n.t('.activerecord.models.subline').pluralize %></a>
        <button class="btn  dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href=<%=new_subline_path%>>
              <i class='icon-pencil'></i>  Nuevo
            </a>
          </li>
          <li>
            <a href=<%=sublines_path %>>
              <i class='icon-list-alt'></i> Lista
            </a>
          </li>              
          <li class="divider"></li>
          <li><a href="#">Información</a></li>
        </ul>
        </div>
      </a>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <a href=<%=lines_path %>>
      <%= image_tag ("lines.jpg" ), :class=>"img-circle" %> 
      </a>
      <h5>Líneas</h5>
      
  </li>

</ul>
