<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <a href=<%=warehouses_path %>><%= image_tag ("bodega.png" ) %></a>
      <a href=<%=warehouses_path %> class='btn btn-info btn-block'>
        <%= I18n.t('.activerecord.models.warehouse').pluralize %>
      </a>
    </div> 
  </li>
      
  <li class="span2">
    <div class='thumbnail'>
      <a href=<%=lines_path %>><%= image_tag ("line_icon.png" ) %></a>
      <a href=<%=lines_path %> class='btn btn-info btn-block'>
        <%= I18n.t('.activerecord.models.line').pluralize %>
      </a>
    </div>
  </li>

  <li class="span2">
    <div class="thumbnail">
      <a href=<%=sublines_path %>><%= image_tag ("subline_icon.png" ) %></a>      
       <a href=<%=sublines_path %> class='btn btn-info btn-block'>
        <%= I18n.t('.activerecord.models.subline').pluralize %>
      </a>
    </div>
  </li>
  
  <li class="span2">
    <div class='thumbnail'>
      <a href=<%=categories_path %>><%= image_tag ("category_icon.png" ) %></a>
      <a href=<%=categories_path %> class='btn btn-info btn-block'>
        <%= I18n.t('.activerecord.models.category').pluralize %></a>    
    </div>
  </li>

  <li class="span2">
    <div class="thumbnail">
      <a href=<%=products_path %>><%= image_tag ("products_icon.png" ) %></a>
      <a href=<%=products_path %> class='btn btn-info btn-block'>
        <%= I18n.t('.activerecord.models.product').pluralize %></a>
    </div>
  </li>

</ul>
