<ul class="">
    <li class="span2">
        <div class="img-rounded">
         
              <a href=<%=warehouses_path %>>
               <%= image_tag ("bodega_icon.png" ) %>                 
                    <%= I18n.t('.activerecord.models.warehouse').pluralize %>
                </a>
            </div>        
    </li>

    <li class="span2">
        <div class="img-rounded">
                <a href=<%=products_path %>>
                                   <%= image_tag ("products_icon.png" ) %>                 
                    <%= I18n.t('.activerecord.models.product').pluralize %>
                </a>
                <!-- <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href=<%=new_product_path%>><i class='icon-pencil'></i>  Nuevo</a></li>
                    <li><a href=<%=products_path %> ><i class='icon-list-alt'></i> Lista</a></li>
                  
                    <li class="divider"></li>
                    <li><a href="#">Información</a></li>
                </ul>
            </div>    -->     
        </div>
    </li>
<!-- 
    <li class="span2">
        <div class="">
      
            <a href=<%=categories_path %>> <%= I18n.t('.activerecord.models.category').pluralize %>
            <%= image_tag ("categories_icon.png" ) %>    
            </a>
    
        </div>
    </li> -->

  <li class="span2">
    <div>
      <a href=<%=sublines_path %>>
      
      
        <div>
        <%= image_tag ("sublines_icon.png" ) %>   
         <%= I18n.t('.activerecord.models.subline').pluralize %></a>

        </div>
      </a>
  </li>
  <li class="span2">
    <div class="img-rounded">
      <a href=<%=lines_path %>>
      <%= image_tag ("lines_icon.png" ), :class=>"img-circle" %> 
      </a>
      
  </li>

</ul>
