<div id="buttons_new" class="row-fluid">
  <div class="span8" align="center">
    <div class="row-fluid">
      <div class="span2">
        <a href=<%= new_purchase_order_path %>>
          <button class="btn btn-maniadmin-8 btn-rend">
            <i class="icon-tasks"></i>
          </button>
        </a>
        <%= link_to t('.new', :default => t("helpers.links.news.purchase_order")), new_purchase_order_path, :class => 'btn-block' %>
        </div>
        <div class="span2">
          <a href=<%= new_purchase_path %>>
            <button class="btn btn-maniadmin-8 btn-rend">
              <i class="icon-align-justify"></i>
            </button>
          </a>
          <%= link_to t('.new', :default => t("helpers.links.news.purchase")), new_purchase_path, :class => 'btn-block' %>
      </div>
      <div class="span2">
        <a href=<%= new_quotation_path %>>
          <button class="btn btn-maniadmin-8 btn-rend">
            <i class="icon-th"></i>
          </button>
        </a>
        <%= link_to t('.new', :default => t("helpers.links.news.quotation")), new_quotation_path, :class => 'btn-block' %>
      </div>
      <div class="span2">
        <a href="">
          <button class="btn btn-maniadmin-8 btn-rend">
            <i class="icon-list-alt"></i>
          </button>
        </a>
        <a href="" class="btn-block">Nueva venta</a>
      </div>
    </div>
  </div>
</div>
</br>
</br>
<div id="section-body" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" id="load_purchase_orders" href="#purchase_orders_tab">
        <%= I18n.t('.activerecord.models.purchase_order') %>
      </a>
    </li>
    <li>
      <a data-toggle="tab" id="load_purchases" href="#purchase_tab">
        <%= I18n.t('.activerecord.models.purchase') %>
      </a>
    </li>
    <li>
      <a data-toggle="tab" id="load_quotations" href="#quotations_tab">
        Cotizaciones
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#sales">
        Ventas
      </a>
    </li>
  </ul>
  <div class="tab-content">
		<div id="purchase_orders_tab" class="tab-pane active">
      <div id="purchase_orders">
      </div>
    </div>
		<div id="purchase_tab" class="tab-pane">
      <div id="purchases">
      </div>
    </div>
    <div id="quotations_tab" class="tab-pane">
      <div id="quotations">
      </div>
    </div>
    <div id="sales_tab" class="tab-pane">
      <div id="sales">
      </div>
    </div>
	</div>
</div>

