<script type="text/javascript">
  var cuenta_contable = [];
  <%  @cuenta_contable.each do |cc| %>
    cuenta_contable.push(new Array(<%= cc.iaccount.blank? ? 0 : cc.iaccount %>, '<%=h cc.naccount %>', <%= cc.ifather.blank? ? 0 : cc.ifather %>));
  <% end %>
</script>
<%= javascript_include_tag 'other_salaries/salaries' %>
<%= javascript_include_tag 'centro_costos/treeview' %>
<%= form_for @other_salary, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :ledger_account_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :ledger_account_id %>
       <%= text_field_tag 'other_salary_ledger_account',nil, :class => 'number_field required search-image-category', :for => :ledger_account_id %>
     <a href="#myModal" role="button" class="btn" data-toggle="modal"> <i class="icon-list"></i> </a>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                other_salaries_path, :class => 'btn' %>
  </div>
<% end %>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Seleccione la cuenta contable</h3>
  </div>
  <div class="modal-body">
    <div id="list"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>