<script type="text/javascript">
  var cuentas = [];
  <% @all_ledger_account.each do |cuenta| %>
  cuentas.push(new Array(<%= cuenta.ifather %>, '<%=h cuenta.naccount %>', <%= cuenta.iaccount %>));
  <% end %>
</script>
<%= javascript_include_tag 'other_salaries/dynamic_fields' %>
<%= form_for @other_salary, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :ledger_account_id, :class => 'control-label' %>
    <div class="controls">
      <!--Primer parametro :ledger_account_id Foranea en other_salaries
          Segundo parametro  @ledger_account coleccion que trae todas las cuentas contables
          Tercer parametro :iaccount va a ser lo que se vaya a guardar en other_salaries como cuenta es la llave primaria o el valor que se quiere manejar cm value en el select.
          Cuarto Parametro: :naccount lo que el usuario va a ver ACTIVO , PASIVO etc-->
      <%= f.collection_select :ledger_account_id, @ledger_account, :iaccount, :naccount , :prompt => true %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                other_salaries_path, :class => 'btn' %>
  </div>
<% end %>
