<%- model_class = LedgerAccount -%>
<%= form_for @ledger_account, :validate => true,  :html => { :class => 'form-horizontal', :id => "account_form" } do |f| %>
  <div id="form_edit"></div>
  <div class="modal-header">
    <a aria-hidden="true" data-dismiss="modal" class="close" href="#">&times;</a>
    <%=t '.title', :default => model_class.model_name.human %>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <%= f.label :account_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :account_type, translate_enum(:account_type) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :iaccount, :class => 'control-label' %>
      <div class="controls">
        <%= f.hidden_field :ifather, :class => 'text_field' %>
        <%= f.text_field :iaccount, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :naccount, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :naccount, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :cost_center, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :cost_center, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :foreign_currency, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :foreign_currency, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :request_entity, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :request_entity, :class => 'text_field' %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" value="<%= t('helpers.links.save')%>" name="commit" 
      class="btn btn-primary">
    <button aria-hidden="true" data-dismiss="modal" class="btn cancel_submit">
      <%= t("helpers.links.cancel")%>
    </button>    
  </div>

<% end %>