<tr class="success">
	<td>
		<%= @ledger_account.iaccount %>
		<input id="<%= @ledger_account.iaccount %>" type="hidden" 
			data-ifather="<%= @ledger_account.ifather %>" 
			data-account-type="<%= @ledger_account.account_type %>"
			data-cost-center="<%= @ledger_account.cost_center %>"
			data-foreign-currency="<%= @ledger_account.foreign_currency %>"
			data-request-entity="<%= @ledger_account.request_entity %>"
			data-iaccount="<%= @ledger_account.iaccount %>"
			data-naccount="<%= @ledger_account.naccount %>"
			data-id="<%= @ledger_account.id %>">
	</td>
	</td>
	<td class="account_name"><%= @ledger_account.naccount %></td>
	<td>
		<%= link_to t("content.titles.create_sub_account"), "#new_account", 
			'data-toggle'=>'modal', :class => 'btn btn-mini btn-success create_account' %>
		<%= link_to t("helpers.links.edit"), "#new_account",'data-toggle'=>'modal', 
			:class => 'btn btn-mini update_account' %>
    <%= link_to t("helpers.links.destroy"), ledger_account_path(@ledger_account), :method => :delete,
      :data => { :confirm => t("helpers.links.confirm", :default => 'Are you sure?') },
      :class => 'btn btn-mini btn-danger' %>
	</td>
</tr>