<%- model_class = LedgerAccount -%>
<%= javascript_include_tag 'ledger_accounts/ledger_accounts' %>
<%= javascript_include_tag 'ledger_accounts/modal' %>
<legend>
  <%=t '.title', :default => model_class.model_name.human.pluralize %>
</legend>
<div id="list">
</div>
<table class="table table-condensed table-hover table_accounts">
	<thead>
		<th><%= model_class.human_attribute_name(:iaccount) %></th>
		<th><%= model_class.human_attribute_name(:naccount) %></th>
		<th><%=t '.actions', :default => t("helpers.actions") %></th>
	</thead>
	<tbody>
	<% @accounts.each do |account| %>
		<tr>
			<td>
				<%= account.iaccount %>
				<input id="<%= account.iaccount %>" type="hidden" 
					data-ifather="<%= account.ifather %>" 
					data-account-type="<%= account.account_type %>"
					data-cost-center="<%= account.cost_center %>"
					data-foreign-currency="<%= account.foreign_currency %>"
					data-request-entity="<%= account.request_entity %>"
					data-iaccount="<%= account.iaccount %>"
					data-naccount="<%= account.naccount %>"
					data-id="<%= account.id %>">
				</td>
			<td class="account_name"><%= account.naccount %></td>
			<td>
				<%= link_to t("content.titles.create_sub_account"), "#new_account", 
					:class => 'btn btn-mini btn-success create_account' %>
				<%= link_to t("helpers.links.edit"), "#new_account", 
					:class => 'btn btn-mini update_account' %>
        <%= link_to t("helpers.links.destroy"), ledger_account_path(account), :method => :delete,
          :data => { :confirm => t("helpers.links.confirm", :default => 'Are you sure?') },
          :class => 'btn btn-mini btn-danger' %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<div id="new_account" class="modal hide">
	<%= render 'form' %>	
</div>
<div class="hide" id="put_account">
  <input type="hidden" value="put" name="_method">
</div>


