<script type="text/javascript">
  var cuenta_contable = [];
  <%  @ledger_accounts.each do |cc| %>
    cuenta_contable.push(new Array(<%= cc.iaccount.blank? ? 0 : cc.iaccount %>, '<%=h cc.naccount %>', <%= cc.ifather.blank? ? 0 : cc.ifather %>, <%= cc.id %>, <%= cc.iaccount %>));
  <% end %>
</script>

<%- model_class = LedgerAccount -%>
<%= javascript_include_tag 'ledgerAccount/accounts' %>
<%= javascript_include_tag 'ledgerAccount/treeview' %>

<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <div class="options">
    <div class="btn-toolbar">
      <button id="account-fb" class="btn btn-primary pull-right">
        <i class='fa fa-refresh'></i>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-xs-12">
      <div id="loading" class="alert alert-dismissable alert-info">
        <strong>
          <i class="fa fa-fw fa-info-circle">&nbsp;Información!</i>
        </strong>
        <p>
          <i class="fa fa-spinner fa-spin"></i>
          Espere un momento mientras se cargan las cuentas contables disponibles.
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      </div>

      <div id="error" class="alert alert-dismissable alert-danger">
        <strong>
          <i class="fa fa-fw fa-times">&nbsp;Error!</i>
        </strong>
        <p>Imposible cargar las cuentas contables</p>
        <a href='#'>Click Aqui</a> para volver a intentarlo<p>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-heading"></div>

        <div class="panel-body panel-no-padding">
          <div id="list"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ************************************************************************************* -->



