<script type="text/javascript">
  var cuenta_contable = [];
  <%  @ledger_accounts.each do |cc| %>
    cuenta_contable.push(new Array(<%= cc.iaccount.blank? ? 0 : cc.iaccount %>, '<%=h cc.naccount %>', <%= cc.ifather.blank? ? 0 : cc.ifather %>));
  <% end %>
</script>
<%- model_class = LedgerAccount -%>
<%= javascript_include_tag 'ledgerAccount/accountscript' %>
<%= javascript_include_tag 'centro_costos/treeview' %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %>
    <button id="account-fb" class="btn btn-primary pull-right">
    <i class='icon-refresh'></i>
  </button>
<div id="imagen" class="pull-right"> <%= image_tag("ajax-loader.gif") %> </div></h1>
</div>

<div id="list"></div>

<!-- PRUEBA CON LAS LISTAS -->
 <!-- <% @ledger_accounts.each do |ledger_account| %>
<ul id="navegador" class="nav nav-list" >
    <li><a href="#" class="desplegable"><%= model_class.human_attribute_name(:ifather) %> <%= ledger_account.ifather %> </a>
      <ul class="subnavegador">
        <li class="nav-header"><%= model_class.human_attribute_name(:iaccount) %> <%= ledger_account.iaccount %>
         <%= model_class.human_attribute_name(:naccount) %> <%= ledger_account.naccount %>
       </li>
      </ul>
    </li>    
  </ul>
   <% end %>

<table class="table table-striped" id="account-data">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ifather) %></th>
      <th><%= model_class.human_attribute_name(:iaccount) %></th>
      <th><%= model_class.human_attribute_name(:naccount) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ledger_accounts.each do |ledger_account| %>
      <tr>
        <td><%= link_to ledger_account.id, ledger_account_path(ledger_account) %></td>
        <td><%= ledger_account.ifather %></td>
        <td><%= ledger_account.iaccount %></td>
        <td><%= ledger_account.naccount %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ledger_account_path(ledger_account),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->

