<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code, :class => 'text_field', readonly: "true" %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'text_field', readonly: "true" %>
  </div>
  <div class="field">
    <%= f.label :label_reports_1 %><br />
    <%= f.text_area :label_reports_1, size: "24x2", :maxlength => 30  %>
    <div id="char-count-1"></div>
  </div>
  <div class="field">
    <%= f.label :label_reports_2 %><br />
    <%= f.text_area :label_reports_2, size: "24x2", :maxlength => 30  %>
    <div id="char-count-2"></div>
  </div>
  <div class="field">
    <%= f.label :label_reports_3 %><br />
    <%= f.text_area :label_reports_3, size: "24x2", :maxlength => 30  %>
    <div id="char-count-3"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
