<%- model_class = Company -%>
<%= javascript_include_tag 'companies/script' %>

<input type="hidden" id="companies_fb_companies_path" value="<%= companies_fb_companies_path %>">

<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <div class="options">
    <div class="btn-toolbar">
      <button id="companies-fb" class="btn btn-primary pull-right">
        <i class='fa fa-refresh'></i>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
    
  <%= render "/layouts/message" %>

  <%= will_paginate :class =>'pagination pagination-centered' %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-heading"></div>

        <div class="panel-body panel-no-padding">
          <table class="table table-bordered mb0">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:code) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:label_reports_1) %></th>
                <th><%= model_class.human_attribute_name(:label_reports_2) %></th>
                <th><%= model_class.human_attribute_name(:label_reports_3) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @companies.each do |company| %>
              <tr>
                <td><%= company.code %></td>
                <td><%= company.name %></td>
                <td><%= company.label_reports_1 %></td>
                <td><%= company.label_reports_2 %></td>
                <td><%= company.label_reports_3 %></td>
                <td>
                  <% if can? :update, Company %>
                    <%= link_to edit_company_path(company), :class => 'btn btn-xs btn-success-alt' do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="div-message" class="alert alert-dismissable alert-success" >
  <p id="message" class="last-sync-msg">
    <label>Último Proceso de Sincronización completado el <%= @last_sync.last_sync.to_date %> a las <%= @last_sync.last_sync.to_s(:time) %></label></p>
</div>
</div>
