<script type="text/javascript">
  var cantons = new Array();
  <% @cantons.each do |canton| %>
	cantons.push(new Array(<%= canton.province_id %>, '<%=h canton.name %>', <%= canton.id %>));
  <% end %>
</script>
<%= javascript_include_tag 'addresses/dynamic_addresses' %>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

    <% if @district.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><%= pluralize(@district.errors.count, "error") %> prohibited this district from being saved:</h3>
        <% @district.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <br>
      </div>
    <% end %>

    <div class="panel panel-primary" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

      <div class="panel-heading"></div>

      <div class="panel-body panel-no-padding">

        <%= form_for @district, :validate => true, :html => { :class => 'form-horizontal row-border', 
          :data => {:toggle => 'validator'} } do |f| %>

          <div class="form-group">
            <%= f.label :name, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.text_field :name, :class => 'form-control', :required => true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :province_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= collection_select(:district, :province_id, @provinces, :id, :name, 
                  options = {:prompt => true}, html_options = {:class => 'form-control', :required => true}) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :canton_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= collection_select(:district, :canton_id, @provinces, :id, :name, 
                  options = {:prompt => true}, html_options = {:class => 'form-control', :required => true}) %>
            </div>
          </div>
          
          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.submit :class => 'btn-primary btn' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  districts_path, :class => 'btn-default btn' %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
