<%= javascript_include_tag "vendors/vendors_dynamic_fields.js" %>
<script type="text/javascript">
  var cantons = new Array();
  var district = new Array();
  <% @canton.each do |canton| %>
    cantons.push(new Array(<%= canton.province_id %>, '<%=h canton.name %>', <%= canton.id %>));
  <% end %>
  <% @district.each do |district| %>
    district.push(new Array(<%= district.canton_id %>, '<%=h district.name %>', <%= district.id %>));
  <% end %>
</script>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
        <a href="#tab1" data-toggle="tab"><%=t("tabs.general")%></a>
    </li>
    <li class="disabled">
      <a href="#tab2" data-toggle="tab"><%=t("tabs.contact")%></a>
    </li>
    <li class="disabled">
      <a href="#tab3" data-toggle="tab"><%=t("tabs.other")%></a>
    </li>
  </ul>

<!-- Render Vendor form -->
    <%= form_for @vendor, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="tab-content">
      
<!-- Render Entity information into partial to reuse that code -->
          <%= f.fields_for :entity do |ent| %>

            <div class="tab-pane active" id="tab1">
              <%= render 'forms/entity_form', :f => ent %>
              <div class="control-group">
                <%= f.label :credit_limit, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :credit_limit, :class => 'text_field' %>
                </div>
              </div>
              <%= ent.fields_for :addresses do |add| %>              
                <%= render 'forms/address_form', :f => add %>
            <% end %>
            </div>

<!-- Render Entity's phones information into partial to reuse code -->
            <div class="tab-pane" id="tab2">

            <%= ent.fields_for :telephones do |pho| %>
                <%= render 'forms/telephone_form', :f => pho %>
                
            <% end %>
            <%= link_to_add_fields("Agregar otro teléfono", ent, :telephones) %>
            <div class="control-label">
              
            </div>
            <%= ent.fields_for :contacts do |cont| %>
              <br /><br />
              <h2>Información de contacto</h2>
                <%= render 'forms/contact_form', :f => cont %>
            <% end %>
            </div>

<!-- Render Entity's contacts information into partial to reuse code -->
            <div class="tab-pane" id="tab3">  
              <%= ent.fields_for :bank_accounts do |cont| %>
              <br />
              <h2>Cuentas Bancarias</h2>
                <%= render 'forms/bank_account_form', :f => cont %>
              <% end %>
            </div>

<!-- Render Entity's address information -->
            <div class="tab-pane" id="tab4">  
            
            </div>


    <% end %>

    <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      vendors_path, :class => 'btn' %>
    </div>
  </div>
</div>
<% end %>
