<%= javascript_include_tag "vendors/vendors.js" %>
<div class="tabbable">
  <ul class="nav nav-tabs vendor_tabs">
    <li class="active">
        <a href="#tab1" class="vendor_tab" data-toggle="tab"><%=t("tabs.general")%></a>
    </li>
    <li class="">
      <a href="#tab2" class="vendor_tab" data-toggle="tab"><%=t("tabs.contact")%></a>
    </li>
    <li class="">
      <a href="#tab3" class="vendor_tab" data-toggle="tab"><%=t("tabs.conditions")%></a>
    </li>
  </ul>

<!-- Render Vendor form -->
    <%= form_for @vendor, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="tab-content">
      
<!-- Render Entity information into partial to reuse that code -->
          <%= f.fields_for :entity, :validate => true do |ent| %>

            <div class="tab-pane active" id="tab1">
              <%= render 'forms/entity_form', :f => ent %>
              <div class="control-group">
                <%= f.label :credit_limit, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :credit_limit, :class => 'text_field' %>
                </div>
              </div>
              <%= ent.fields_for :addresses do |add| %>              
                <%= render 'forms/address_form', :f => add %>
            <% end %>
              <h3>Teléfonos <%= link_to_add_fields("Agregar teléfono", ent, :telephones, "add_telephone") %></h3>
              <div id="telephones">
                <%= ent.fields_for :telephones, :validate => true do |pho| %>
                    <%= render 'forms/telephone_form', :f => pho %>
                <% end %>
              </div>
            </div>

            <div class="tab-pane" id="tab2">
              <h2>Información de contacto <%= link_to_add_fields("Agregar contacto", ent, :contacts, "add_contact") %></h2>
              <div id="contacts">
              <%= ent.fields_for :contacts, :validate => true do |cont| %>
                  <%= render 'forms/contact_form', :f => cont %>
              <% end %>
              </div>
            </div>

<!-- Render Entity's contacts information into partial to reuse code -->
            <div class="tab-pane" id="tab3">  
              <h2>Cuentas Bancarias <%= link_to_add_fields("Agregar cuenta", ent, :bank_accounts, "add_bank_account") %></h2>
              <div id="bank_accounts">
              <%= ent.fields_for :bank_accounts, :validate => true do |cont| %>
                    <%= render 'forms/bank_account_form', :f => cont %>
                  <% end %>
                </div>
            </div>

    <% end %>

    <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <% if !@vendor.id  %>
            <%= f.submit :name=> 'continue',:value =>t("helpers.links.save_continue"), :class => 'btn btn-primary btn-info' %>
          <% end %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), vendors_path, :class => 'btn' %>
    </div>
  </div>
</div>
<% end %>
