<%= form_for @edit_product_pricing, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
        <%= f.number_field :product_id, :class => 'number_field' %>
    </div>
</div>

<div class="control-group">
    <%= f.label :utility, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :utility, :class => 'text_field' %>
    </div>
</div>

<div class="control-group">
    <%= f.label :price_type, :class => 'control-label' %>
    <div class='controls'>
        <%= f.enum_select :price_type, :include_blank =>false %>
    </div>
</div>

<div class="control-group">    
    <%= f.label :category, :class => 'control-label' %>
    <div class='controls'>
        <%= f.enum_select :category, :include_blank =>false  %>
    </div>
</div>

<div class="control-group">
    <%= f.label :sell_price, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :sell_price, :class => 'text_field'  %>
    </div>
</div>

<div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        <%=t("helpers.links.cancel")%>
    </button>
</div>

<% end %>