<% @product_i = @product_pricing.id %>

<tr class="success">
    <td class="product_id"><%= link_to product_pricing.product_id, product_path(product_pricing.product_id) %><%= hidden_field :id, product_pricing.id, value: product_pricing.id  %></td>
    <td class="utility"><%= @product_pricing.utility %></td>
    <td class="price_type"><%= @product_pricing.price_type %></td>
    <td class="category"><%= @product_pricing.category %></td>
    <td class="sell_price"><%= @product_pricing.sell_price %></td>
    <td>
    <a  href="#modalnew" role="button" 
        class="btn btn-mini edit_price" data-toggle="modal">
        <%=t('.edit', :default => t("helpers.links.edit"))%>
    </a>

    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), 
        product_pricing_path(@product_pricing.id), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", 
            :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger' %>
    </td>
</tr>
        
