//Update the notice message on page
$("#messages").html('<div class="flash notice"><%= escape_javascript(flash.discard(:notice)) %></div>');

//Append the content of the new price to the table
$("#id_<%= @product_pricing.id %>").closest("tr").replaceWith("<%= escape_javascript(render(:partial => @product_pricing)) %>");
//$("#myModal<%= @product_pricing.id %>").html("<%= escape_javascript(render(:partial =>'modal', :object => @product_pricing)) %>");

//Show the changes
$('#tableprices')[0].reset();

$("a[href='#myModal<%= @product_pricing.id %>']").closest("tr").effect('highlight', { color : '#F2DEDE', duration : 5000 });



