<%= javascript_include_tag 'resources' %>
<%= javascript_include_tag 'payment_types/payment_types' %>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

    <% if @payment_type.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><%= pluralize(@payment_type.errors.count, "error") %> no permitieron guardar este tipo de pago:</h3>
        <% @payment_type.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <br>
      </div>
    <% end %>
    
    <div class="panel panel-primary" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

      <div class="panel-heading"></div>
      
      <div class="panel-body panel-no-padding">
        <%= form_for @payment_type, :html => { :class => 'form-horizontal row-border', 
          :data => {:parsley_validate => "", :company => true} } do |f| %>
          
          <div class="form-group">
            <%= f.label :name, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.text_field :name, :class => 'form-control', :required => true, :disabled => true %>
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :payment_unit, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :payment_unit, :class => 'form-control', :disabled => true, :required => true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contract_code, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.text_field :contract_code, :class => 'form-control', :required => true, :disabled => true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :factor, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.text_field :factor, :class => 'form-control', :required => true,
                :data => {:parsley_range => [1, 10]}  %>
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :payment_type, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.select :payment_type, translate_enum(:payment_type), { :prompt => "Por favor selecciona" }, { :class => 'form-control', :required => true } %>
            </div>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.submit :class => 'btn-primary btn' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  payment_types_path, :class => 'btn-default btn' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
