<%- model_class = PaymentType -%>

<%= javascript_include_tag 'resources' %>
<%= javascript_include_tag 'payment_types/index_payment_types' %>

<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
</div>

<div class="container-fluid">
  
  <%= render "/layouts/message" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body panel-no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:contract_code) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:performance_unit) %></th>
                <th><%= model_class.human_attribute_name(:factor) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @payment_types.each do |payment_type| %>
                <tr>
                  <td><%= payment_type.contract_code %></td>
                  <td><%= payment_type.name %></td>
                  <td><%= payment_type.performance_unit %></td>
                  <td><%= payment_type.factor %></td>
                  <td>
                    <% if can? :update, PaymentType %>
                      <%= link_to edit_payment_type_path(payment_type), :class => 'btn btn-xs btn-success-alt' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-right">
            <%= will_paginate @payment_types %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="change_status_payment_types_path" value="<%= change_status_payment_types_path %>">
