<%= include_gon %>

<script type="text/javascript">
  var debit_account = [];
  var credit_account = [];
  var costs_center = []
 
  <% @debit_accounts.each do |cc| %>
    debit_account.push({
      iaccount: '<%= cc.iaccount.blank? ? 0 : cc.iaccount %>', 
      name: '<%=h cc.naccount %>', 
      father: '<%= cc.ifather.blank? ? 0 : cc.ifather %>', 
      id: '<%= cc.id %>'
    });
  <% end %>

  <% @credit_accounts.each do |cc| %>
    credit_account.push({
      iaccount: '<%= cc.iaccount.blank? ? 0 : cc.iaccount %>', 
      name: '<%=h cc.naccount %>', 
      father: '<%= cc.ifather.blank? ? 0 : cc.ifather %>', 
      id: '<%= cc.id %>'
    });
  <% end %>

  <% @cost_centers.each do |cc| %>
    costs_center.push({
      iaccount: '<%= cc.icost_center.blank? ? 0 : cc.icost_center %>',
      name: '<%=h cc.name_cc %>',
      father: '<%= cc.icc_father.blank? ? 0 : cc.icc_father %>',
      id: '<%= cc.id %>'
    });
  <% end %>
</script>

<%= javascript_include_tag 'resources' %>
<%= javascript_include_tag "work_benefits/work_benefits_script" %>
<%= javascript_include_tag 'costs_center/treeview' %>

<div class="container-fluid">
  <div data-widget-group="group1" class="ui-sortable">

    <% if @work_benefit.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h3><%= pluralize(@work_benefit.errors.count, "error") %> no permitieron guardar esta prestación:</h3>
        <% @work_benefit.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <br>
      </div>
    <% end %>

    <div class="panel panel-primary" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

      <div class="panel-heading"></div>

      <div class="panel-body panel-no-padding">

        <%= form_for @work_benefit, :html => { :class => 'form-horizontal row-border', :data => {:parsley_validate => "",
          :model_name => WorkBenefit.model_name, :reference_id => @work_benefit.id, :company => true} } do |f| %>

         <div class="form-group">
          <%= f.label :name, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3 form-group_">
              <%= f.text_field :name, :class => 'form-control', 
                :required => true, :data => {:parsley_maxlength => 30} %>
              <div class="help-block with-errors"></div>
              <%= f.hidden_field :company_id, :value => current_user.company_id %>
              
              <div class="row">
                <div class="col-sm-4">
                  <%= f.label :active, "Activa", :class => "control-label col-sm-8" %>
                  <div class="col-sm-3">
                    <label class="checkbox icheck">
                      <%= check_box_tag "work_benefit[active]", 1, f.object.active? %>
                    </label>
                  </div>
                </div>
                
                <div class="col-sm-8">
                  <%= f.label :provisioning, "¿Provisionar?", :class => "control-label col-sm-7" %>
                  <div class="col-sm-3">
                    <label class="checkbox icheck">
                      <%= f.check_box :provisioning %>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <%= f.label :debit_account, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <div class="input-group">
                <%= f.hidden_field :debit_account %>
                <%= text_field_tag 'load_debit_accounts', nil, :class => 'form-control', 
                    :for => :debit_account, :required => true, :data => {:parsley_errors_container => "#debit_account_errors"} %>
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <div id="debit_account_errors"></div>
            </div>
            <div class="col-sm-1">
              <a id="debit-button" href="#accountsModal" class="btn btn-default-alt" data-toggle="modal">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            
            <div id="credit_accounts">
              <%= f.label :credit_account, :class => 'col-sm-1 control-label' %>
              <div class="col-sm-3">
                <div class="input-group">
                  <%= f.hidden_field :credit_account %>
                  <%= text_field_tag 'load_credit_account_name', nil, :class => 'form-control', 
                      :for => :credit_account, :data => {:parsley_errors_container => "#credit_accounts_errors"} %>
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
                <div id="credit_accounts_errors"></div>
              </div>
              <div class="col-sm-1">
                <a id="credit-button" href="#accountsModal" class="btn btn-default-alt" data-toggle="modal">
                  <i class="fa fa-bars"></i>
                </a>
              </div>   
             </div>
           </div>
          
          <div class="form-group">
            <%= f.label :creditor_id, :class => "col-sm-2  control-label"  %>
            <div class="col-sm-3">
            <div class="input-group form-group_">
              <%= f.hidden_field :creditor_id %>
              <%= text_field_tag :load_creditor, nil,  :class => 'form-control',
                :for => :creditor_id, :data => {:parsley_errors_container => "#creditor_errors"} %>
              <span class="input-group-addon">
                  <i class="fa fa-search"></i>
              </span>
            </div>
            <div id="creditor_errors"></div>
            
            <div class="beneficiary-check">
              <%= f.label :pay_to_employee, :class => 'control-label col-sm-5' %>
              <div class="col-sm-3">
                <label class="checkbox icheck" id="div_deduction_pay_to_employee">
                  <%= f.check_box :pay_to_employee %>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <a data-toggle="modal" href="#creditors_modal" class="btn btn-default-alt" title="Ver lista de acreedores">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          
          <div class="pull-right col-sm-6">
            <%= f.label :costs_center_id, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-6">
              <div class="input-group">
                <%= f.hidden_field :costs_center_id %>
                <%= text_field_tag 'load_costs_center_name', nil, :class => 'form-control', 
                    :for => :costs_center_id, :required => true, :data => {:parsley_errors_container => "#costs_center_errors"} %>
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <div id="costs_center_errors"></div>
            </div>
            <div class="col-sm-1">
              <a id="cost-centrt-button" href="#accountsModal" class="btn btn-default-alt" data-toggle="modal">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>
          </div>
          
          <div class="form-group">
            <%= f.label :calculation_type, :class => "col-sm-2 control-label" %>  
            <div class="col-sm-3">
              <%= f.select(:calculation_type, translate_enum(:calculation_type), {:include_blank => false},{ :class => "form-control"}) %>
            </div>
            
            <%= f.label :work_benefits_value, :class => "col-sm-2 control-label" %>
            <div class="col-sm-3">
              <%= f.text_field :work_benefits_value, :value =>  number_to_currency(f.object.work_benefits_value, :unit => "", :delimiter => ""),
                :class => "form-control", :required => true %>
                <div class="individual-check">
                  <%= f.label :individual, :class => "col-sm-5 control-label" %>
                  <div class="col-sm-3">
                    <label class="checkbox icheck">
                      <%= f.check_box :individual, :class => "form-control" %>
                    </label>
                  </div>
                </div>
            </div>
          
            <div class="col-sm-6 pull-right" id="currency">
              <%= f.label :currency_id, :class => "col-sm-2 control-label" %>
              <div class="col-sm-6 form-group_">
                <%= f.collection_select :currency_id, @currencies, :id, :name, options = {:prompt => false},
                  html_options = { :class => "form-control" }%>
              </div>
            </div>
          </div>
          
          <% @currencies.each do |currency| %>
            <%= hidden_field_tag currency.name, currency.symbol, :disabled => "true" %>
          <% end %>
          
          <!-- PAYROLL TYPES -->

          <div class="form-group" >
            <%= f.label :payroll_types, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" id="payroll_type_select_all"> Seleccionar/Deseleccionar
                </label>
              </div>
              <%= select("work_benefit", "payroll_type_ids", options_for_select( @payroll_types.map {|p| ["#{p.description}", p.id]}, 
                  @work_benefit.payroll_type_ids.map {|j|j} ), { include_blank: false }, 
                  {:multiple => true, :required => true, :selected => @work_benefit.payroll_type_ids}) %>
            </div>
          </div>
          
          <!-- E M P L O Y E E S -->
          <div class="form-group" >
            <%= f.label :Empleados, :class => 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" id="emplotee_select_all"> Seleccionar/Deseleccionar
                </label>
              </div>

              <div class="checkbox icheck">
                <label>
                  <%= radio_button_tag 'select_method', 'all', true, class: 'align-checkbox', :checked => true %>
                  Todos
                </label>
                <label>
                  <%= radio_button_tag 'select_method', 'boss', false, class: 'align-checkbox' %>
                  Jefe Inmediato
                </label>
                <label>
                  <%= radio_button_tag 'select_method', 'department', false, class: 'align-checkbox' %>
                  Por Departamento
                </label>
              </div>

              <div class="" id="list-departments" style="border-top:0px;">
                <div class="col-sm-5" style="width: 46%; padding-bottom: 10px;padding-left: 1px;">
                  <% p = @department.empty? ? "No existen departamentos todavía" : "Por favor selecciona" %>
                  <%= collection_select("departments", "employees", @department, :id, :name, 
                      {:prompt => p}, {:class => 'form-control'}) %>
                </div>
              </div>

              <div class="" id="list-superior" style="border-top:0px;">
                <div class="col-sm-5" style="width: 46%; padding-bottom: 10px;padding-left: 1px;">
                  <% p = @superior.empty? ? "No existen jefes todavía" : "Por favor selecciona" %>
                    <%= collection_select("superiors", "employees", @superior, :id, :full_name,
                      {:prompt => p}, {:class => 'form-control'}) %>
                </div>
              </div>

              <%= select("work_benefit", "employee_ids", 
                options_for_select( @employees.map {|key, p| [p[:full_name], p[:id], 
                { 'data-id' => dom_id(Employee.find(p[:id])), 'data-sup' => p[:employee_id], 'data-dep' => p[:department_id] } ]}, @employee_ids.map {|j|j} ), 
                { include_blank: false }, {:multiple => true, :selected => @employee_ids, :required => true}) %>
                
            </div>
          </div>
          
             <!-- E M P L O Y E E S   L I S T   D E T A I L -->
          <div class="form-group" id="div-message" style="display:none;">
            <div class="col-sm-12">

              <div class="alert alert-dismissable">
                <i class="fa fa-fw"></i>
                <label id="message"></label>
              </div>
            </div>
          </div>
          
          <div class="form-group" id="employee_items_two">
            <label class="col-sm-2 control-label">Detalle de Aplicación Individual</label>
            <div class="col-sm-8">
              <table id="employee_items" class="table table-responsive">
                <thead>
                  <tr class="header_items">
                    <td class="header_employee" width='80%'>Empleado</td>
                    <td class="header_calculation">Valor</td>
                  </tr>
                </thead>
                <tbody class="table-bordered">
                  <%= f.fields_for :employee_benefits do |de| %>
                    <%= render 'forms/employee_benefit_form', :f => de %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <%= f.submit nil, :class => 'btn btn-primary' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  work_benefits_path, :class => 'btn-default btn' %>
              </div>
            </div>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- MODALS -->

<div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close delete-accounts" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 id="myModalLabel"></h2>
      </div>
      <div class="modal-body">
        <div id="list"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="costCenterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <!--<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close delete-accounts" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 id="myModalLabel">Seleccione un Centro de costo</h2>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <%= form_tag :search_cost_center_work_benefits, :id => "search_cost_center_form", :class => "form-inline", :method => "get" do %>
            <div class="row control-group search">

              <div class="col-md-12">
                <div class="form-group">
                  <%= text_field_tag :cost_center_name, params[:cost_center_name], :class => "form-control",
                  :placeholder => 'Nombre' %>
                  <button class="btn" id="clear_task" type="button">Limpiar</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div id="search_cost_center_results"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>-->
</div>

<%= render "shared/creditors_modal" %>
<%= render "shared/payrolls_modal" %>
