<script type="text/javascript">
  var debit_account = [];
	var credit_account = [];
 
  <% @debit_accounts.each do |cc| %>
    debit_account.push(new Array(
        <%= cc.iaccount.blank? ? 0 : cc.iaccount %>, 
        '<%=h cc.naccount %>', 
        <%= cc.ifather.blank? ? 0 : cc.ifather %>, 
        <%= cc.id %>
    ));
  <% end %>

  <% @credit_accounts.each do |cc| %>
    credit_account.push(new Array(
        <%= cc.iaccount.blank? ? 0 : cc.iaccount %>, 
        '<%=h cc.naccount %>', 
        <%= cc.ifather.blank? ? 0 : cc.ifather %>, 
        <%= cc.id %>
    ));
  <% end %>

</script>

<%= javascript_include_tag "work_benefits/work_benefits_script" %>
<%= javascript_include_tag 'centro_costos/treeview' %>

<%= form_for @work_benefit, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :percentage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :percentage, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :debit_account, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :debit_account %>
      <%= text_field_tag 'load_debit_accounts', nil, :class => 'text_field required search-image-employee', :for => :debit_account %>  
      <a id="debit-button" data-keyboard="false" data-backdrop="static" href="#accountsModal" role="button" class="btn" data-toggle="modal"> <i class="icon-list"></i></a>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :credit_account, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :credit_account %>
      <%= text_field_tag 'load_credit_account_name', nil, :class => 'text_field required search-image-employee', :for => :credit_account %>
			<a id="credit-button" data-keyboard="false" data-backdrop="static" href="#accountsModal" role="button" class="btn" data-toggle="modal"> <i class="icon-list"></i></a>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :centro_de_costo_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.hidden_field :centro_de_costo_id %>
      <%= text_field_tag 'load_centro_de_costo_name', nil, :class => 'text_field required search-image-employee', :for => :centro_de_costo_id %>
      <a id="cost-centrt-button" data-keyboard="false" data-backdrop="static" href="#costCenterModal" role="button" class="btn" data-toggle="modal"> <i class="icon-list"></i></a>
    </div>
  </div>

  <div class="control-group">  
    <%= f.label :is_beneficiary, :class => 'control-label' %>
    <div class='controls'>
      <%= f.check_box :is_beneficiary %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :beneficiary_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :beneficiary_id, :class => 'text_field' %>
    </div>
  </div>
  <hr></hr>
	<div class="control-group">
    <%= f.label :Empleados, :class => 'control-label' %>
    <div class="controls align-radio">
			<div class="options-left">
	      <%= radio_button_tag 'select_method', 'all', true, class: 'align-checkbox' %>
				<%= label_tag 'select_method_all', "Todos", class: 'checkbox-label' %>
				<%= radio_button_tag 'select_method', 'boss', false, class: 'align-checkbox' %>
				<%= label_tag 'select_method_boss', "Jefe Inmediato", class: 'checkbox-label' %>
				<%= radio_button_tag 'select_method', 'department', false, class: 'align-checkbox' %>
				<%= label_tag 'select_method_department', "Por Departamento", class: 'checkbox-label' %>
			</div>
			<div class="options-right">
	      <%= check_box_tag 'check-employees-right', '1', true, class: 'align-checkbox' %>
				<%= label_tag 'check-employees-right', 'Marcar/Desmarcar', class: 'checkbox-label' %>
			</div>
			<div style="clear:both"></div>
    </div>
  </div>

	<div class="controls padding-filter" id="list-departments">
		<% p = @department.empty? ? "No existen departamentos todavía" : "Por favor selecciona" %>
  	<%= collection_select("departments", "employees", @department, :id, :name , :prompt => p) %>
  </div>

	<div class="controls padding-filter" id="list-superior">
		<% p = @superior.empty? ? "No existen jefes todavía" : "Por favor selecciona" %>
  	<%= collection_select("superiors", "employees", @superior, :id, :full_name , :prompt => p) %>
  </div>

	<div class="controls padding-filter" id="employee-filter">
    <%= text_field_tag 'load_filter_employees_text', nil, :class => 'text_field required search-image-employee' %> 
  </div>

	<div class="controls" id="marcar-desmarcar">
		<%= check_box_tag 'check-employees', '1', false, class: 'align-checkbox' %>
		<%= label_tag 'check-employees', 'Marcar/Desmarcar', class: 'checkbox-label' %>
	</div>

	<div class="controls lists">
		<div class="employees-list left-list">
			<div class="employees-margin" id="no-save">
				
        <% @employees.each do |employee| %>
					<div class="checkbox-group">
						<div class="checkbox-margin">
							<%= check_box_tag 'left-list-employees', employee.id, 
											@work_benefit.employee_ids.include?(employee.id), id: dom_id(employee) + '_left', 'data-id' => dom_id(employee), 'data-sup' => employee.employee_id, class: 'align-checkbox', 'data-dep' => employee.department_id  %>
							<%= label_tag dom_id(employee) + '_left', "#{employee.entity.surname} #{employee.entity.name}", 
									:class => 'checkbox-label' %>
						</div>
				  </div>
				<% end %>
      
			</div>
		</div>
		<div class="control-buttons">
			<a href="#" id="add-to-list" class="btn btn-large button-list"><i class=" icon-arrow-right"></i></a>
			<a href="#" id="remove-to-list" class="btn btn-large button-list"><i class=" icon-arrow-left"></i></a>
		</div>

		<div class="employees-list list-right">
			<%= hidden_field_tag 'work_benefit[employee_ids][]', nil %>
			<div class="employees-margin" id="list-to-save">				
			</div>
		</div>

		<div style="clear:both"></div>
	</div>
<p></p>
<hr></hr>
<!-- payroll types -->

  <div class="control-group">
    <%= f.label :payroll_types, :class => 'control-label' %>
    <div class="controls align-radio">
      <div class="options-left">
        <%= text_field_tag 'load_filter_payroll_types_text', nil, :class => 'text_field required search-image-employee' %> 
      </div>

      <div class="options-right">
        <%= check_box_tag 'check-payroll-types-right', '1', true, class: 'align-checkbox' %>
        <%= label_tag 'check-payroll-types-right', 'Marcar/Desmarcar', class: 'checkbox-label' %>
      </div>

      <div style="clear:both"></div>
    </div>
  </div>
  
  <div class="controls" id="marcar-desmarcar-payroll-types">
    <%= check_box_tag 'check-payroll-types', '1', false, class: 'align-checkbox' %>
    <%= label_tag 'check-payroll-types', 'Marcar/Desmarcar', class: 'checkbox-label' %>
  </div>
  
  <div class="controls lists">
    <div class="payroll-types-list left-list">
      <div class="payroll-types-margin" id="no-save-payroll-types">
        
        <% @payroll_types.each do |payroll_type| %>
          <div class="checkbox-group">
            <div class="checkbox-margin">

              <%= check_box_tag 'left-list-payroll-type', payroll_type.id, 
                @work_benefit.payroll_type_ids.include?(payroll_type.id),
                id: dom_id(payroll_type) + '_left', 
                'data-id' => dom_id(payroll_type), 
                'data-sup' => payroll_type.id, 
                class: 'align-checkbox', 'data-dep' => payroll_type.id %>

              <%= label_tag dom_id(payroll_type) + '_left', "#{payroll_type.description}", 
                  :class => 'checkbox-label' %>
            </div>
          </div>
        <% end %>
      
      </div>
    </div>
    <div class="control-buttons">
      <a href="#" id="add-to-list-payroll-types" class="btn btn-large button-list"><i class=" icon-arrow-right"></i></a>
      <a href="#" id="remove-to-list-payroll-types" class="btn btn-large button-list"><i class=" icon-arrow-left"></i></a>
    </div>

    <div class="payroll-types-list list-right">
      <%= hidden_field_tag 'work_benefit[payroll_type_ids][]', nil %>
      <div class="employees-margin" id="list-payroll-types-to-save">        
      </div>
    </div>

    <div style="clear:both"></div>
  </div>
<!-- payroll types -->

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              work_benefits_path, :class => 'btn' %>
</div>

<% end %>

<div id="accountsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close delete-accounts" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Seleccione la cuenta contable</h3>
  </div>
  <div class="modal-body">
    <div id="list"></div>
  </div>
  <div class="modal-footer">
    <button class="btn delete-accounts" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>

<div id="costCenterModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close delete-accounts" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Seleccione un Centro de costo</h3>
  </div>
  <div class="modal-body">
    <div>
      <!-- search -->
      <legend>  
        <%= form_tag :search_cost_center_work_benefits, :id => "search_cost_center_form", :class => "form-search", :method => "get" do %>
          <div class="control-group search">
            <%= text_field_tag :cost_center_name, params[:cost_center_name], :class => "search-query",
             :placeholder => 'Nombre' %>
             <button class="btn" id="clear_task" type="button">Limpiar</button>
          </div>
        <% end %>
      </legend>
      <!-- search -->
    </div>
    <div id="search_cost_center_results"></div>
  </div>
  <div class="modal-footer">
    <button class="btn delete-accounts" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>