<%- model_class = WorkBenefit -%>
<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
  <div class="options">
    <div class="btn-toolbar">
      <% if can? :create, WorkBenefit %>
        <%= link_to new_work_benefit_path, :class => 'btn btn-primary pull-right' do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  
  <%= render "/layouts/message" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-heading"></div>

        <div class="panel-body panel-no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th>
                  <%= select_tag(:work_benefit_type, options_for_select(translate_enum(:types)), 
                   :prompt => "Filtro tipo de prestación", :class => "form-control") %>
                  <%= model_class.human_attribute_name(:work_benefit_type) %>
                </th>
                <th>
                  <%= select_tag(:calculation_type, options_for_select(translate_enum(:calculation_type)), 
                   :prompt => "Filtro tipo de calculo", :class => "form-control") %>
                  <%= model_class.human_attribute_name(:calculation_type) %>
                </th>
                <th><%= model_class.human_attribute_name(:work_benefit_value) %></th>
                <th>
                  <%= select_tag(:state, options_for_select([["Si", :active], ["No", :completed]]),  
                    :prompt => "Filtro activa",  :class => "form-control") %>
                  <%= model_class.human_attribute_name(:state) %>
                </th>
                <th>
                  <%= button_tag "Limpiar", :id => "clean_button",  :class => "btn btn-primary" %><br>
                  <%=t '.actions', :default => t("helpers.actions") %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @work_benefits.each do |work_benefit| %>
                <tr>
                  <td><%= work_benefit.name %></td>
                  <td><%=t "types.#{work_benefit.work_benefits_type}" %></td>
                  <td><%=  t "calculation_type.#{work_benefit.calculation_type}" %></td>
                  <td><%= work_benefit.work_benefits_value %></td>
                  <td><%= state_helper work_benefit.state %></td>
                  <td>
                    <% if can? :update, WorkBenefit %>
                      <%= link_to edit_work_benefit_path(work_benefit), :class => 'btn btn-xs btn-success-alt' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    <% end %>

                    <% if can? :destroy, WorkBenefit %>
                      <%= link_to work_benefit_path(work_benefit),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-xs btn-danger-alt' do %>
                        <i class="fa fa-trash-o"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-right">
            <%= will_paginate @work_benefit %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
