<%- model_class = WorkBenefit -%>
<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
  <div class="options">
    <div class="btn-toolbar">
      <% if can? :create, WorkBenefit %>
        <%= link_to new_work_benefit_path, :class => 'btn btn-primary pull-right' do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  
  <%= render "/layouts/message" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-heading"></div>

        <div class="panel-body panel-no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th>
                  <%= select_tag(:work_benefits_type, options_for_select(translate_enum(:types)), 
                   :prompt => "Filtro tipo de prestación", :class => "form-control") %>
                  <%= model_class.human_attribute_name(:work_benefit_type) %>
                </th>
                <th>
                  <%= select_tag(:calculation_type, options_for_select(translate_enum(:calculation_type)), 
                   :prompt => "Filtro tipo de calculo", :class => "form-control") %>
                  <%= model_class.human_attribute_name(:calculation_type) %>
                </th>
                <th><%= model_class.human_attribute_name(:work_benefit_value) %></th>
                <th>
                  <%= select_tag(:state, options_for_select([["Si", :active], ["No", :completed]]),  
                    :prompt => "Filtro activa",  :class => "form-control") %>
                  <%= model_class.human_attribute_name(:state) %>
                </th>
                <th>
                  <%= button_tag "Limpiar", :id => "clean_button",  :class => "btn btn-primary" %><br>
                  <%=t '.actions', :default => t("helpers.actions") %>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render "work_benefits_list" %>
            </tbody>
          </table>
          <div id="work_benefits_pagination" class="text-right">
            <%= render "pagination" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "work_benefits/work_benefits_index" %>
