<%- model_class = WorkBenefit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => 2) %></h1>
</div>
<%= will_paginate :class =>'pagination pagination-centered' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:percentage) %></th>
      <th><%= model_class.human_attribute_name(:debit_account) %></th>
      <th><%= model_class.human_attribute_name(:credit_account) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @work_benefits.each do |work_benefit| %>
      <tr>
        <td><%= link_to work_benefit.description, work_benefit_path(work_benefit) %></td>
        <td><%= work_benefit.percentage %></td>
        <td><%= work_benefit.debit.naccount if work_benefit.debit %></td>
        <td><%= work_benefit.credit.naccount if work_benefit.debit %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_work_benefit_path(work_benefit), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      work_benefit_path(work_benefit),
                      :method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_work_benefit_path,
            :class => 'btn btn-primary' %>
