<h1>Listing work_benefits</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Employee</th>
    <th>Frequency</th>
    <th>Calculation method</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_benefits.each do |work_benefit| %>
  <tr>
    <td><%= work_benefit.description %></td>
    <td><%= work_benefit.employee %></td>
    <td><%= work_benefit.frequency %></td>
    <td><%= work_benefit.calculation_method %></td>
    <td><%= link_to 'Show', work_benefit %></td>
    <td><%= link_to 'Edit', edit_work_benefit_path(work_benefit) %></td>
    <td><%= link_to 'Destroy', work_benefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work benefit', new_work_benefit_path %>
