<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @work_benefit.description %>
</p>

<p>
  <b>Employee:</b>
  <%= @work_benefit.employee %>
</p>

<p>
  <b>Frequency:</b>
  <%= @work_benefit.frequency %>
</p>

<p>
  <b>Calculation method:</b>
  <%= @work_benefit.calculation_method %>
</p>


<%= link_to 'Edit', edit_work_benefit_path(@work_benefit) %> |
<%= link_to 'Back', work_benefits_path %>
