<div class="control-group">
  <%= f.label :province_id, :class => 'control-label' %>
  <div class="controls">
    <%= collection_select(:address, :province_id, @province, :id, :name , :prompt => true) %>
  </div>
</div>
<div class="control-group">
  <%= f.label :canton_id, :class => 'control-label' %>
  <div class="controls">
    <%= collection_select(:address, :canton_id, @canton, :id, :name , :prompt => true) %>
  </div>
</div>
<div class="control-group">
  <%= f.label :district_id, :class => 'control-label' %>
  <div class="controls">
    <%= collection_select(:address, :district_id, @district, :id, :name , :prompt => true) %>
  </div>
</div>
<div class="control-group">
	<%= f.label :address, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :address, :class => 'text_field' %>
	</div>
</div>