<tr class="items_deductions_form">

  <td class="controls_item">
    <div class="input-append">
      <%= f.hidden_field :employee_id %>
      <%= hidden_field_tag 'in_searching', '0' %>
      <%= text_field_tag 'search_code_employee', '', :class => 'input-mini search_code_employee', :placeholder => 'Número' %>
      <%= text_field_tag 'search_name_employee', '', :class => 'input-medium', :placeholder => 'Nombre Empleado'  %>
      <a id="openEmployeeModal" data-keyboard="false" data-backdrop="static" href="#employeeModal" role="button" data-toggle="modal" >
        <span class="add-on"><i class="icon-list"></i></span>
      </a>
    </div>
  </td>

  <td class="controls_item">
    <div class="input-append">
      <div class="controls">
        <%= f.text_field :calculation, :size => "5x5", 
        :value => number_with_precision(f.object.calculation, delimiter: ',', separator: '.', precision: 2) %>
    	</div>
    </div>
  </td>

  <td>
    <div class="controls_item">
      <div class="controls">
        <%= f.hidden_field :_destroy  %>
        <%= link_to "remove", '#', class: "remove_fields btn btn-mini btn-danger" %>
      </div>
    </div>
  </td>
  <%= f.hidden_field :completed, :value => false %>

</tr>
