<tr class="items_work_benefits_form">

  <td class="controls_item">
    <div class="input-append">
      <div class="col-md-12">
        <%= f.hidden_field :employee_id %>
        <%= hidden_field_tag 'in_searching', '0' %>
        <%= text_field_tag 'search_name_employee', '', :class => 'form-control', 
          :placeholder => 'Nombre Empleado' %>
      </div>
    </div>
  </td>

  <td class="controls_item">
    <div class="input-append">
      <div class="controls">
        <span class="employee_calculation_currency_symbol"></span>
        <%= f.text_field :calculation, :value => number_to_currency(f.object.calculation, unit: "", delimiter: ""), :size => "5x5", :class => 'form-control'  %>
      </div>
    </div>
  </td>

  <%= f.hidden_field :completed, :value => false %>
</tr>
 
