<div class="control-group">
  <%= f.label :name, :class => 'control-label' %>
  <div class="controls">
		<div class="input-prepend">
			<span class="add-on"><i class="icon-user"></i></span><%= f.text_field :name, :class => 'text_field' %>
		</div>
  </div>
</div>
<div class="control-group">
  <%= f.label :surname, :class => 'control-label' %>
  <div class="controls">
		<div class="input-prepend">
			<span class="add-on">A</span><%= f.text_field :surname, :class => 'text_field' %>
		</div>
  </div>
</div>
<div class="control-group">
  <%= f.label :typeid, :class => 'control-label' %>
  <div class="controls">
		<div class="input-prepend">
			<span class="add-on">T</span>
			<%= f.select :typeid, translate_enum(:typeid) %>
		</div>
  </div>
</div>
<div class="control-group">
  <%= f.label :entityid, :class => 'control-label' %>
  <div class="controls">
		<div class="input-prepend">
			<span class="add-on">C</span><%= f.text_field :entityid, :class => 'text_field' %>
		</div>
  </div>
</div>

