<tr>
  <td>
    <%= f.collection_select :warehouse_id,  @warehouses, :id, :name, 
      {:include_blank => false}, {:class=>"input-block-level"} %>
  </td>
  <td>
    <%= f.hidden_field :product_id, :class => "product_id" %>
    <%= f.text_field :code,
      :class => 'text_field input-block-level code ui-autocomplete-input' %>
  </td>
  <td >
    <%= f.text_field :description, 
      :class => 'text_field input-block-level description ui-autocomplete-input' %>
  </td>
  <td>
    <%= f.text_field :ordered_quantity, :class => 'text_field input-block-level ordered' %>
  </td>
  <td>
    <%= f.text_field :available_quantity, :class => 'text_field input-block-level available', :readonly => true %>
  </td>
  <td>
    <%= f.text_field :quantity, :class => 'text_field input-block-level quantity', :readonly => true %>
  </td>
  <td>
    <%= f.text_field :cost_unit, :class => 'text_field cost_unit input-block-level' %>
  </td>
  <td>
    <%= f.text_field :discount, :class => 'text_field input-block-level discount' %>
  </td>
  <td>
    <%= f.text_field :tax, 
      :class => 'text_field input-block-level tax', :readonly => true %>
  </td>
  <td>
    <%= f.text_field :cost_total, 
      :class => 'text_field cost_total input-block-level', :readonly => true %>
  </td>
  <td>
      <%= f.hidden_field :_destroy %>
      <i class="icon-trash btn remove_row"></i>
  </td>
</tr>