<tr class="success items_purchase_orders_form">

	<td class="controls_item" id="td_employees" style="width: 22%;">
		<div class="row no-gutter">
			<div class="col-md-4">
				<%= hidden_field_tag 'search_code_employee', '' %>
			</div>
			<div class="col-md-8">
				<%= hidden_field_tag 'employee_code', ''%>
				<%= hidden_field_tag 'search_name_employee', '' %>
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_cc" style="width: 22%;">
		<div class="row no-gutter">
			<div class="col-md-4">
				<%= hidden_field_tag 'search_code_cc', '' %>
				<%= f.hidden_field :costs_center_id, class: "cc-filter-id centro-costo" %>
				<%= hidden_field_tag 'iactivity_cc', '' %>
			</div>
			<div class="col-md-8">
				<%= hidden_field_tag 'search_name_cc', '' %>
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_task" style="width: 22%;">
		<div class="row no-gutter">
			<div class="col-md-4">
				<%= hidden_field_tag 'search_code_task', '', :class => 'a-not-active' %>
			</div>

			<div class="col-md-8">
				<%= hidden_field_tag 'search_name_task', '',:class => 'a-not-active' %>
				<%= f.hidden_field :task_id %>
				<%= f.hidden_field :task_total %>
				<%= f.hidden_field :task_unidad %>
				<input type="hidden" id="currency_id" value="">
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_time_worked" style="width: 9%;">
		<div class="row no-gutter">
			<div class="col-md-12 form-group_">
				<%= f.number_field :time_worked, :class => 'form-control input-table time-worked', :tabindex => '1', :value => 1, 
          :required => true %>
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_performance" style="width: 9%;">
		<div class="row no-gutter">
			<div class="col-md-12">
				<%= f.text_field :performance, :class => "form-control", :tabindex => '2',
				  :data => {:error => 'Este valor es requerido.'} %>
			</div>
		</div>
	</td> 

	<td id="td_save_employees" class="save-employees" style="display:none;"></td>

	<td class="controls_item" id="td_payment_type" style="width: 16%;">
		<div class="row no-gutter">
			<div class="col-md-8">
				<%= f.select :payment_type_id, options_for_select(@payment_types.map{ |c| [c.name, c.id, 
					{'data-factor' => c.factor}] }), {include_blank: false}, {:class => "form-control", :tabindex => '3'} %>
			</div>
			<div class="col-md-3">
				&nbsp;
				<%= f.hidden_field :_destroy, :class => 'payroll_histories' %>
				<%= link_to("#", class: "remove_fields btn btn-xs btn-danger-alt") do %>
					<i class="fa fa-trash-o"></i>
				<% end %>
				<%= f.hidden_field :total %>
				<%= f.hidden_field :payroll_date %>
			</div>			
		</div>
	</td>
</tr>
