<tr class="success items_purchase_orders_form">
	<td class="controls_item">
		<div class="input-append">
			<%= text_field_tag 'search_code_employee', '', :class => 'form-control', :placeholder => 'Número',:tabindex => '1' %>
			<%= hidden_field_tag 'employee_code', ''%>
			<%= text_field_tag 'name_employee', '', :class => 'form-control', :placeholder => 'Nombre Empleado', :tabindex => '2' %>
			<a class="centro-costo" data-keyboard="false" data-backdrop="static" href="#employeeModal" 
			role="button" data-toggle="modal" tabindex="3">
				<span class="add-on"><i class="icon-list"></i></span>
			</a>
		</div>
	</td>
	<td class="controls_item">
		<div class="input-append">
			<%= f.label :task_id, :class => '' %>
			<%= text_field 'search_task_code', '', :class => 'form-control', :placeholder => 'Código', :tabindex => '4' %>
			<%= text_field 'task_cost', '', :class => 'form-control', :placeholder => 'Costo', :readonly => true %>
			<%= text_field 'task_unit', '', :class => 'form-control', :placeholder => 'Unidad', :readonly => true %>

			<%= f.hidden_field :task_id, class: "cc-filter-id" %>
			<%= text_field_tag 'load_task', nil, :class => 'cc-filter form-control search-image-employee', 
			:for => :task_id, :tabindex => '5' %>

			<a class="centro-costo" data-keyboard="false" data-backdrop="static" href="#taskModal" 
			role="button" data-toggle="modal">
				<span class="add-on"><i class="icon-list"></i></span>
			</a>
			<%= f.hidden_field :task_total, class: "cc-filter-id" %>
			<%= f.hidden_field :task_unidad, class: "cc-filter-id" %>
		</div>
	</td>
	<td class="controls_item">
		<%= f.label :time_worked, :class => '' %>
		<%= f.number_field :time_worked, :class => 'form-control input-table time-worked', :tabindex => '6' %>
	</td>
	<td class="controls_item">
		<%= f.label :costs_center_id, :class => 'input-table' %>
		<div class="input-append">
			<%= text_field 'search_cost_code', '', :class => 'form-control', :placeholder => 'codigo', :tabindex => '7' %>
			<%= f.hidden_field :costs_center_id, class: "cc-filter-id centro-costo" %>
			<%= text_field_tag 'load_centro_de_costo', nil, :class => 'cc-filter form-control search-image-employee centro-costo', 
			:for => :costs_center_id, :tabindex => '8' %>
			<a class="centro-costo" data-keyboard="false" data-backdrop="static" href="#payrollModal" 
			role="button" data-toggle="modal">
				<span class="add-on"><i class="icon-list"></i></span>
			</a>
		</div>
	</td>
	<td class="save-employees" style="display:none;"></td>
	<td class="controls_item">
		<%= f.label :payment_type, :class => '' %>
		<%= f.enum_select :payment_type, {:tabindex => '9' , :include_blank => false }, { :class => 'paymentType' } %>
		<%= f.hidden_field :_destroy, :class => 'payroll_histories' %>		
		<%= link_to("#", class: "remove_fields btn btn-xs btn-danger-alt") do %>
			<i class="fa fa-trash-o"></i>
		<% end %>
		<%= f.hidden_field :total %>
		<%= f.hidden_field :task_total %>
		<%= f.hidden_field :payroll_date %>
	</td>
</tr>