<tr class="success items_purchase_orders_form">

	<td class="controls_item" id="td_employees" style="width: 22%;">
		<div class="row no-gutter">
			<div class="col-md-4">
				<%= hidden_field_tag 'search_code_employee', '', :tabindex => '1' %>
			</div>
			<div class="col-md-8">
				<%= hidden_field_tag 'employee_code', ''%>
				<!-- <%= text_field_tag 'name_employee', '', :class => 'form-control', :placeholder => 'Nombre Empleado', :tabindex => '' %> -->
				<%= hidden_field_tag 'search_name_employee', '', :tabindex => '2' %>
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_cc" style="width: 22%;">
		<div class="row no-gutter">
			<div class="col-md-4">
				<%= hidden_field_tag 'search_code_cc', '', :tabindex => '3' %>
				<%= f.hidden_field :costs_center_id, class: "cc-filter-id centro-costo" %>
			</div>
			<div class="col-md-8">
				<%= hidden_field_tag 'search_name_cc', '', :tabindex => '4' %>
				<!-- <%= text_field_tag 'load_centro_de_costo', nil, :class => 'cc-filter form-control search-image-employee centro-costo', 
				:for => :costs_center_id, :tabindex => '' %> -->
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_task" style="width: 22%;">
		<div class="row no-gutter">
			<div class="col-md-4">
				<%= hidden_field_tag 'search_code_task', '', :tabindex => '4' %>
			</div>

			<div class="col-md-8">

				<%= hidden_field_tag 'search_name_task', '', :tabindex => '5' %>

				<%= f.hidden_field :task_id, class: "cc-filter-id" %>
				<%= f.hidden_field :task_total, class: "cc-filter-id" %>
				<%= f.hidden_field :task_unidad, class: "cc-filter-id" %>
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_time_worked" style="width: 9%;">
		<div class="row no-gutter">
			<div class="col-md-12">
				<%= f.number_field :time_worked, :class => 'form-control input-table time-worked', :tabindex => '6' %>
			</div>
		</div>
	</td>

	<td class="controls_item" id="td_performance" style="width: 12%;">
		<div class="row no-gutter">
			<div class="col-md-6">
				<%= f.text_field :performance, :class => "form-control" %>
			</div>
			<div class="col-md-6">
				<%= text_field 'text_unit_performance', '', :class => 'form-control', :readonly => true %>
			</div>
		</div>
	</td> 

	<td class="save-employees" style="display:none;"></td>

	<td class="controls_item" id="td_payment_type" style="width: 13%;">
		<div class="row no-gutter">
			<div class="col-md-8">			
				<%= f.collection_select(:payment_type_id, @payment_types, :id, :name, 
				{include_blank: false }, {:class => "paymentType form-control", :tabindex => "9" }) %>
			</div>
			<div class="col-md-3">
				&nbsp;
				<%= f.hidden_field :_destroy, :class => 'payroll_histories' %>
				<%= link_to("#", class: "remove_fields btn btn-xs btn-danger-alt") do %>
					<i class="fa fa-trash-o"></i>
				<% end %>
				<%= f.hidden_field :total %>
				<%= f.hidden_field :task_total %>
				<%= f.hidden_field :payroll_date %>
			</div>			
		</div>
	</td>

</tr>