<tr class="">
  <td>
    <%= f.collection_select :payment_option_id,  @payment_options, :id, :name, :include_blank => false, :class=>"span2" %>
  </td>
  <td>
    <%= f.collection_select :payment_type_id,  @payment_types, :id, :name, :include_blank => false, :class=>"span2" %>
  </td>
   <td>
    <%= f.text_field :number, :class => 'text_field input-block-level' %>
  </td>
  <td>
    <%= f.text_field :amount, :class => 'text_field input-block-level amount' %>
  </td>
  <td>
      <%= f.hidden_field :_destroy %>
      <i class="icon-trash btn remove_row"></i>
  </td>
</tr>
