<div class="telephone">
	<div class="control-group">
		<%= f.label :telephone, :class => 'control-label' %>
		<div class="controls">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-phone"></i></span><%= f.text_field :telephone, :class => 'text_field telephone-field' %>
			</div>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :typephone, :class => 'control-label' %>
		<div class="controls">
			<div class="input-prepend">
				<span class="add-on">T</span>
				<%= f.enum_select :typephone, {:include_blank => false}, {:class => 'typephone'} %>
			</div>
			<%= f.hidden_field :_destroy, :class => 'telephones' %>
			<%= link_to t("helpers.links.destroy"),'#',class: "remove_fields remove_telephone btn btn-mini btn-danger" %>
		</div>
	</div>
<hr />
</div>