<%= form_for @quotation_item, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :quotation_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :quotation_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :product_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unit_price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :discount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :discount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tax, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :warehouse_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :warehouse_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                quotation_items_path, :class => 'btn' %>
  </div>
<% end %>
