<%= form_for @taxis, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :percentage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :percentage, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cc_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cc_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                taxes_path, :class => 'btn' %>
  </div>
<% end %>
