<%- model_class = MeansOfPayment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @means_of_payment.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @means_of_payment.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              means_of_payments_path, :class => 'btn'  %>
  <% if can? :update, MeansOfPayment %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_means_of_payment_path(@means_of_payment), :class => 'btn' %>
  <% end %>
  
  <% if can? :destroy, MeansOfPayment %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                means_of_payment_path(@means_of_payment),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger' %>
  <% end %>
</div>
