<%= form_for @payment_schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :initial_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :initial_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :payment_date, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                payment_schedules_path, :class => 'btn' %>
  </div>
<% end %>
