<div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><%= t("tabs.general") %></a></li>
            <% if @product.id %>
              <li><a href="#tab2" data-toggle="tab"><%= t("tabs.prices") %></a></li>
            <% end %>  
        </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="tab1">
            <%= form_for @product, :validate => true,:html => { :class => 'form-horizontal' } do |f| %>
          <div class="control-group">
            <%= f.label :code, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :code, :class => 'text_field' %>
            </div>
          </div>
           <div class="control-group">
            <%= f.label :line_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.hidden_field :line_id %>
              <%= text_field_tag 'product_line',nil, :class => 'text_field required', :for=>:line_id%>  
            </div>
          </div>
          <div class="control-group">
            <%= f.label :subline_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.hidden_field :subline_id %>
              <%= text_field_tag 'product_subline', nil,  :class => 'number_field required', :for =>:subline_id, :type =>'text' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :category_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.hidden_field :category_id %>
              <%= text_field_tag 'product_category',nil, :class => 'number_field required', :for => :category_id %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :part_number, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :part_number, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :make, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :make, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :model, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :model, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :year, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :year, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :version, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :version, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :max_discount, :class => 'control-label' %>
            <div class="controls">
              <%= f.number_field :max_discount, :class => 'number_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :address, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :address, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :max_cant, :class => 'control-label' %>
            <div class="controls">
              <%= f.number_field :max_cant, :class => 'number_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :min_cant, :class => 'control-label' %>
            <div class="controls">
              <%= f.number_field :min_cant, :class => 'number_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :cost, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :cost, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :bar_code, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :bar_code, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :market_price, :class => 'control-label' %>
            <div class="controls">
              <%= f.number_field :market_price, :class => 'number_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :stock, :class => 'control-label' %>
            <div class="controls">
              <%= f.number_field :stock, :class => 'number_field' %>
            </div>
          </div>
            <div class="control-group">
            
                <%= f.label :status, :class => 'control-label' %>
                <div class='controls'>
                  <%= f.enum_select :status, :include_blank =>false %>
                </div>
          </div>
          <div class="form-actions">
            <%= f.submit nil, :class => 'btn btn-primary btn-success' %>
            <% if !@product.id %>
              <%= f.submit :name=> 'continue',:value =>t("helpers.links.save_continue"), :class => 'btn btn-primary btn-info' %>
            <%end %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        products_path, :class => 'btn' %>
          </div>
            <% end %>
        </div>
        <% if @product.id %>
        <div class="tab-pane" id="tab2">
          
            <%= render :template => 'product_pricings/index' %>
        </div>
        <% end %>
    </div>
</div>



