<%- model_class = Product -%>
<% if @products %>
<h2>Productos Encontrados</h2>
<table class="table table-condensed" id="">
  <thead>
      <tr>
          <th></th>       
          <th><%= model_class.human_attribute_name(:code) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:part_number) %></th>
          <th></th>       
      </tr>
  </thead>
  <tbody>

  <% @products.each do |product| %>
		<tr>
		  <td><%= check_box_tag product.id, nil, nil, :class => "case" %></td>
		  <td><%= link_to product.code, product_path(product) %></td>
		  <td><%= product.name %></td>
      <td><%= product.part_number %></td>                                       
      <td><button class="close"><i class="icon-remove"></i></button></td>
		</tr>
	<% end %>

  </tbody>
</table>
<%= will_paginate :inner_window => 2 %> 
<% end %>



