<%= javascript_include_tag "products/search" %>
<%- model_class = Product -%>

<div class="page-header">
  <h1>Busqueda de Productos</h1>
</div>
<div>
<%= form_tag search_products_path,:id =>"search_form", :class => "form-search", :method => 'get' do %>
  <div class="control-group">
    <label class="control-label" for="code">Productos</label>
    <div class="controls">
      <%= text_field_tag :search, params[:search], :class => "search-query" %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag t("helpers.links.search"), :name => nil, :class => "btn btn-success" %>
    <%= button_tag "Avanzado", :class=>"btn btn-info advanced_search"%>
  </div> 
<% end %>
</div>

<div class="hide" id="advanced">
  <%= form_tag search_products_path,:id =>"advanced_search_form", :class => "form-search", :method => 'get' do %>    
    <div class="control-group code">
      <label class="control-label" for="code">Código</label>
      <div class="controls">
        <%= text_field_tag :code, params[:code], :class => "search-query" %>
      </div>
    </div>  
    <div class="control-group">
      <label class="control-label" for="name">Descripción</label>
      <div class="controls">
        <%= text_field_tag :name, params[:name], :class => "search-query" %>
      </div>
    </div> 
    <div class="control-group">
      <label class="control-label" for="part_number">Número Parte</label>
      <div class="controls">
        <%= text_field_tag :part_number, params[:part_number], :class => "search-query" %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag t("helpers.links.search"), :name => nil, :class => "btn btn-success" %>
      <%= button_tag "Normal", :class=>"btn btn-info advanced_search"%>
    </div> 
  <% end %>
</div>



<div class="row-fluid">

<div class="span6">
    <div id ="table_products"></div>
    <div class="alert alert-info" id="products_notice">
      <p> No se ha buscado productos todavía </p>
    </div>
</div>

<div class="span5 well storage">   
    <h2>Productos Agregados</h2>
    <ul class="nav nav-pills">
      <li class="pull-right">
        <a href="#" class="pull-right">PurchaseOrder</a>
      </li>
      <li class="pull-right">
        <a href="#" class="pull-right">Quotation</a> 
      </li>
      <li class="pull-right">
        <a href="" class="pull-right">PDF</a>
      </li>    
    </ul>
    <table class="table table-condensed" id="storage">
      <thead>
          <tr>
              <th></th>       
              <th><%= model_class.human_attribute_name(:code) %></th>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:part_number) %></th>
          </tr>
      </thead>
      <tbody>
      <!-- Content from ajax call -->
      </tbody>
    </table>
</div>
</div>

          