<%- model_class = OtherPayment -%>

<div class="page-heading">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <div class="options">
    <div class="btn-toolbar">
      <% if can? :create, OtherPayment %>
        <%= link_to new_other_payment_path, :class => 'btn btn-primary pull-right' do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  
  <%= render "/layouts/message" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        
        <div class="panel-heading"></div>

        <div class="panel-body panel-no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th>
                  <%= select_tag(:other_payment_type, options_for_select(translate_enum(:types)), 
                    :class => "form-control", :prompt => "Filtro tipo de pago") %>
                  <%= model_class.human_attribute_name(:other_payment_type) %>
                </th>
                <th>
                  <%= select_tag(:calculation_type, options_for_select(translate_enum(:calculation_type)),
                    :class => "form-control", :prompt => "Filtro tipo de calculo") %>
                  <%= model_class.human_attribute_name(:calculation_type) %>
                </th>
                <th><%= model_class.human_attribute_name(:amount) %></th>
                <th>
                  <%= select_tag(:state, options_for_select([["Si", :active], ["No", :completed]]),
                    :class => "form-control", :prompt => "Filtro activa") %>
                  Activa
                </th>
                <th>
                  <%= button_tag "Limpiar", :id => "clean_button", :class => "btn btn-primary" %><br>
                  <%=t '.actions', :default => t("helpers.actions") %>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render "other_payments_list" %>
            </tbody>
          </table>
          <div class="text-right">    
            <%= will_paginate @other_payments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
