<div class="container-fluid">
  
  <% if @ir_table.errors.any? %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h3><%= pluralize(@ir_table.errors.count, "error") %> no permitieron guardar esta tabla ir </h3>
      <% @ir_table.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <br>
    </div>
  <% end %>

  <div class="panel panel-primary">
    
    <div class="panel-heading"></div>
    
    <div class="panel-body panel-no-padding">
      <%= form_for @ir_table, html: { class:  'form-horizontal row-border', data: {toggle: "validator"} } do |f| %>
      
        <div class="form-group">
          <%= f.label :name, "Nombre", class: "col-sm-2 control-label" %>
          <div class="col-sm-3 form-group_">
            <%= f.text_field :name, class: "form-control", required: true  %>
          </div>
        </div>
      
        <div class="form-group">
          <%= f.label :start_date,  class: "col-sm-2 control-label" %>
          <div class="col-sm-3 form-group_">
            <div class="input-group">
              <%= f.text_field :start_date, class: "form-control", required: true %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :end_date, class: "col-sm-2 control-label" %>
          <div class="col-sm-3 form-group_">
            <div class="input-group">
              <%= f.text_field :end_date, class: "form-control", required: true %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
        
        <table class="table table-stripped">
          <thead>
            <tr>
              <th colspan="2">Estratos de Renta Neta Anual</th>
              <th>Impuesto base</th>
              <th>Porcentaje aplicable</th>
              <th>Sobre exceso de</th>
              <th></th>
            </tr>
            <tr>
              <th>De C$</th>
              <th>Hasta C$</th>
              <th>C$</th>
              <th>%</th>
              <th>C$</th>
              <th>
                <a id="add_stratus" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :ir_table_values do |ir_table_value_fields| %>
              <tr>
                <td><%= ir_table_value_fields.text_field :from, value: number_to_currency(ir_table_value_fields.object.from, unit: "", delimiter: "") %></td>
                <td><%= ir_table_value_fields.text_field :until, value: number_to_currency(ir_table_value_fields.object.until, unit: "", delimiter: "") %></td>
                <td><%= ir_table_value_fields.text_field :base %></td>
                <td><%= ir_table_value_fields.text_field :percent %></td>
                <td><%= ir_table_value_fields.text_field :excess %></td>
                <td>
                  <a class='btn btn-xs btn-danger-alt delete_stratus'><i class='fa fa-trash-o'></i></a>
                  <%= ir_table_value_fields.check_box :_destroy, class: "mark_for_destruction" if ir_table_value_fields.object.persisted? %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
           <tr>
              <td colspan="6"><a class="btn btn-primary" id="is_last">Es último</a></td>
            </tr>
          </tfooter>
        </table>
        
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <%= f.submit :class => 'btn-primary btn' %>
              <%= link_to "Cancelar", ir_tables_path, :class => 'btn-default btn' %>
            </div>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "ir_tables/ir_tables" %>
