<div class="page-heading"> 
  <h1>Tabla de Rangos IR</h1>
  
  <div class="options">
    <div class="btn-toolbar ">
      <%= link_to new_ir_table_path, :class => 'btn btn-primary pu' do %>
          <i class="fa fa-plus"></i>
        <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= render "/layouts/message" %>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        
        <div class="panel-body panel-no-padding">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Fecha Desde</th>
                <th>Fecha Hasta</th>
                <th>Acciones</th>
              </tr>
            </thead>
            
            <tbody>
              <% @ir_tables.each do |ir_table| %>
                <tr>
                  <td><%= ir_table.name %></td>
                  <td><%= ir_table.start_date %></td>
                  <td><%= ir_table.end_date %></td>
                  <td>
                    <%= link_to edit_ir_table_path(ir_table), class: "btn btn-xs btn-success-alt" do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                    
                    <%= link_to ir_table_path(ir_table), class: "btn btn-xs btn-danger-alt",
                      method: :delete, data: {confirm: "Esta seguro?"}  do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
