<%= javascript_include_tag 'reports/functions' %>
<p></p>
<hr>
<h2>Buscar Planilla</h2>
<!-- S E A R C H   P A Y R O L L S -->
<legend>  
	<%= form_tag :search_payrolls_reports, :id => "search_payrolls_form", :class => "form-search", :method => "get" do %>
	<div class="control-group search">
	<%= text_field_tag 'start_date', '', :class => 'text_field', :readonly => true, :placeholder => 'Desde' %>
		<%= text_field_tag 'end_date', '', :class => 'text_field', :readonly => true, :placeholder => 'Hasta'  %>
		<button class="btn" id="search_payrolls" type="button">Buscar</button>
    </div>
  <% end %>
</legend>

<div id="payrolls_results"></div>
<!-- S E A R C H   P A Y R O L L S -->


<%= render "employee_section" %>

<%= render "company_section" %>
