<div class="page-heading">	
	<h1>Salarios Devengados entre fechas</h1>
</div>

<%= javascript_include_tag 'reports/functions' %>
<%= javascript_include_tag 'reports/accrued_wages_between_dates_report.js' %>

<div class="container-fluid">

	<%= render "message" %>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>Agrupado por</h2></div>
				<div class="panel-body">
					<div class="col-md-3">
						<%= text_field_tag 'start_date', '', :class => 'form-control', :readonly => true, :placeholder => 'Desde' %>
					</div>
					<div class="col-md-3">
						<%= text_field_tag 'end_date', '', :class => 'form-control', :readonly => true, :placeholder => 'Hasta'  %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= render "employee_section" %>

	<%= render "company_section" %>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<% #if can? :general_proof_payments_pdf, User %>
						<button id="btn_create_pdf">Crear archivo PDF</button> |
					<% #end %>

					<% #if can? :general_proof_payments_xls, User %>
						<button id="btn_create_excel">Exportar a XLS</button>
					<% #end %>
				</div>
			</div>
		</div>
	</div>

</div>

<input type="hidden" id="show_reports_path" value="<%= reports_path %>">
<input type="hidden" id="type_report" value="<%= CONSTANTS[:REPORTS]['ACCRUED_WAGES_DATES'] %>">
