<div class="page-heading">	
	<h1>Labores por Tipo de Pago</h1>
</div>

<div class="container-fluid">
	<%= render "search" %>
	<%= javascript_include_tag 'reports/payment_type_report' %>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>Labores</h2></div>
				<div class="panel-body">
					<div class="col-md-12">
						<div class="checkbox icheck">
					      <label>
					        <input type="checkbox" id="task_id_select_all"> Seleccionar/Deseleccionar
					      </label>
					    </div>
						<%= select("report", "task_ids", 
							options_for_select( @tasks.map {|t| ["#{t.ntask}", t.id ]}), 
							{ include_blank: false }, 
							{:class => 'form-control required', :multiple => true}) %>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>Centro de Costos</h2></div>
				<div class="panel-body">
					<div class="col-md-12">
						<div class="checkbox icheck">
					      <label>
					        <input type="checkbox" id="cc_id_select_all"> Seleccionar/Deseleccionar
					      </label>
					    </div>
						<%= select("report", "cc_ids", 
							options_for_select( @cc.map {|c| ["#{c.name_cc}", c.id ]}), 
							{ include_blank: false }, 
							{:class => 'form-control required', :multiple => true}) %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h2>Agrupado por</h2></div>
				<div class="panel-body">
					<div class="col-md-3">
						<select name="order_by" id="order_by" class="form-control">
							<option value="no_order">Sin Agrupar</option>
							<option value="employee">Empleado</option>
							<option value="task">Labor</option>
							<option value="centro_costo">Centro de Costo</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= render "/layouts/message" %>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<% if can? :task_type_payment_pdf, User %>
						<button id="btn_create_pdf">Crear archivo PDF</button> | 
					<% end %>

					<% if can? :task_type_payment_xls, User %>
						<button id="btn_create_xml">Exportar a XLS</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>

<input type="hidden" id="show_reports_path" value="<%= reports_path %>">
<input type="hidden" id="type_report" value="<%= CONSTANTS[:REPORTS]['PAYMENT_TYPE_REPORT'] %>">
