<header id="topnav" class="navbar navbar-fixed-top clearfix navbar-midnightblue" role="banner">

    <a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>

    <!--<a class="navbar-brand" href="index.html">HuManager</a>-->
    <a class="" href="/" style="float:left;height:50px;width:210px;padding: 8px !important;font-size: 21px;">HuManager</a>

    <div class="yamm navbar-left navbar-collapse collapse in">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuraci칩n<span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 500px;">
                    <li>
                        <div class="yamm-content container-sm-height">
                            <div class="row row-sm-height yamm-col-bordered">
                                <div class="col-sm-6 col-sm-height yamm-col">
                                            
                                    <h3 class="yamm-category">General</h3>
                                    <ul class="list-unstyled mb20">
                                        <% if can? :read, Company %>
                                            <li><a href=<%= companies_path%>> Compa침ias</a></li>
                                        <% end %>
                                        <% if can? :read, User %>
                                            <li><a href=<%= users_path%>> Usuarios</a></li>
                                        <% end %>
                                    </ul>

                                    <h3 class="yamm-category">Organizacion</h3>
                                    <ul class="list-unstyled">
                                        <% if can? :read, Employee %>
                                            <li><a href=<%= employees_path%>> Empleados</a></li>
                                        <% end %>
                                        <% if can? :read, Department %>
                                            <li><a href=<%= departments_path%>> Departamentos</a></li>
                                        <% end %>
                                        <% if can? :read, Occupation %>
                                            <li><a href=<%= occupations_path%>> Ocupaciones</a></li>
                                        <% end %>
                                        <% if can? :read, Position %>
                                            <li><a href=<%= positions_path%>> Puestos</a></li>
                                        <% end %>
                                        <!--<% if can? :read, TypeOfPersonnelAction %>
                                            <li><a href=<%= type_of_personnel_actions_path%>> Tipos Acciones del personal</a></li>
                                        <% end %>-->
                                    </ul>
                                </div>
                                <div class="col-sm-4 col-sm-height yamm-col">
                                    <h3 class="yamm-category">Planillas </h3>
                                    <ul class="list-unstyled mb20">
                                        <% if can? :read, Task %>
                                            <li><a href=<%= tasks_path%>> Labores</a></li> 
                                        <% end %>
                                        <% if can? :read, Deduction %>
                                            <li><a href=<%= deductions_path%>> Deducciones</a></li>
                                        <% end %>
                                        <% if can? :read, WorkBenefit %>
                                            <li><a href=<%= work_benefits_path%>>Prestaciones</a></li>
                                        <% end %>
                                        <% if can? :read, OtherPayment %>
                                            <li><a href=<%= other_payments_path%>>Otros Pagos</a></li>
                                        <% end %>
                                        <% if can? :read, PayrollType %>
                                            <li><a href=<%= payroll_types_path%>> Tipos de planillas</a></li>
                                        <% end %>
                                        <% if can? :read, PaymentType %>
                                            <li><a href=<%= payment_types_path%>> Tipos de Pago</a></li>
                                        <% end %>
                                        <% if can? :read, MeansOfPayment %>
                                            <li><a href=<%= means_of_payments_path%>> Medios de Pago</a></li>
                                        <% end %>
                                        <% if can? :read, PaymentFrequency %>
                                            <li><a href=<%= payment_frequencies_path%>> Frecuencias de Pago</a></li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <!--<li class="dropdown" id="widget-classicmenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Configuraci칩n
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">

                    <% if can? :read, Province %>
                        <li><a href=<%= provinces_path%>> Provincias</a></li>
                    <% end %>

                    <% if can? :read, Canton %>
                        <li><a href=<%= cantons_path%>>Cantones</a></li>
                    <% end %>

                    <% if can? :read, District %>
                        <li><a href=<%= districts_path%>> Distritos</a></li>
                    <% end %>

                    <% if can? :read, CostsCenter %>
                        <li><a href=<%= costs_centers_path%>> Centro de Costos</a></li>
                    <% end %>

                    <% if can? :read, LedgerAccount %>
                        <li><a href=<%= ledger_accounts_path%>> Cuentas Contables</a></li>
                    <% end %>

                    <% if can? :read, OtherSalary %>
                        <li><a href=<%= other_salaries_path%>> Otros Salarios</a></li>
                    <% end %>
                </ul>
            </li>-->

            <li class="dropdown" id="widget-classicmenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Procesos
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <% if can? :read, Payroll %>
                        <li><a href=<%= payrolls_path%>>Planillas</a></li>
                    <% end %>
                    <!--<% if can? :read, DetailPersonnelAction %>
                        <li><a href=<%= detail_personnel_actions_path%>>Acciones de Personal</a></li>
                    <% end %>-->
                </ul>
            </li>
            
            <li class="dropdown" id="widget-classicmenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Reportes
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <% if can? :payment_proof_employee_pdf, PermissionsUser %>
                        <li><a href=<%= reports_path %> >Comprobante Pago trabajadores</a></li>
                    <% end %>
                    <% if can? :general_proof_payments_pdf, PermissionsUser %>
                        <li><a href=<%= general_payroll_reports_path %> >Comprobante General de Pago</a></li>
                    <% end %>
                    <% if can? :task_type_payment_pdf, PermissionsUser %>
                        <li><a href=<%= payment_type_report_reports_path %> >Labores por Tipo de Pago</a></li>
                    <% end %>
                </ul>
            </li>  
        </ul>
    </div>

    <ul class="nav navbar-nav toolbar pull-right">
        <li class="dropdown">
            <a href="#" id="navbar-links-toggle" data-toggle="collapse" data-target="header>.navbar-collapse">&nbsp;</a>
        </li>
        
        <li class="dropdown">
            <%= all_companies_selector(current_user.company_id) %>
        </li>

        <li class="dropdown">
            <!-- <div class="input-group"> -->
                <input id="global_date" type="text" class="form-control" style="margin-top: 10px;">
                <!-- <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div> -->
        </li>

        <li class="dropdown toolbar-icon-bg hidden-xs">
            <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
                <span class="icon-bg"><i class="fa fa-fw fa-tasks"></i></span>
                <span class="badge badge-warning">7</span>
            </a>
            <div class="dropdown-menu taskprogresses arrow">
                <div class="dd-header">
                    <span>Tasks</span>
                    <span><a href="#">Settings</a></span>
                </div>
                <ul class="scrollthis">
                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">Template Styling</div>
                                    <div class="progress-percentage">5/25</div>
                                </div>
                                <div class="progress progress-lg">
                                    <div class="progress-bar progress-bar-inverse" style="width: 20%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">App Development</div>
                                    <div class="progress-percentage">3/9</div>
                                </div>
                                <div class="progress progress-lg progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">App Interface</div>
                                    <div class="progress-percentage">15%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 15%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">Documentation</div>
                                    <div class="progress-percentage">4/5</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 80%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">eCommerce</div>
                                    <div class="progress-percentage">6/10</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="dd-footer">
                    <a href="#">View all tasks</a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                <% if user_signed_in? %>
                    <span class="hidden-xs">
                        <%= current_user.name %>
                    </span>
                    <%= image_tag("demo/avatar/avatar_15.png", width: '100%', alt: "Dangerfield", class: "img-circle") %>
                <% end %>
            </a>
            
            <ul class="dropdown-menu userinfo">
                <li>
                    <a href="#">
                        <span class="pull-left">Editar Perfil</span> 
                        <i class="pull-right fa fa-pencil"></i>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <%= link_to destroy_user_session_path, :method => 'delete' do %>
                        <span class="pull-left">Cerrar Sesi칩n</span>
                        <i class="pull-right fa fa-sign-out"></i>
                    <% end %>
                 </li>
            </ul>
        </li>
    </ul>
</header>
