<header id="topnav" class="navbar navbar-fixed-top clearfix navbar-midnightblue" role="banner">

    <a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>

    <!--<a class="navbar-brand" href="index.html">HuManager</a>-->
    <a class="" href="/" style="float:left;height:50px;width:210px;padding: 8px !important;font-size: 21px;">HuManager</a>

    <div class="yamm navbar-left navbar-collapse collapse in">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuraci칩n<span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 500px;">
                    <li>
                        <div class="yamm-content container-sm-height">
                            <div class="row row-sm-height yamm-col-bordered">
                                <div class="col-sm-6 col-sm-height yamm-col">
                                            
                                    <h3 class="yamm-category">General</h3>
                                    <ul class="list-unstyled mb20">
                                        <% if can? :read, Company %>
                                            <li><%= link_to 'Compa침ias', companies_path %></li>
                                        <% end %>
                                        <% if can? :read, User %>
                                            <li><%= link_to 'Usuarios', users_path %></li>
                                        <% end %>
                                        <% if can? :read, Currency %>
                                          <li><%= link_to 'Monedas', currencies_path %></li>
                                        <% end %>
                                    </ul>

                                    <h3 class="yamm-category">Organizaci칩n</h3>
                                    <ul class="list-unstyled">
                                        <% if can? :read, Employee %>
                                            <li><%= link_to 'Empleados', employees_path %></li>
                                        <% end %>
                                        <% if can? :read, Department %>
                                            <li><%= link_to 'Departamentos', departments_path %></li>
                                        <% end %>
                                        <% if can? :read, Occupation %>
                                            <li><%= link_to 'Ocupaciones', occupations_path %></li>
                                        <% end %>
                                        <% if can? :read, Position %>
                                            <li><%= link_to 'Puestos', positions_path %></li>
                                        <% end %>
                                    </ul>
                                </div>
                                <div class="col-sm-4 col-sm-height yamm-col">
                                    <h3 class="yamm-category">Planillas </h3>
                                    <ul class="list-unstyled mb20">
                                        <% if can? :read, Task %>
                                            <li><%= link_to 'Labores', tasks_path %></li> 
                                        <% end %>
                                        <% if can? :read, Deduction %>
                                            <li><%= link_to 'Deducciones', deductions_path %></li>
                                        <% end %>
                                        <% if can? :read, WorkBenefit %>
                                            <li><%= link_to 'Prestaciones', work_benefits_path %></li>
                                        <% end %>
                                        <% if can? :read, OtherPayment %>
                                            <li><%= link_to 'Otros Pagos', other_payments_path %></li>
                                        <% end %>
                                        <% if can? :read, PayrollType %>
                                            <li><%= link_to 'Tipos de Planillas', payroll_types_path %></li>
                                        <% end %>
                                        <% if can? :read, PaymentType %>
                                            <li><%= link_to 'Tipos de Pago', payment_types_path %></li>
                                        <% end %>
                                        <% if can? :read, MeansOfPayment %>
                                            <li><%= link_to 'Medios de Pago', means_of_payments_path %></li>
                                        <% end %>
                                        <% if can? :read, PaymentFrequency %>
                                            <li><%= link_to 'Frecuencias de Pago', payment_frequencies_path %></li>
                                        <% end %>
                                         <% if can? :read, PaymentUnit %>
                                            <li><%= link_to 'Unidades de Pago', payment_units_path  %></li>
                                        <% end %>                                                                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            
            <li class="dropdown" id="widget-classicmenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Procesos
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <% if can? :read, Payroll %>
                        <li><%= link_to 'Planillas', payrolls_path%></li>
                    <% end %>
                </ul>
            </li>
            
            <li class="dropdown" id="widget-classicmenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Reportes
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <% if can? :payment_proof_employee_pdf, PermissionsUser %>
                        <li><%= link_to 'Comprobante Pago a Trabajadores', reports_path %></li>
                    <% end %>
                    <% if can? :general_proof_payments_pdf, PermissionsUser %>
                        <li><%= link_to 'Reporte General de Planilla',general_payroll_reports_path %></li>
                    <% end %>
                    <% if can? :task_type_payment_pdf, PermissionsUser %>
                      <li><%= link_to 'Labores por Tipo de Pago', payment_type_report_reports_path %></li>
                    <% end %>
                </ul>
            </li>  
        </ul>
    </div>

    <ul class="nav navbar-nav toolbar pull-right">
        <li class="dropdown">
            <a href="#" id="navbar-links-toggle" data-toggle="collapse" data-target="header>.navbar-collapse">&nbsp;</a>
        </li>
        
        <li class="dropdown">
            <%= all_companies_selector(current_user.company_id) %>
        </li>

        <li class="dropdown">
            <!-- <div class="input-group"> -->
                <input id="global_date" type="text" class="form-control" style="margin-top: 10px;">
                <!-- <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div> -->
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                <% if user_signed_in? %>
                    <span class="hidden-xs">
                        <%= current_user.name %>
                    </span>
                    <%= image_tag("demo/avatar/avatar_15.png", width: '100%', alt: "Dangerfield", class: "img-circle") %>
                <% end %>
            </a>
            
            <ul class="dropdown-menu userinfo">
                <li>
                  <%= link_to edit_user_path(current_user) do %>
                    <span class="pull-left">Editar Perfil</span> 
                    <i class="pull-right fa fa-pencil"></i>
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                    <%= link_to destroy_user_session_path, :method => 'delete' do %>
                        <span class="pull-left">Cerrar Sesi칩n</span>
                        <i class="pull-right fa fa-sign-out"></i>
                    <% end %>
                 </li>
            </ul>
        </li>
    </ul>
</header>
