<div id="headerbar">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-pencil"></i></div>
                    </div>
                    <div class="tiles-footer">Create Post</div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-grape">
                    <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-group"></i></div>
                    <div class="pull-right"><span class="badge">2</span></div>
                    </div>
                    <div class="tiles-footer">Contacts</div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-primary">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-envelope-o"></i></div>
                        <div class="pull-right"><span class="badge">10</span></div>
                    </div>
                    <div class="tiles-footer">Messages</div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-inverse">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-camera"></i></div>
                        <div class="pull-right"><span class="badge">3</span></div>
                    </div>
                    <div class="tiles-footer">Gallery</div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-midnightblue">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-cog"></i></div>
                </div>
                <div class="tiles-footer">Settings</div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-orange">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-wrench"></i></div>
                    </div>
                    <div class="tiles-footer">Plugins</div>
                </a>
            </div>
        </div>
    </div>
</div>

<header id="topnav" class="navbar navbar-fixed-top clearfix navbar-inverse" role="banner">

    <a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
    <a class="navbar-brand" href="index.html">HuManager</a>
    <a id="rightmenu-trigger" class="" data-toggle="tooltip" data-placement="left" title="Toggle Infobar"></a>

    <div class="yamm navbar-left navbar-collapse collapse in">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mega Menu<span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 900px;">
                    <li>
                        <div class="yamm-content container-sm-height">
                            <div class="row row-sm-height yamm-col-bordered">

                                <div class="col-sm-3 col-sm-height yamm-col">
                                    <h3 class="yamm-category">Sidebar</h3>
                                    <ul class="list-unstyled mb20">
                                        <li><a href="layout-fixed-sidebars.html">Stretch Sidebars</a></li>
                                        <li><a href="layout-sidebar-scroll.html">Scroll Sidebar</a></li>
                                        <li><a href="layout-static-leftbar.html">Static Sidebar</a></li>
                                        <li><a href="layout-leftbar-widgets.html">Sidebar Widgets</a></li>   
                                    </ul>

                                    <h3 class="yamm-category">Infobar</h3>
                                    <ul class="list-unstyled">
                                        <li><a href="layout-infobar-offcanvas.html">Offcanvas Infobar</a></li>
                                        <li><a href="layout-infobar-overlay.html">Overlay Infobar</a></li>
                                        <li><a href="layout-chatbar-overlay.html">Chatbar</a></li>
                                        <li><a href="layout-rightbar-widgets.html">Infobar Widgets</a></li>   
                                    </ul>
                                </div>

                                <div class="col-sm-3 col-sm-height yamm-col">
                                    <h3 class="yamm-category">Page Content</h3>
                                    <ul class="list-unstyled mb20">
                                        <li><a href="layout-breadcrumb-top.html">Breadcrumbs on Top</a></li>
                                        <li><a href="layout-page-tabs.html">Page Tabs</a></li>
                                        <li><a href="layout-fullheight-panel.html">Full-Height Panel</a></li>
                                        <li><a href="layout-fullheight-content.html">Full-Height Content</a></li>
                                    </ul>

                                    <h3 class="yamm-category">Misc</h3>
                                    <ul class="list-unstyled">
                                        <li><a href="layout-topnav-options.html">Topnav Options</a></li>
                                        <li><a href="layout-horizontal-small.html">Horizontal Small</a></li>
                                        <li><a href="layout-horizontal-large.html">Horizontal Large</a></li>
                                        <li><a href="layout-boxed.html">Boxed</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-3 col-sm-height yamm-col">
                                    <h3 class="yamm-category">Analytics</h3>
                                    <ul class="list-unstyled mb20">
                                        <li><a href="charts-flot.html">Flot</a></li>
                                        <li><a href="charts-sparklines.html">Sparklines</a></li>
                                        <li><a href="charts-morris.html">Morris</a></li>
                                        <li><a href="charts-easypiechart.html">Easy Pie Charts</a></li>
                                    </ul>

                                    <h3 class="yamm-category">Components</h3>
                                    <ul class="list-unstyled">
                                        <li><a href="ui-tiles.html">Tiles</a></li>
                                        <li><a href="custom-knob.html">jQuery Knob</a></li>
                                        <li><a href="custom-jqueryui.html">jQuery Slider</a></li>
                                        <li><a href="custom-ionrange.html">Ion Range Slider</a></li>
                                    </ul>
                                </div>

                                <div class="col-sm-3 col-sm-height yamm-col">
                                    <h3 class="yamm-category">Rem</h3>
                                    <%= image_tag("demo/stockphoto/communication_12_carousel.jpg", width: '100%', class: "mb20 img-responsive") %>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="dropdown" id="widget-classicmenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>

            <li><a href="frontend/index.html" target="_blank"><strong>Frontend</strong></a></li>
            <li><a href="landing/index.html" target="_blank"><strong>Landing Page</strong></a></li>
        </ul>
    </div>

    <ul class="nav navbar-nav toolbar pull-right">
        <li class="dropdown">
            <a href="#" id="navbar-links-toggle" data-toggle="collapse" data-target="header>.navbar-collapse">&nbsp;</a>
        </li>

        <li class="toolbar-icon-bg demo-headerdrop-hidden">
            <a href="#" id="headerbardropdown"><span class="icon-bg"><i class="fa fa-fw fa-level-down"></i></span></i></a>
        </li>

        <li class="dropdown toolbar-icon-bg hidden-xs">
            <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
                <span class="icon-bg"><i class="fa fa-fw fa-tasks"></i></span>
                <span class="badge badge-warning">7</span>
            </a>
            <div class="dropdown-menu taskprogresses arrow">
                <div class="dd-header">
                    <span>Tasks</span>
                    <span><a href="#">Settings</a></span>
                </div>
                <ul class="scrollthis">
                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">Template Styling</div>
                                    <div class="progress-percentage">5/25</div>
                                </div>
                                <div class="progress progress-lg">
                                    <div class="progress-bar progress-bar-inverse" style="width: 20%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">App Development</div>
                                    <div class="progress-percentage">3/9</div>
                                </div>
                                <div class="progress progress-lg progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width: 33%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">App Interface</div>
                                    <div class="progress-percentage">15%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 15%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">Documentation</div>
                                    <div class="progress-percentage">4/5</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 80%"></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="contextual-progress">
                                <div class="clearfix">
                                    <div class="progress-title">eCommerce</div>
                                    <div class="progress-percentage">6/10</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="dd-footer">
                    <a href="#">View all tasks</a>
                </div>
            </div>
        </li>

        <li class="dropdown toolbar-icon-bg">
            <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
                <span class="icon-bg"><i class="fa fa-fw fa-bell"></i></span><span class="badge badge-alizarin">5</span>
            </a>
            <div class="dropdown-menu notifications arrow">
                <div class="dd-header">
                    <span>Notifications</span>
                    <span><a href="#">Settings</a></span>
                </div>
                <ul class="scrollthis">

                    <li class="">
                        <a href="#" class="notification-success">
                            <div class="notification-icon"><i class="fa fa-check fa-fw"></i></div>
                            <div class="notification-content"><strong>Lorem ipsum</strong> dolor sit amet consectetur adipisicing elit!</div>
                            <div class="notification-time">40m</div>
                        </a>
                    </li>

                    <li class="">
                        <a href="#" class="notification-danger">
                            <div class="notification-icon"><i class="fa fa-times fa-fw"></i></div>
                            <div class="notification-content">Etiam porta sem malesuada</div>
                            <div class="notification-time">5h</div>
                        </a>
                    </li>

                    <li class="">
                        <a href="#" class="notification-inverse">
                            <div class="notification-icon"><i class="fa fa-cloud fa-fw"></i></div>
                            <div class="notification-content"><strong>Nesciunt</strong> reprehenderit provident distinctio eveniet cupiditate atque</div>
                            <div class="notification-time">16h</div>
                        </a>
                    </li>

                    <li class="">
                        <a href="#" class="notification-warning">
                            <div class="notification-icon"><i class="fa fa-warning fa-fw"></i></div>
                            <div class="notification-content">Aperiam accusamus modi ipsum officia quas nisi!</div>
                            <div class="notification-time">1d</div>
                        </a>
                    </li>

                    <li class="">
                        <a href="#" class="notification-info">
                            <div class="notification-icon"><i class="fa fa-shopping-cart fa-fw"></i></div>
                            <div class="notification-content">Libero distinctio eveniet</div>
                            <div class="notification-time">5d</div>
                        </a>
                    </li>

                    <li class="">
                        <a href="#" class="notification-primary">
                            <div class="notification-icon"><i class="fa fa-comment fa-fw"></i></div>
                            <div class="notification-content">Officiis modi ipsum officia ad dolor sit amet consectetur sit voluptatem accusantium doloremque laudantium totam rem aperiam</div>
                            <div class="notification-time">8d</div>
                        </a>
                    </li>
                </ul>

                <div class="dd-footer">
                    <a href="#">View all notifications</a>
                </div>
            </div>
        </li>

        <li class="dropdown toolbar-icon-bg hidden-xs">
            <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
                <span class="icon-bg"><i class="fa fa-fw fa-envelope"></i></span>
                <span class="badge badge-info">1</span>
            </a>
            <div class="dropdown-menu messages arrow">
                <div class="dd-header">
                    <span>Messages</span>
                    <span><a href="#">Settings</a></span>
                </div>

                <ul class="scrollthis">
                    <li class="">
                        <a href="#">
                            <%= image_tag("demo/avatar/avatar_09.png", width: '100%', alt: "avatar", class: "msg-avatar") %>
                            <div class="msg-content">
                                <span class="name">Steven Shipe</span>
                                <span class="msg">Nonummy nibh epismod lorem ipsum</span>
                            </div>
                            <span class="msg-time">30s</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <%= image_tag("demo/avatar/avatar_01.png", width: '100%', alt: "avatar", class: "msg-avatar") %>
                            <div class="msg-content">
                                <span class="name">Roxann Hollingworth <i class="fa fa-paperclip attachment"></i></span>
                                <span class="msg">Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                            <span class="msg-time">5m</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <%= image_tag("demo/avatar/avatar_05.png", width: '100%', alt: "avatar", class: "msg-avatar") %>
                            <div class="msg-content">
                                <span class="name">Diamond Harlands</span>
                                <span class="msg">:)</span>
                            </div>
                            <span class="msg-time">3h</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <%= image_tag("demo/avatar/avatar_02.png", width: '100%', alt: "avatar", class: "msg-avatar") %>
                            <div class="msg-content">
                                <span class="name">Michael Serio <i class="fa fa-paperclip attachment"></i></span>
                                <span class="msg">Sed distinctio dolores fuga molestiae modi?</span>
                            </div>
                            <span class="msg-time">12h</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <%= image_tag("demo/avatar/avatar_03.png", width: '100%', alt: "avatar", class: "msg-avatar") %>
                            <div class="msg-content">
                                <span class="name">Matt Jones</span>
                                <span class="msg">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et mole</span>
                                </div>
                            <span class="msg-time">2d</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <%= image_tag("demo/avatar/avatar_07.png", width: '100%', alt: "avatar", class: "msg-avatar") %>
                            <div class="msg-content">
                                <span class="name">John Doe</span>
                                <span class="msg">Neque porro quisquam est qui dolorem</span>
                            </div>
                            <span class="msg-time">7d</span>
                        </a>
                    </li> 
                </ul>
                <div class="dd-footer"><a href="#">View all messages</a></div>
            </div>
        </li>

        <li class="dropdown toolbar-icon-bg demo-search-hidden mr5">
            <a href="#" class="dropdown-toggle tooltips" data-toggle="dropdown">
                <span class="icon-bg"><i class="fa fa-fw fa-search"></i></span>
            </a>

            <div class="dropdown-menu arrow search dropdown-menu-form">
                <div class="dd-header">
                    <span>Search</span>
                    <span><a href="#">Advanced search</a></span>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="#">Search</a>
                    </span>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                <span class="hidden-xs">Alexander Smith</span>
                <%= image_tag("demo/avatar/avatar_06.png", width: '100%', alt: "Dangerfield", class: "img-circle") %>
            </a>
            
            <ul class="dropdown-menu userinfo">
                <li><a href="#"><span class="pull-left">Edit Profile</span> <i class="pull-right fa fa-pencil"></i></a></li>
                <li><a href="#"><span class="pull-left">Account Settings</span> <i class="pull-right fa fa-cogs"></i></a></li>
                <li><a href="#"><span class="pull-left">Help</span> <i class="pull-right fa fa-question-circle"></i></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="pull-left">Earnings</span> <i class="pull-right fa fa-money"></i></a></li>
                <li><a href="#"><span class="pull-left">Statement</span> <i class="pull-right fa fa-file-o"></i></a></li>
                <li><a href="#"><span class="pull-left">Withdrawals</span> <i class="pull-right fa fa-credit-card"></i></a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="pull-left">Sign Out</span> <i class="pull-right fa fa-sign-out"></i></a></li>
            </ul>
        </li>
    </ul>
</header>

<!-- 
    <ul class="nav pull-left">
    	<li class="divider-vertical"></li>
    	<li>
    		<div class="navbar-search pull-left">
    			<input id="global_date" type="text" data-date-format="dd/mm/yyy" class="datepicker search-query input-small">
    		</div>
    	</li>
    		
    	<li>
    		<a href=<%=root_path %>>
                <i class='icon-white icon-home'></i>
                <span><%= I18n.t('.content.titles.home')%></span>
            </a>
    	</li>

    	<ul class="nav nav navbar-nav">
    		<li class="dropdown">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%=t 'menus.configuration' %><b class="caret"></b>
                </a>
    			<ul class="dropdown-menu" role="menu">
    				<% if can? :read, Province %>
                        <li><a href=<%= provinces_path%>> 
                            <%=t '.title', :default => Province.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, Canton %>
                        <li><a href=<%= cantons_path%>> 
                            <%=t '.title', :default => Canton.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, District %>
                        <li><a href=<%= districts_path%>> 
                            <%=t '.title', :default => District.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, Employee %>
                        <li><a href=<%= employees_path%>> 
                            <%=t '.title', :default => Employee.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, Department %>
                        <li><a href=<%= departments_path%>> 
                            <%=t '.title', :default => Department.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, Position %>
                        <li><a href=<%= positions_path%>> 
                            <%=t '.title', :default => Position.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, Task %>
                        <li><a href=<%= tasks_path%>> 
                            <%=t '.title', :default => Task.model_name.human(:count => 2) %></a></li>
                    <% end %>

                    <% if can? :read, Deduction %>
                        <li><a href=<%= deductions_path%>> 
                            <%=t '.title', :default => Deduction.model_name.human(:count => 2) %></a></li>
                    <% end %>

                    <% if can? :read, WorkBenefit %>
                        <li><a href=<%= work_benefits_path%>>
                            <%=t '.title', :default => WorkBenefit.model_name.human(:count => 2) %></a></li>
                    <% end %>

                    <% if can? :read, CostsCenter %>
                        <li><a href=<%= costs_centers_path%>> 
                            <%=t '.title', :default => CostsCenter.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, LedgerAccount %>
                        <li><a href=<%= ledger_accounts_path%>> 
                            <%=t '.title', :default => LedgerAccount.model_name.human.pluralize %></a></li>
                    <% end %>
                    
                    <% if can? :read, OtherPayment %>
                        <li><a href=<%= other_payments_path%>> 
                            <%=t '.title', :default => OtherPayment.model_name.human.pluralize %></a></li>
                    <% end %>                    

                    <% if can? :read, Occupation %>
                        <li><a href=<%= occupations_path%>> 
                            <%=t '.title', :default => Occupation.model_name.human(:count => 2) %></a></li>
                    <% end %>

                    <% if can? :read, MeansOfPayment %>
                        <li><a href=<%= means_of_payments_path%>> 
                            <%=t '.title', :default => MeansOfPayment.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, PaymentFrequency %>
                        <li><a href=<%= payment_frequencies_path%>> 
                            <%=t '.title', :default => PaymentFrequency.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, TypeOfPersonnelAction %>
                        <li><a href=<%= type_of_personnel_actions_path%>> 
                            <%=t '.title', :default => TypeOfPersonnelAction.model_name.human(:count => 2) %></a></li>
                    <% end %>

                    <% if can? :read, PayrollType %>
                        <li><a href=<%= payroll_types_path%>> 
                            <%=t '.title', :default => PayrollType.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, User %>
                        <li><a href=<%= users_path%>> 
                            <%=t '.title', :default => User.model_name.human.pluralize %></a></li>
                    <% end %>

                    <% if can? :read, Company %>
                        <li><a href=<%= companies_path %>> 
                            <%=t '.title', :default => Company.model_name.human.pluralize %></a></li>
                    <% end %>
    			</ul>
    		</li>
    	</ul>

    	<ul class="nav nav navbar-nav">
    		<li class="dropdown">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%=t 'menus.process' %><b class="caret"></b></a>
    			<ul class="dropdown-menu" role="menu">
    				<% if can? :read, Payroll %>
                        <li><a href=<%= payrolls_path%>>
                            <%=t '.title', :default => Payroll.model_name.human.pluralize %></a></li>
                    <% end %>
                    <% if can? :read, DetailPersonnelAction %>
                        <li><a href=<%= detail_personnel_actions_path%>>
                            <%=t '.title', :default => DetailPersonnelAction.model_name.human(:count => 2) %></a></li>
                    <% end %>
    			</ul>
    		</li>
    	</ul>

    	<ul class="nav nav navbar-nav">
    		<li class="dropdown">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%=t 'menus.reports' %><b class="caret"></b></a>
    			<ul class="dropdown-menu" role="menu">
    				<li><a href=<%= reports_path %>> <%=t 'menus.payment_voucher_workers' %> </a></li>
                    <li><a href=<%= general_payroll_reports_path %>> <%=t 'menus.general_payment_voucher' %> </a></li>
                    <li><a href=<%= payment_type_report_reports_path %>> <%=t 'menus.work_payment_type' %> </a></li>
                    <li><a href=<%= accrued_wages_between_dates_report_reports_path %>> <%=t 'menus.accrued_wages_between_dates' %> </a></li>
    			</ul>
    		</li>
    	</ul>
    </ul>

    <div class='btn-group pull-right'>
    	<% if user_signed_in? %>
        	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> <%=current_user.email %>
                <span class="caret"></span>
            </a>

        	<ul class="dropdown-menu">
        		<li><a href="<%= edit_user_registration_path %>">Perfil</a></li>
        		<li class="divider"></li>
        		<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => 'delete' %></li>
        	</ul>
    	<% else%>
        	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        		<i class="icon-user"></i>Usuario
        		<span class="caret"></span>
        	</a>
        	<ul class="dropdown-menu">
        		<li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
        		<li class="divider"></li>
        		<li><%= link_to "¿Olvido su contraseña?", new_user_password_path %> </li>
        	</ul>
    	<%end%>
    </div>
 -->