<div class="sidebar-nav">
  <ul class="nav nav-list">
    <li>
      <a href=<%= root_path %>>
      <i class="icon-home"></i>
        <span>
          Inicio
        </span>
      </a>
    </li>
    <li class="accordion-menu">
      <a class="accordion-toggle" data-toggle="collapse" href="#inventory" data-original-title="">
        <i class="icon-list"></i>
        <span>
          Inventario
          <i class="icon-chevron-down pull-right"></i>
        </span>
      </a>
      <div id="inventory" class="accordion-body collapse dropdown">
        <div class="accordion-inner">
          <ul class="nav nav-list">
            <li>
                <li class="accordion-menu">
                  <a class="accordion-toggle" data-toggle="collapse" href="#transacciones" data-original-title="">
                    <i class="icon-list"></i>
                    <span>
                      Transacciones
                      <i class="icon-chevron-down pull-right"></i>
                    </span>
                  </a>
                  <div id="transacciones" class="accordion-body collapse dropdown">
                    <div class="accordion-inner">
                      <ul class="nav nav-list">
                        <li>
                          <a href=<%= purchase_orders_path %>>
                            <%= I18n.t('.activerecord.models.purchase_order') %>
                          </a>
                        </li>
                        <li>
                          <a href=<%= purchases_path %>>
                            <%= I18n.t('.activerecord.models.purchase') %>
                          </a>
                        </li>
                        <li>
                          <a href=<%= quotations_path %>>
                            <%= I18n.t('.activerecord.models.quotation.other') %>
                          </a>
                        </li>
                        <li>
                          <a href=<%= invoices_path %>>
                            <%= I18n.t('.activerecord.models.invoice') %>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
            </li>
            <li>
              <a href=<%= warehouses_path %>>
                <%= I18n.t('.activerecord.models.warehouse').pluralize %>
              </a>
            </li>
            <li>
              <a href=<%= lines_path %>>
                <%= I18n.t('.activerecord.models.line').pluralize %>
              </a>
            </li>
            <li>
              <a href=<%= sublines_path %>>
                <%= I18n.t('.activerecord.models.subline').pluralize %>
              </a>
            </li>
            <li>
              <a href=<%= categories_path %>>
                <%= I18n.t('.activerecord.models.category').pluralize %>
              </a>
            </li>
            <li>
              <a href=<%= products_path %>>
                <%= I18n.t('.activerecord.models.product').pluralize %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="accordion-menu">
      <a class="accordion-toggle" data-toggle="collapse" href="#entities" data-original-title="">
        <i class="icon-user"></i>
        <span>
          Entidades
          <i class="icon-chevron-down pull-right"></i>
        </span>
      </a>
      <div id="entities" class="accordion-body collapse dropdown">
        <div class="accordion-inner">
          <ul class="nav nav-list">
            <li>
                <li class="accordion-menu">
                  <a class="accordion-toggle" data-toggle="collapse" href="#proveedores" data-original-title="">
                    <i class="icon-list"></i>
                    <span>
                      Proveedores
                      <i class="icon-chevron-down pull-right"></i>
                    </span>
                  </a>
                  <div id="proveedores" class="accordion-body collapse dropdown">
                    <div class="accordion-inner">
                      <ul class="nav nav-list">
                        <li>
                          <a href=<%= vendors_path %>>
                            <%= I18n.t('.activerecord.models.vendors') %>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
            </li>
            <li>
                <li class="accordion-menu">
                  <a class="accordion-toggle" data-toggle="collapse" href="#clientes" data-original-title="">
                    <i class="icon-list"></i>
                    <span>
                      Clientes
                      <i class="icon-chevron-down pull-right"></i>
                    </span>
                  </a>
                  <div id="clientes" class="accordion-body collapse dropdown">
                    <div class="accordion-inner">
                      <ul class="nav nav-list">
                        <li>
                          <a href=<%= customers_path %>>
                            <%= I18n.t('.activerecord.models.customer').pluralize %>
                          </a>
                        </li>
                        <li>
                          <a href=<%= discount_profiles_path %>>
                            <%= I18n.t('.activerecord.models.discount_profile') %>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <a href="">
      <i class="icon-th"></i>
        <span>
          Cuentas por cobrar
        </span>
      </a>
    </li>
    <li>
      <a href="">
      <i class="icon-th"></i>
        <span>
          Cuentas por pagar
        </span>
      </a>
    </li>
    <li class="accordion-menu">
      <a class="accordion-toggle" data-toggle="collapse" href="#contabilidad" data-original-title="">
        <i class="icon-list"></i>
        <span>
          Contabilidad
          <i class="icon-chevron-down pull-right"></i>
        </span>
      </a>
      <div id="contabilidad" class="accordion-body collapse dropdown">
        <div class="accordion-inner">
          <ul class="nav nav-list">
            <li>
              <a href=<%= cost_centers_path %>>
                <%= I18n.t('.activerecord.models.cost_center').pluralize  %>
              </a>
            </li>
            <li>
              <a href=<%= ledger_accounts_path %>>
                <%= I18n.t('.activerecord.models.ledger_account').pluralize  %>
              </a>
            </li>
            <li>
              <a href=<%= taxes_path %>>
                <%= I18n.t('.activerecord.models.taxis').pluralize  %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    </li>
    <li>
      <a href="">
        <i class="icon-th"></i>
        <span>
          Caja y banco
        </span>
      </a>
    </li>
    </li>
    <li class="accordion-menu">
      <a class="accordion-toggle last" data-toggle="collapse" href="#configuracion" data-original-title="">
        <i class="icon-check"></i>
        <span>
          <%= I18n.t('.activerecord.models.configuration.other').capitalize %>
          <i class="icon-chevron-down pull-right"></i>
        </span>
      </a>
      <div id="configuracion" class="accordion-body collapse dropdown">
        <div class="accordion-inner">
          <ul class="nav nav-list">
            <li>
              <a href=<%= payment_options_path %>>
                <%= I18n.t('.activerecord.models.payment_option').pluralize %>
              </a>
            </li>
            <li>
              <a href=<%= document_numbers_path %>>
                <%= I18n.t('.activerecord.models.document_number') %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>