<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= @title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="description" content="<%= @title %>">
		<meta name="author" content="The Red Team">

		<%= render 'layouts/stylesheets' %>
		<%= render 'layouts/javascripts' %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	
	<% if user_signed_in? %>
		<body class="infobar-offcanvas">
			<%= render 'layouts/header'%>
			<div id="wrapper">
				<div id="layout-static">
					<%= render 'layouts/static_sidebar'%>
					<div class="static-content-wrapper">
						<div class="static-content">
							<div class="page-content">
								<%= yield %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	<% else%>
		<body class="focused-form">
			<%= yield %>
		</body>
	<% end %>
</html>