<script type="text/javascript">
	var centro_costos = [];
  <% @centro_de_costos.each do |cc| %>
		centro_costos.push(new Array(
      '<%= cc.icentro_costo.blank? ? 0 : cc.icentro_costo %>',
      '<%=h cc.nombre_cc %>',
      '<%= cc.icc_padre.blank? ? 0 : cc.icc_padre %>',
      <%= cc.id %>
    ));
  <% end %>
</script>
<%- model_class = CentroDeCosto -%>
<%= javascript_include_tag 'centro_costos/sync_cc' %>
<%= javascript_include_tag 'centro_costos/treeview' %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %>
    <button id="sync-cc" class="btn btn-primary pull-right">
      <i class='icon-refresh'></i>
    </button>
  </h1>
</div>
<!--
<table class="table table-striped" id="cc-data">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:iempresa) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="treeview">
    <% @centro_de_costos.each do |centro_de_costo| %>
      <tr>
        <td><%= centro_de_costo.nombre_cc %></td>
				<td><%= centro_de_costo.icentro_costo %></td>
        <td><%= centro_de_costo.nombre_cc %></td>
        <td><%= centro_de_costo.icc_padre %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_centro_de_costo_path(centro_de_costo), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      centro_de_costo_path(centro_de_costo),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
						-->
<div id="list"></div>
<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_centro_de_costo_path,
            :class => 'btn btn-primary' %>-->
<!--	
<ul>
	<li>1</li>
	<ul>
		<li>1.1</li>
	</ul>
</ul>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>-->
